# Lab: Inferential statistics - ANOVA

In [49]:
import pandas as pd

import statsmodels.api as sm
from statsmodels.formula.api import ols

## Part 1

In [50]:
data = pd.read_excel('anova_lab_data.xlsx')

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   Etching Rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [54]:
# because the column name 'Power' has a SPACE at the end and a space between
# 'Etching Rate', we will standarisethe name:

data.rename(columns = {'Power ': 'Power', 'Etching Rate': 'Etching_Rate'}, inplace = True)

In [55]:
data

    Power  Etching_Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

### Null hypothesis:

If we are looking the NULL hypothesis, we would guess that increasing or not the power, there would be **NO** effect on the etching rate by the machine (there is no difference among group means).

### Alternate hypothesis:

In contrast of the null hypothesis, the ALTERNATIVE guesses would be there **IS** effect on the etching rate by the machine.

### Significance level:

It would depend if any group differs significantly from the overall group mean.

*It is calculated using the **F** statistic. If the F statistic is higher than the critical value (usually 0.05), then the difference among groups is statistically significant.*

### Degrees of freedom of model, error terms and total DoF:

Degrees of freedom of an estimate is the number of independent pieces of information that went into calculating the estimate. It is always substracted one element of the sample. 

In this case (checking the excel file), there were 2 degrees in 'Power' and 12 degrees of variability within the groups (error). About the total of DoF, is the sum between the degrees of freedom (2) and those from error (12) = 14 in total.

## Part 2

In [56]:
from scipy.stats import ttest_1samp

In [57]:
for x in data['Power']:
    num = x[:3]
    data['Power'] = data['Power'].replace(x, num)

In [58]:
data['Power'] = data['Power'].astype(int)

In [59]:
data['Power']

0     160
1     180
2     200
3     160
4     180
5     200
6     160
7     180
8     200
9     160
10    180
11    200
12    160
13    180
14    200
Name: Power, dtype: int32

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     int32
 1   Etching_Rate  15 non-null     float64
dtypes: float64(1), int32(1)
memory usage: 308.0 bytes

In [65]:
model = ols('Etching_Rate ~ C(Power)', data = data). fit()

In [66]:
results_table = sm.stats.anova_lm(model)

In [67]:
results_table

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

The p-value we got means that is significant because is less than 0.05. Therefore, there are significant differences among the groups.