# Lluis Badia - SQL Queries using Python

## Importing libraries:

In [1]:
# Importing the necessary libraries:

import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass            # password hiding tool
from IPython.display import display

## Odd numbers question:

In [2]:
# Odd numbers:

for x in range(0, 201):
    if "5" not in str(x) and x % 2 == 1:
        print(x)

1
3
7
9
11
13
17
19
21
23
27
29
31
33
37
39
41
43
47
49
61
63
67
69
71
73
77
79
81
83
87
89
91
93
97
99
101
103
107
109
111
113
117
119
121
123
127
129
131
133
137
139
141
143
147
149
161
163
167
169
171
173
177
179
181
183
187
189
191
193
197
199

## Importing CSV files:

In [3]:
# Importing CSV files. Therefore, we can make queries through python:
facturation = pd.read_csv('facturation_test.csv')
algo = pd.read_csv('algo_test.csv', sep = ';')

## Renaming the client id columns from both files:

Therefore, is possible to do a merge (in Python, not in MySQL):

In [4]:
new_f = {'numero_client': 'client_id'}
facturation.rename(columns = new_f, inplace = True)

In [5]:
new_a = {'id': 'client_id'}
algo.rename(columns = new_a, inplace = True)

In [6]:
facturation.columns

Index(['id', 'numero_facture', 'pnr', 'client_id', 'pays', 'date_facturation',
       'activite', 'type', 'montant_vente', 'nom_voyageur', 'description',
       'description_2', 'trajet_origine_destination', 'pays_destination',
       'prestataire', 'date_depart', 'date_retour'],
      dtype='object')

In [7]:
algo.columns

Index(['client_id', 'pays', 'nom_groupe', 'nom_entite'], dtype='object')

In [8]:
# Merging both CSV files:

merged = facturation.merge(algo, on = 'client_id', how = 'inner')

In [9]:
merged.head()

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
0,13096322,F-6200062442,O3W46D,1122,FR,08/02/2018,4,F,225.77,Jean-Jacques|GOLDMAN,Location Voiture ENTERPRISE LYON,LYON,LYON / LYON,FRANCE,ENTERPRISE,04/03/2018,04/04/2018,FR,MICROSOFT,MICROSOFT
1,13096323,F-6200062442,O3W46D,1122,FR,08/02/2018,6,F,0.00,FRAIS RESA VOITURE ONLINE,Emission Location Voiture ENTERPRISE LYON,NaN,LYON / LYON,FRANCE,FRAIS RESA VOITURE ONLINE,04/03/2018,04/04/2018,FR,MICROSOFT,MICROSOFT
2,13097373,F-6200062452,S8TFEH,1122,FR,08/02/2018,4,F,119.99,Johnny|HALLYDAY,Location Voiture ENTERPRISE BORDEAUX,BORDEAUX,BORDEAUX / BORDEAUX,FRANCE,ENTERPRISE,04/11/2018,04/13/2018,FR,MICROSOFT,MICROSOFT
3,13097374,F-6200062452,S8TFEH,1122,FR,08/02/2018,6,F,0.00,FRAIS RESA VOITURE ONLINE,Emission Location Voiture ENTERPRISE BORDEAUX,NaN,BORDEAUX / BORDEAUX,FRANCE,FRAIS RESA VOITURE ONLINE,04/11/2018,04/13/2018,FR,MICROSOFT,MICROSOFT
4,13097375,F-6200062454,Q7626D,1122,FR,08/02/2018,4,F,109.62,Michel|SARDOU,Location Voiture ENTERPRISE PARIS,PARIS,PARIS / PARIS,FRANCE,ENTERPRISE,04/12/2018,04/12/2018,FR,MICROSOFT,MICROSOFT

## MySQL Connection and query testing:

In [10]:
mysql_pw = getpass.getpass()

········

In [11]:
connection_string = 'mysql+pymysql://lbadia:' + mysql_pw + '@127.0.0.1:3306/test_sql'
engine = create_engine(connection_string)

In [12]:
testing = pd.read_sql_query('Select * from facturation_test limit 1', engine)
testing

,id,numero_facture,pnr,numero_client,pays,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour
0,13096322,F-6200062442,O3W46D,1122,FR,2018-08-02,4,F,225.77,Jean-Jacques|GOLDMAN,Location Voiture ENTERPRISE LYON,LYON,LYON / LYON,FRANCE,ENTERPRISE,2018-04-03,2018-04-04

In [13]:
testing2 = pd.read_sql_query('Select * from algo_test limit 1', engine)
testing2

     id pays nom_groupe nom_entite
0  1122   FR  MICROSOFT  MICROSOFT

## Questions:

### Client:

Which SQL request would you do in order to obtain the air expenses in € per Customer group month by months (from invoice date) on the entire data set?

In [14]:
# SQL query:
client = pd.read_sql_query("select a.nom_groupe, round(sum(f.montant_vente) * 0.90909, 2) as air_expenses, date_format(f.date_facturation, '%%M') as month from algo_test a inner join facturation_test f on a.id = f.numero_client where f.activite = 5 group by nom_groupe, date_facturation", engine)
client

    nom_groupe  air_expenses   month
0     AFFLELOU       6362.27  August
1      TOYSRUS       6362.27  August
2         NIKE        631.54  August
3     AFFLELOU       3078.77  August
4      TOYSRUS       3078.77  August
..         ...           ...     ...
114  MICROSOFT        153.00  August
115  MICROSOFT        105.40  August
116  MICROSOFT        502.66  August
117  MICROSOFT        145.97  August
118  MICROSOFT        800.61  August

[119 rows x 3 columns]

In [22]:
# To get the air expenses in EUR grouped by 'nom_groupe':
merged_eur = merged
merged_eur['montant_vente'] = 0.90909 * merged_eur['montant_vente']
group_by = merged_eur[merged_eur['activite'] == 5].groupby('nom_groupe').apply(display)
group_by

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1947,13110117,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,464.322644,Jacques|DUTRONC,SHENYANG / NANKING,Economy,SHENYANG / NANKING,CHINE,CHINA EASTERN AIRLINES,08/21/2018,08/21/2018,FR,AFFLELOU,AFFLELOU
1949,13110118,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,3695.456869,Jacques|DUTRONC,GENEVE / FRANKFURT / SHENYANG - SHANGHAI / FRA...,Economy,GENEVE / SHENYANG,CHINE,LUFTHANSA,08/18/2018,08/24/2018,FR,AFFLELOU,AFFLELOU
1959,13114444,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,135.484355,Dave,MANCHESTER / AMSTERDAM / HANOVER,Economy,MANCHESTER / HANOVER,ALLEMAGNE,KLM,09/10/2018,09/10/2018,FR,AFFLELOU,AFFLELOU
1961,13114445,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,83.296179,Dave,HANOVER / MANCHESTER,Economy,HANOVER / MANCHESTER,ALLEMAGNE,FLYBE,09/11/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
1969,13115110,F-2210004562,KFPYRI,231,CH,08/03/2018,5,F,185.716639,Marc|LAVOINE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,08/25/2018,09/03/2018,FR,AFFLELOU,AFFLELOU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3591,13538925,F-2210010546,S6LTRQ,231,FR,09/27/2018,5,F,107.667219,Aretha|FRANKLIN,BEIJING / SHENYANG,Economy,BEIJING / SHENYANG,CHINE,AIR CHINA,10/22/2018,10/22/2018,FR,AFFLELOU,AFFLELOU
3597,13540151,F-2210010552,NaN,231,CH,09/27/2018,5,F,1408.801346,Brett|HOFFMAN,Zurich Los Angeles,Economy,GENEVE / PHOENIX,ETATS-UNIS,LUFTHANSA,11/26/2018,11/26/2018,FR,AFFLELOU,AFFLELOU
3601,13550065,F-2210010554,LCB6Y2,231,FR,09/28/2018,5,F,425.794668,Billie|HOLIDAY,ZURICH / BEIJING - HONG KONG / ZURICH,Economy,ZURICH / BEIJING,CHINE,SWISS,11/11/2018,11/21/2018,FR,AFFLELOU,AFFLELOU
3609,13550514,F-2210010545,LGQ64O,231,CH,09/28/2018,5,F,146.567745,Jon|BUNCH,LONDRES / ZURICH,Economy,LONDRES / ZURICH,SUISSE,SWISS,10/19/2018,10/19/2018,FR,AFFLELOU,AFFLELOU
3623,13591606,F-2210010645,NaN,231,CH,09/26/2018,5,F,5607.015696,NaN,GENEVE / FRANKFURT / PHILADELPHIA / FRANKFURT ...,Economy,GENEVE / PHILADELPHIA,ETATS-UNIS,LUFTHANSA,10/03/2018,10/06/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
184,13310276,F-1140125211,ODEJI3,1122,FR,09/07/2018,5,F,129.740862,Jim|NABORS,LYON / BORDEAUX,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,09/11/2018,09/11/2018,FR,MICROSOFT,MICROSOFT
327,13343242,F-6200050091,KEOQFN,1122,FR,09/11/2018,5,F,199.687299,Dennis|EDWARDS,MARSEILLE / BORDEAUX,Economy,MARSEILLE / BORDEAUX,FRANCE,AIR FRANCE,09/14/2018,09/14/2018,FR,MICROSOFT,MICROSOFT
338,13350615,F-6200050241,JXLTJO,1122,FR,09/12/2018,5,F,146.915460,Little|JIMMY|DICKENS,PARIS / SEVILLA AR,Economy,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,09/24/2018,09/28/2018,FR,MICROSOFT,MICROSOFT
340,13350617,F-6200050242,JY6L5R,1122,FR,09/12/2018,5,F,268.435364,Etta|JAMES,PARIS / SEVILLA AR,First,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,09/24/2018,09/28/2018,FR,MICROSOFT,MICROSOFT
347,13354246,F-6200050296,MNX6DA,1122,FR,09/12/2018,5,F,124.872863,Lil|PEEP,PARIS / BARCELONA AR,Economy,PARIS / BARCELONA,ESPAGNE,IBERIA,09/17/2018,09/19/2018,FR,MICROSOFT,MICROSOFT
440,13397344,F-6200051525,PNTAVE,1122,FR,09/15/2018,5,F,239.003841,Patricia|MORISON,PAU / PARIS AR,Economy,PAU / PARIS,FRANCE,AIR FRANCE,09/26/2018,09/26/2018,FR,MICROSOFT,MICROSOFT
499,13411574,F-6200051494,LWGA3U,1122,FR,09/17/2018,5,F,67.630412,Lou|REED,PAU / PARIS AR,Economy,PAU / PARIS,FRANCE,AIR FRANCE,10/23/2018,10/24/2018,FR,MICROSOFT,MICROSOFT
564,13441743,F-6200052456,QJQ2WU,1122,FR,09/20/2018,5,F,60.042792,Etta|JAMES,PARIS / SEVILLA,Economy,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,10/02/2018,10/02/2018,FR,MICROSOFT,MICROSOFT
566,13441753,F-6200052460,QK254Y,1122,FR,09/20/2018,5,F,60.042792,Little|JIMMY|DICKENS,PARIS / SEVILLA,Economy,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,10/02/2018,10/02/2018,FR,MICROSOFT,MICROSOFT
571,13443298,F-6200052922,KL7LNS,1122,FR,09/20/2018,5,F,260.959509,Dennis|EDWARDS,BORDEAUX / LYON / METZ,Economy,BORDEAUX / METZ,FRANCE,AIR FRANCE,09/24/2018,09/24/2018,FR,MICROSOFT,MICROSOFT
637,13471584,F-6200052556,TTH76O,1122,FR,09/23/2018,5,F,126.549342,Jim|NABORS,BORDEAUX / LYON,Economy,BORDEAUX / LYON,FRANCE,AIR FRANCE,10/04/2018,10/04/2018,FR,MICROSOFT,MICROSOFT
777,13507652,F-6200054510,TADU6S,1122,FR,09/26/2018,5,F,133.342187,Elaine|STRITCH,LYON / BORDEAUX AR,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,10/08/2018,10/09/2018,FR,MICROSOFT,MICROSOFT
804,13520367,F-6200055122,PJPSX5,1122,FR,09/27/2018,5,F,107.791403,Peter|STEELE,MARSEILLE / BORDEAUX,Economy,MARSEILLE / BORDEAUX,FRANCE,AIR FRANCE,10/08/2018,10/08/2018,FR,MICROSOFT,MICROSOFT
806,13520373,F-6200055126,TUU79H,1122,FR,09/27/2018,5,F,84.413832,Tommy|KEENE,LYON / BORDEAUX,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,10/08/2018,10/08/2018,FR,MICROSOFT,MICROSOFT
848,13548543,F-6200055522,LBCP5B,1122,FR,09/28/2018,5,F,237.488800,Wayne|STATIC,METZ / LYON / TOULOUSE / LYON / METZ,Economy,METZ / TOULOUSE,FRANCE,AIR FRANCE,10/08/2018,10/11/2018,FR,MICROSOFT,MICROSOFT
867,13553491,F-6200055459,L3XWOW,1122,FR,09/28/2018,5,F,237.488800,Ray|CHARLES,METZ / LYON / TOULOUSE / LYON / METZ,Economy,METZ / TOULOUSE,FRANCE,AIR FRANCE,10/08/2018,10/11/2018,FR,MICROSOFT,MICROSOFT
1061,13597988,F-6200062122,TM5QAU,1122,FR,08/07/2018,5,F,85.438347,Michel|POLNAREFF,MARSEILLE / BORDEAUX,Economy,MARSEILLE / BORDEAUX,FRANCE,AIR FRANCE,08/22/2018,08/22/2018,FR,MICROSOFT,MICROSOFT
1067,13597994,F-6200062165,TNGQAQ,1122,FR,08/07/2018,5,F,357.754450,Teri|MOÃSE,CAEN / LYON / PAU / LYON / CAEN,Economy,CAEN / PAU,FRANCE,AIR FRANCE,09/06/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1097,13598030,F-6200062441,VHPAQ8,1122,FR,08/10/2018,5,F,260.959509,Dennis|EDWARDS,BORDEAUX / LYON / METZ,Economy,BORDEAUX / METZ,FRANCE,AIR FRANCE,08/20/2018,08/20/2018,FR,MICROSOFT,MICROSOFT
1122,13598072,F-6200064095,STOWGK,1122,FR,08/13/2018,5,F,82.538659,Doc|WATSON,Modification MUMBAI / VADODARA AR,Economy,MUMBAI / VADODARA,INDE,JET AIRWAYS,08/24/2018,08/24/2018,FR,MICROSOFT,MICROSOFT
1154,13598117,F-6200064424,MGA8AH,1122,FR,08/16/2018,5,F,949.470885,Lil|PEEP,PARIS / BOSTON / NEW YORK / PARIS,Economy,PARIS / BOSTON,ETATS-UNIS,AIR FRANCE,08/21/2018,08/23/2018,FR,MICROSOFT,MICROSOFT
1245,13598236,F-6200065125,NIXSVG,1122,FR,08/21/2018,5,F,198.538600,Jim|NABORS,LYON / BORDEAUX AR,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,08/29/2018,08/31/2018,FR,MICROSOFT,MICROSOFT
1248,13598239,F-6200065200,NKQE7N,1122,FR,08/22/2018,5,F,104.500536,Jim|NABORS,LYON / PAU AR,Economy,LYON / PAU,FRANCE,AIR FRANCE,09/04/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1337,13598365,F-6200065552,QDUK4S,1122,FR,08/24/2018,5,F,71.989258,Rick|NELSON,PAU / LYON / METZ,Economy,PAU / METZ,FRANCE,AIR FRANCE,10/25/2018,10/25/2018,FR,MICROSOFT,MICROSOFT
1394,13598445,F-6200066144,KYISWD,1122,FR,08/27/2018,5,F,133.342187,Michel|SARDOU,BORDEAUX / LYON AR,Economy,BORDEAUX / LYON,FRANCE,AIR FRANCE,09/12/2018,09/13/2018,FR,MICROSOFT,MICROSOFT
1397,13598448,F-6200066145,L468YP,1122,FR,08/27/2018,5,F,209.982123,Cab|CALLOWAY,PARIS / PAU AR,Economy,PARIS / PAU,FRANCE,AIR FRANCE,09/06/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1423,13598521,F-6200066456,QDGHG5,1122,FR,08/29/2018,5,F,99.700838,Rick|NELSON,PARIS / PAU,Economy,PARIS / PAU,FRANCE,AIR FRANCE,10/24/2018,10/24/2018,FR,MICROSOFT,MICROSOFT
1447,13598555,F-6200066404,TNGQAQ,1122,FR,08/30/2018,5,F,43.464275,Teri|MOÃSE,SIEGE SUPPLEMENTAIRE,Economy,CAEN / PAU,FRANCE,AIR FRANCE,09/05/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1448,13598556,F-6200066404,TNGQAQ,1122,FR,08/30/2018,5,F,137.607896,Teri|MOÃSE,Modification CAEN / LYON / PAU / LYON / CAEN,Economy,CAEN / PAU,FRANCE,AIR FRANCE,09/05/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1455,13598577,F-6200066924,J6M558,1122,FR,08/30/2018,5,F,208.473292,Chris|CORNELL,PARIS / BILBAO AR,Economy,PARIS / BILBAO,ESPAGNE,AIR FRANCE,09/04/2018,09/06/2018,FR,MICROSOFT,MICROSOFT
1466,13598592,F-6200065000,VJN5EX,1122,FR,08/30/2018,5,F,157.278585,Jim|NABORS,LYON / PAU AR,Economy,LYON / PAU,FRANCE,AIR FRANCE,09/17/2018,09/21/2018,FR,MICROSOFT,MICROSOFT

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1512,13112495,F-1140124220,TAWJDJ,7026,FR,08/01/2018,5,F,214.738357,Alain|BASHUNG,PARIS / MUNICH,Economy,PARIS / MUNICH,ALLEMAGNE,AIR FRANCE,08/09/2018,08/09/2018,FR,NIKE,CONVERSE
1522,13125891,F-9240000041,K7H5VG,7026,FR,08/03/2018,5,F,127.331699,Yannick|NOAH,PARIS / ZURICH AR,Economy,PARIS / ZURICH,SUISSE,AIR FRANCE,09/28/2018,09/28/2018,FR,NIKE,CONVERSE
1536,13126925,F-9240000055,TRDHBI,7026,FR,08/01/2018,5,F,216.607321,Pierre|BACHELET,PARIS / BREMEN AR,First,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/10/2018,09/13/2018,FR,NIKE,CONVERSE
1554,13126946,F-9240000094,K92LGM,7026,FR,08/03/2018,5,F,218.091315,Julien|DORÃ‰,RENNES / PARIS / AMSTERDAM / RENNES,Economy,RENNES / AMSTERDAM,PAYS-BAS,AIR FRANCE,09/12/2018,09/14/2018,FR,NIKE,CONVERSE
1557,13139283,F-9240000222,LGO23A,7026,FR,08/09/2018,5,F,373.774140,Eddy|MITCHELL,PARIS / HAMBURG AR,Economy,PARIS / HAMBURG,ALLEMAGNE,AIR FRANCE,08/21/2018,08/23/2018,FR,NIKE,CONVERSE
1566,13141734,F-9240000241,NCYISS,7026,FR,08/10/2018,5,F,250.292134,Adamo,BORDEAUX / AJACCIO AR,First,BORDEAUX / AJACCIO,FRANCE,AIR FRANCE,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1568,13141736,F-9240000242,NCY2QV,7026,FR,08/10/2018,5,F,101.271761,Michel|DELPECH,BORDEAUX / AJACCIO AR,Economy,BORDEAUX / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1570,13141738,F-9240000242,NAE42H,7026,FR,08/10/2018,5,F,101.271761,Michel|FUGAIN,BORDEAUX / AJACCIO AR,Economy,BORDEAUX / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1572,13141740,F-9240000244,NCYFMP,7026,FR,08/10/2018,5,F,101.271761,Gilbert|MONTAGNÃ‰,BORDEAUX / AJACCIO AR,Economy,BORDEAUX / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1575,13142404,F-9240000290,N9NG3W,7026,FR,08/10/2018,5,F,74.826855,Pierre|PERRET,NANTES / AJACCIO AR,Economy,NANTES / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1603,13144841,A-9240000042,TRDHBI,7026,FR,08/10/2018,5,A,-216.607321,Pierre|BACHELET,PARIS / BREMEN AR,First,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/10/2018,09/13/2018,FR,NIKE,CONVERSE
1623,13175845,F-9240000540,S2GWGV,7026,FR,08/22/2018,5,F,342.597836,BRUEL|PATRICK,PARIS / COPENHAGEN / STAVANGER / OSLO / PARIS,Economy,PARIS / STAVANGER,NORVEGE,SCANDINAVIAN AIRLINE,08/28/2018,08/31/2018,FR,NIKE,CONVERSE
1642,13175993,F-9240000142,K24JAQ,7026,FR,08/08/2018,5,F,218.091315,Bill|DEES,RENNES / PARIS / AMSTERDAM / RENNES,Economy,RENNES / AMSTERDAM,PAYS-BAS,AIR FRANCE,09/12/2018,09/14/2018,FR,NIKE,CONVERSE
1645,13176320,F-9240000142,RDRBOJ,7026,FR,08/08/2018,5,F,196.737938,Billy|PAUL,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,08/20/2018,08/22/2018,FR,NIKE,CONVERSE
1657,13184747,F-9240000654,SJQ9BO,7026,FR,08/23/2018,5,F,117.937206,Blowfly,PARIS / VARSOVIE AR,Economy,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE
1688,13224846,F-9240000950,OHDEEC,7026,FR,08/30/2018,5,F,143.779823,Dan|HICKS,PORTO / FRANKFURT,Economy,PORTO / FRANKFURT,ALLEMAGNE,LUFTHANSA,09/13/2018,09/13/2018,FR,NIKE,CONVERSE
1692,13228476,F-9240000944,RDLYA5,7026,FR,08/30/2018,5,F,95.106044,Danny|KAYE,MARSEILLE / PARIS AR,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,10/10/2018,10/12/2018,FR,NIKE,CONVERSE
1696,13229044,F-9240000991,VJSKVH,7026,FR,08/30/2018,5,F,498.255824,Billy|PAUL,PARIS / VARSOVIE AR,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1771,13266936,F-9240001255,SO549K,7026,FR,09/04/2018,5,F,240.202213,Evelyn|LEAR,PARIS / BREMEN AR,Premium,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1775,13268415,F-9240001245,VSO76B,7026,FR,09/04/2018,5,F,97.167492,Gil|SCOTT|HERON,ZURICH / VARSOVIE,Economy,ZURICH / VARSOVIE,POLOGNE,SWISS,10/08/2018,10/08/2018,FR,NIKE,CONVERSE
1777,13268417,F-9240001246,VSO76B,7026,FR,09/04/2018,5,F,75.832742,Gil|SCOTT|HERON,VARSOVIE / ZURICH,Economy,VARSOVIE / ZURICH,POLOGNE,LOT POLISH AIRLINES,10/11/2018,10/11/2018,FR,NIKE,CONVERSE
1781,13275686,F-9240001222,V374P5,7026,FR,09/05/2018,5,F,92.131845,Janis|JOPLIN,BORDEAUX / PARIS AR,Economy,BORDEAUX / PARIS,FRANCE,AIR FRANCE,10/10/2018,10/12/2018,FR,NIKE,CONVERSE
1784,13283398,F-9240001245,LCBROF,7026,FR,09/06/2018,5,F,300.431280,Jimmy|RUFFIN,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,10/16/2018,10/18/2018,FR,NIKE,CONVERSE
1794,13313699,F-9240001429,ODWCJA,7026,FR,09/07/2018,5,F,356.512613,Johnny|WINTER,POZNAN / VARSOVIE / VIENNE / VARSOVIE / POZNAN,Economy,POZNAN / VIENNE,AUTRICHE,LOT POLISH AIRLINES,09/17/2018,09/18/2018,FR,NIKE,CONVERSE
1806,13348654,A-9240000122,SO549K,7026,FR,09/11/2018,5,A,-240.202213,Evelyn|LEAR,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1815,13348823,F-9240001569,SO549K,7026,FR,09/11/2018,5,F,310.601920,Evelyn|LEAR,PARIS / BREMEN AR,Premium,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1819,13348827,F-9240001554,KRDH4F,7026,FR,09/11/2018,5,F,267.684053,Lynn|ANDERSON,PARIS / COPENHAGEN AR,Economy,PARIS / COPENHAGEN,DANEMARK,SCANDINAVIAN AIRLINE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1859,13417775,F-9240002025,SJQ9BO,7026,FR,09/18/2018,5,F,373.451262,Blowfly,Modification PARIS / VARSOVIE AR,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE
1860,13417776,F-9240002025,SJQ9BO,7026,FR,09/18/2018,5,F,43.464275,Blowfly,SIEGE SUPPLEMENTAIRE,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE
1876,13446884,F-9240002222,SPWTUR,7026,FR,09/20/2018,5,F,70.436963,Roy|ORBISON,GOTHENBURG / PARIS / OSLO,Economy,GOTHENBURG / OSLO,NORVEGE,AIR FRANCE,10/24/2018,01/24/2019,FR,NIKE,CONVERSE
1877,13446885,F-9240002222,UBD6NO,7026,FR,09/20/2018,5,F,337.233103,Roy|ORBISON,PARIS / COPENHAGEN - OSLO / PARIS,Premium,PARIS / COPENHAGEN,NORVEGE,AIR FRANCE,10/22/2018,01/22/2019,FR,NIKE,CONVERSE
1907,13491537,F-9240002511,QU7WDA,7026,FR,09/25/2018,5,F,49.040121,Davy|JONES,LONDRES / BASEL,Economy,LONDRES / BASEL,SUISSE,BRITISH AIRWAYS,10/03/2018,10/03/2018,FR,NIKE,CONVERSE
1924,13511768,F-9240002514,MPFRAD,7026,FR,09/25/2018,5,F,151.094239,Eartha|KITT,STRASBOURG / NICE - MARSEILLE / STRASBOURG,Economy,STRASBOURG / NICE,FRANCE,VOLOTEA,09/25/2018,09/27/2018,FR,NIKE,CONVERSE
1935,13537719,F-9240002525,IWWTBW,7026,FR,09/27/2018,5,F,176.868555,BRUEL|PATRICK,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,11/12/2018,11/16/2018,FR,NIKE,CONVERSE
3628,13175762,F-9240000555,NLJ46G,7024,FR,08/22/2018,5,F,154.869422,Betty|HUTTON,MARSEILLE / PARIS AR,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,09/17/2018,09/19/2018,FR,NIKE,NIKE
3630,13178831,F-9240000614,PXIFF9,7024,FR,08/22/2018,5,F,621.955152,Bing|CROSBY,TOULOUSE / PARIS AR,First,TOULOUSE / NEW DELHI,FRANCE,EASYJET,09/17/2018,09/19/2018,FR,NIKE,NIKE
3632,13204132,F-9240000591,OOXBQU,7024,FR,08/27/2018,5,F,189.647051,Bobby|BREEN,PARIS / VARSOVIE AR,Premium,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,NIKE
3640,13246999,F-9240001124,KWW3HN,7024,FR,08/31/2018,5,F,249.248991,Betty|HUTTON,MARSEILLE / PARIS / MARSEILLE,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,09/05/2018,09/06/2018,FR,NIKE,NIKE
3656,13361597,F-9240001662,NBBKG5,7024,FR,09/12/2018,5,F,189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3658,13361617,F-9240001664,NBBIDX,7024,FR,09/12/2018,5,F,73.659528,Marni|NIXON,BERLIN / PARIS,First,BERLIN / PARIS,BOLIVIE,AIR FRANCE,12/19/2018,12/19/2018,FR,NIKE,NIKE
3660,13362231,A-9240000129,NBBKG5,7024,FR,09/12/2018,5,A,-189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3663,13362234,A-9240000140,NBBIDX,7024,FR,09/12/2018,5,A,-73.659528,Marni|NIXON,BERLIN / PARIS,Economy,BERLIN / PARIS,FRANCE,AIR FRANCE,12/19/2018,12/19/2018,FR,NIKE,NIKE
3672,13391533,F-9240001420,S4BP6M,7024,FR,09/14/2018,5,F,189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3674,13394523,F-9240001452,S9YGPH,7024,FR,09/14/2018,5,F,126.350648,Marni|NIXON,BRUXELLES / AMSTERDAM / PARIS,Economy,BRUXELLES / PARIS,FRANCE,AIR FRANCE,01/17/2019,01/17/2019,FR,NIKE,NIKE
3676,13395109,A-9240000155,S4BP6M,7024,FR,09/14/2018,5,A,-189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3679,13395112,A-9240000156,S9YGPH,7024,FR,09/14/2018,5,A,-126.350648,Marni|NIXON,BRUXELLES / AMSTERDAM / PARIS,Economy,BRUXELLES / PARIS,FRANCE,AIR FRANCE,01/17/2019,01/17/2019,FR,NIKE,NIKE
3684,13429819,F-9240002120,NLJ46G,7024,FR,09/19/2018,5,F,68.301004,Betty|HUTTON,Modification PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3685,13429820,F-9240002120,NLJ46G,7024,FR,09/19/2018,5,F,31.045911,Betty|HUTTON,SIEGE SUPPLEMENTAIRE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3691,13467319,F-9240002402,VS7KVJ,7024,FR,09/21/2018,5,F,358.580271,Savannah|CHURCHILL,PARIS / MONTPELLIER AR,Economy,PARIS / MONTPELLIER,FRANCE,AIR FRANCE,09/26/2018,09/27/2018,FR,NIKE,NIKE
3695,13538253,F-9240002525,J4JFCD,7024,FR,09/27/2018,5,F,249.248991,Betty|HUTTON,MARSEILLE / PARIS / MARSEILLE,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,10/02/2018,10/03/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1946,13110117,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,464.322644,Jacques|DUTRONC,SHENYANG / NANKING,Economy,SHENYANG / NANKING,CHINE,CHINA EASTERN AIRLINES,08/21/2018,08/21/2018,CH,TOYSRUS,TOYSRUS
1948,13110118,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,3695.456869,Jacques|DUTRONC,GENEVE / FRANKFURT / SHENYANG - SHANGHAI / FRA...,Economy,GENEVE / SHENYANG,CHINE,LUFTHANSA,08/18/2018,08/24/2018,CH,TOYSRUS,TOYSRUS
1958,13114444,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,135.484355,Dave,MANCHESTER / AMSTERDAM / HANOVER,Economy,MANCHESTER / HANOVER,ALLEMAGNE,KLM,09/10/2018,09/10/2018,CH,TOYSRUS,TOYSRUS
1960,13114445,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,83.296179,Dave,HANOVER / MANCHESTER,Economy,HANOVER / MANCHESTER,ALLEMAGNE,FLYBE,09/11/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
1968,13115110,F-2210004562,KFPYRI,231,CH,08/03/2018,5,F,185.716639,Marc|LAVOINE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,08/25/2018,09/03/2018,CH,TOYSRUS,TOYSRUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3590,13538925,F-2210010546,S6LTRQ,231,FR,09/27/2018,5,F,107.667219,Aretha|FRANKLIN,BEIJING / SHENYANG,Economy,BEIJING / SHENYANG,CHINE,AIR CHINA,10/22/2018,10/22/2018,CH,TOYSRUS,TOYSRUS
3596,13540151,F-2210010552,NaN,231,CH,09/27/2018,5,F,1408.801346,Brett|HOFFMAN,Zurich Los Angeles,Economy,GENEVE / PHOENIX,ETATS-UNIS,LUFTHANSA,11/26/2018,11/26/2018,CH,TOYSRUS,TOYSRUS
3600,13550065,F-2210010554,LCB6Y2,231,FR,09/28/2018,5,F,425.794668,Billie|HOLIDAY,ZURICH / BEIJING - HONG KONG / ZURICH,Economy,ZURICH / BEIJING,CHINE,SWISS,11/11/2018,11/21/2018,CH,TOYSRUS,TOYSRUS
3608,13550514,F-2210010545,LGQ64O,231,CH,09/28/2018,5,F,146.567745,Jon|BUNCH,LONDRES / ZURICH,Economy,LONDRES / ZURICH,SUISSE,SWISS,10/19/2018,10/19/2018,CH,TOYSRUS,TOYSRUS
3622,13591606,F-2210010645,NaN,231,CH,09/26/2018,5,F,5607.015696,NaN,GENEVE / FRANKFURT / PHILADELPHIA / FRANKFURT ...,Economy,GENEVE / PHILADELPHIA,ETATS-UNIS,LUFTHANSA,10/03/2018,10/06/2018,CH,TOYSRUS,TOYSRUS

Empty DataFrame
Columns: []
Index: []

### Datas Understanding:

Delete all customer payment and charge lines.

In [23]:
delete = merged.drop(merged[merged.activite == 11].index)
delete2 = merged.drop(merged[merged.activite == 6].index)

### Destination Country:

Get the air expenses by destination country and trip in euros for all entities on all period AUGUST, SEPTEMBER 2018.

In [28]:
# SQL query:
destination = pd.read_sql_query("select a.nom_entite, round(sum(f.montant_vente) * 0.90909, 2) as air_expenses, f.pays_destination from algo_test a inner join facturation_test f on a.id = f.numero_client where f.activite = 5 and f.date_facturation between '2018-08-01' and '2018-09-30' group by a.nom_entite, f.pays_destination", engine)
destination

   nom_entite  air_expenses       pays_destination
0    AFFLELOU      31030.79                  CHINE
1     TOYSRUS      31030.79                  CHINE
2    CONVERSE       2513.77              ALLEMAGNE
3    AFFLELOU       7407.77              ALLEMAGNE
4     TOYSRUS       7407.77              ALLEMAGNE
..        ...           ...                    ...
56       NIKE        107.85                BOLIVIE
57   AFFLELOU        600.27  RUSSIE, FEDERATION DE
58    TOYSRUS        600.27  RUSSIE, FEDERATION DE
59  MICROSOFT        120.85                   INDE
60  MICROSOFT       1390.13             ETATS-UNIS

[61 rows x 3 columns]

In [58]:
# Using python functions:

group_by2 = merged_eur[merged_eur['activite'] == 5].groupby(['nom_entite', 'pays_destination']).apply(display)
group_by2

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2151,13154743,F-2210004450,JTFJ3S,231,FR,08/15/2018,5,F,3876.206162,Georges|BRASSENS,ZURICH / JOHANNESBURG AR,Economy,ZURICH / JOHANNESBURG,AFRIQUE DU SUD,SWISS,10/06/2018,10/11/2018,FR,AFFLELOU,AFFLELOU
2189,13166877,F-2210009029,RRFH48,231,CH,08/20/2018,5,F,2625.521641,Barbara|COOK,ZURICH / LONDRES / JOHANNESBURG / LONDRES / ZU...,Economy,ZURICH / JOHANNESBURG,AFRIQUE DU SUD,BRITISH AIRWAYS,10/06/2018,10/13/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1959,13114444,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,135.484355,Dave,MANCHESTER / AMSTERDAM / HANOVER,Economy,MANCHESTER / HANOVER,ALLEMAGNE,KLM,09/10/2018,09/10/2018,FR,AFFLELOU,AFFLELOU
1961,13114445,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,83.296179,Dave,HANOVER / MANCHESTER,Economy,HANOVER / MANCHESTER,ALLEMAGNE,FLYBE,09/11/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
1999,13123864,F-2210004626,MYLWBW,231,FR,08/07/2018,5,F,121.079053,Nino|FERRER,Modification HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,08/08/2018,08/08/2018,FR,AFFLELOU,AFFLELOU
2117,13153709,F-2210004425,J3E6A3,231,CH,08/14/2018,5,F,166.406083,Nino|FERRER,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/10/2018,FR,AFFLELOU,AFFLELOU
2119,13153710,F-2210004425,J3E6A3,231,CH,08/14/2018,5,F,144.394532,Nino|FERRER,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
2183,13163408,F-2210004994,R256F2,231,FR,08/17/2018,5,F,337.158593,Bankroll|FRESH,HANOVER / ZURICH,Premium,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
2185,13163409,F-2210004994,R256F2,231,FR,08/17/2018,5,F,162.680573,Bankroll|FRESH,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/10/2018,FR,AFFLELOU,AFFLELOU
2287,13176017,F-2210004965,QTMVPY,231,CH,08/17/2018,5,F,210.460230,Nino|FERRER,ZURICH / HANOVER - DUSSELDORF / ZURICH,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/17/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2473,13260981,F-2210004542,UUVU97,231,CH,08/13/2018,5,F,186.834292,Elliott|SMITH,ZURICH / DUSSELDORF AR,Economy,ZURICH / DUSSELDORF,ALLEMAGNE,SWISS,09/11/2018,09/13/2018,FR,AFFLELOU,AFFLELOU
2479,13260984,F-2210004426,JSS47Y,231,FR,08/14/2018,5,F,300.431280,Elliott|SMITH,ZURICH / FRANKFURT AR,Economy,ZURICH / FRANKFURT,ALLEMAGNE,LUFTHANSA,09/24/2018,09/28/2018,FR,AFFLELOU,AFFLELOU
2775,13275434,F-2210004915,MFNNTF,231,CH,08/16/2018,5,F,306.702554,James|COTTON,GENEVE / ZURICH / HANOVER / ZURICH,Economy,GENEVE / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
2811,13275825,F-2210004555,NURGUO,231,CH,08/10/2018,5,F,289.099523,Jason|MOLINA,ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,08/20/2018,08/22/2018,FR,AFFLELOU,AFFLELOU
3029,13326966,F-2210004452,LSHSI7,231,CH,08/15/2018,5,F,187.517302,Lenny|BAKER,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/10/2018,FR,AFFLELOU,AFFLELOU
3031,13326967,F-2210004452,LSHSI7,231,CH,08/15/2018,5,F,123.128083,Lenny|BAKER,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
3211,13369267,F-2210009246,VF2BM7,231,FR,08/28/2018,5,F,170.876694,Melanie|THORNTON,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
3213,13369268,F-2210009246,VF2BM7,231,FR,08/28/2018,5,F,63.675163,Melanie|THORNTON,OSLO / COPENHAGEN / HANOVER,Economy,OSLO / HANOVER,ALLEMAGNE,SCANDINAVIAN AIRLINE,09/10/2018,09/10/2018,FR,AFFLELOU,AFFLELOU
3243,13387975,F-2210010112,RRBOQS,231,CH,09/14/2018,5,F,402.851740,Adam|YAUCH,COLOGNE / MUNICH AR,Economy,COLOGNE / MUNICH,ALLEMAGNE,LUFTHANSA,09/24/2018,09/26/2018,FR,AFFLELOU,AFFLELOU
3309,13408993,F-2210010241,MKXT3U,231,CH,09/17/2018,5,F,199.159519,Claude|NOUGARO,FRANKFURT / BARCELONA,Economy,FRANKFURT / BARCELONA,ALLEMAGNE,LUFTHANSA,09/27/2018,09/27/2018,FR,AFFLELOU,AFFLELOU
3311,13408994,F-2210010241,MKXT3U,231,CH,09/17/2018,5,F,196.831075,Claude|NOUGARO,ZURICH / FRANKFURT,Economy,ZURICH / FRANKFURT,ALLEMAGNE,LUFTHANSA,09/26/2018,09/26/2018,FR,AFFLELOU,AFFLELOU
3335,13411466,F-2210010140,KVQK7I,231,FR,09/17/2018,5,F,568.761088,NaN,ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/24/2018,09/25/2018,FR,AFFLELOU,AFFLELOU
3349,13418213,F-2210010254,NQVESN,231,FR,09/18/2018,5,F,207.386685,Bankroll|FRESH,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,10/09/2018,10/09/2018,FR,AFFLELOU,AFFLELOU
3353,13418215,F-2210010254,NQVESN,231,FR,09/18/2018,5,F,134.956575,Bankroll|FRESH,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,10/10/2018,10/10/2018,FR,AFFLELOU,AFFLELOU
3383,13450594,F-2210010414,KVQK7I,231,FR,09/20/2018,5,F,49.673457,Lenny|BAKER,Modification ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,02/11/2019,02/12/2019,FR,AFFLELOU,AFFLELOU
3453,13477153,F-2210004422,JWSM4B,231,FR,08/14/2018,5,F,310.738522,Sharon|JONES,ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,08/23/2018,08/24/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2197,13169006,F-2210009059,KJNV22,231,CH,08/20/2018,5,F,291.334828,Jean|FERRAT,ZURICH / VIENNE AR,Economy,ZURICH / VIENNE,AUTRICHE,AUSTRIAN,08/21/2018,08/22/2018,FR,AFFLELOU,AFFLELOU
3583,13536583,F-2210010520,UGVUNY,231,FR,09/27/2018,5,F,193.943806,James|COTTON,ZURICH / VIENNE - BUDAPEST / ZURICH,Economy,ZURICH / VIENNE,AUTRICHE,SWISS,10/23/2018,10/25/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2557,13274634,F-2210004952,QREVGJ,231,FR,08/17/2018,5,F,134.863437,Jaco|PASTORIUS,SAULT STE MARIE / TORONTO,Economy,SAULT STE MARIE / TORONTO,CANADA,AIR CANADA,08/31/2018,08/31/2018,FR,AFFLELOU,AFFLELOU
2571,13274641,F-2210009009,OX6A3J,231,CH,08/17/2018,5,F,453.798080,Jaco|PASTORIUS,AGUASCALIENTES / HOUSTON / TORONTO / SAULT STE...,Economy,AGUASCALIENTES / SAULT STE MARIE,CANADA,AIR CANADA,08/29/2018,08/29/2018,FR,AFFLELOU,AFFLELOU
2685,13274701,F-2210009615,SGTD5M,231,CH,09/03/2018,5,F,154.018764,Jackie|WILSON,BOSTON / TORONTO / CALGARY,Economy,BOSTON / CALGARY,CANADA,AIR CANADA,10/10/2018,10/11/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1947,13110117,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,464.322644,Jacques|DUTRONC,SHENYANG / NANKING,Economy,SHENYANG / NANKING,CHINE,CHINA EASTERN AIRLINES,08/21/2018,08/21/2018,FR,AFFLELOU,AFFLELOU
1949,13110118,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,3695.456869,Jacques|DUTRONC,GENEVE / FRANKFURT / SHENYANG - SHANGHAI / FRA...,Economy,GENEVE / SHENYANG,CHINE,LUFTHANSA,08/18/2018,08/24/2018,FR,AFFLELOU,AFFLELOU
2207,13169354,F-2210009064,KDSAVF,231,FR,08/20/2018,5,F,3345.942004,Barry|WHITE,ZURICH / COPENHAGEN / SHANGHAI / COPENHAGEN / ...,Economy,ZURICH / SHANGHAI,CHINE,SCANDINAVIAN AIRLINE,09/02/2018,09/07/2018,FR,AFFLELOU,AFFLELOU
2935,13276246,F-2210009515,IUTANS,231,CH,09/05/2018,5,F,2227.171558,Guru,MILAN / SHANGHAI / BEIJING / MILAN,Economy,MILAN / SHANGHAI,CHINE,AIR CHINA,09/21/2018,09/30/2018,FR,AFFLELOU,AFFLELOU
3105,13328552,F-2210009445,LJUWRA,231,CH,09/10/2018,5,F,525.172629,Aretha|FRANKLIN,ZURICH / HELSINKI-VANTAA / BEIJING / HELSINKI-...,Economy,ZURICH / BEIJING,CHINE,FINNAIR,10/21/2018,10/27/2018,FR,AFFLELOU,AFFLELOU
3135,13349848,F-2210009922,KNHTXG,231,CH,09/11/2018,5,F,5207.920511,Mac|MILLER,ZURICH / SINGAPORE / SHANGHAI / SINGAPORE / ZU...,Economy,ZURICH / SHANGHAI,CHINE,SINGAPORE AIRLINES,09/22/2018,09/28/2018,FR,AFFLELOU,AFFLELOU
3187,13363199,F-2210010001,IUTANS,231,CH,09/12/2018,5,F,23.594892,Guru,Modification MILAN / SHANGHAI / BEIJING / MILAN,Economy,MILAN / SHANGHAI,CHINE,AIR CHINA,09/22/2018,09/30/2018,FR,AFFLELOU,AFFLELOU
3377,13448113,F-2210010405,SMA64G,231,CH,09/20/2018,5,F,4842.354910,Jenni|RIVERA,FRANKFURT / SHANGHAI - BEIJING / FRANKFURT,Economy,FRANKFURT / SHANGHAI,CHINE,LUFTHANSA,10/15/2018,10/19/2018,FR,AFFLELOU,AFFLELOU
3561,13512036,F-2210010669,S69X9V,231,CH,09/26/2018,5,F,162.928941,Aretha|FRANKLIN,SHENYANG / HANGZHOU,Economy,SHENYANG / HANGZHOU,CHINE,CHINA SOUTHERN AIRLINES,10/23/2018,10/23/2018,FR,AFFLELOU,AFFLELOU
3567,13512039,F-2210010650,S6X6PN,231,FR,09/26/2018,5,F,166.033532,Aretha|FRANKLIN,CHENGDU / BEIJING,Economy,CHENGDU / BEIJING,CHINE,CHINA SOUTHERN AIRLINES,10/26/2018,10/26/2018,FR,AFFLELOU,AFFLELOU
3591,13538925,F-2210010546,S6LTRQ,231,FR,09/27/2018,5,F,107.667219,Aretha|FRANKLIN,BEIJING / SHENYANG,Economy,BEIJING / SHENYANG,CHINE,AIR CHINA,10/22/2018,10/22/2018,FR,AFFLELOU,AFFLELOU
3601,13550065,F-2210010554,LCB6Y2,231,FR,09/28/2018,5,F,425.794668,Billie|HOLIDAY,ZURICH / BEIJING - HONG KONG / ZURICH,Economy,ZURICH / BEIJING,CHINE,SWISS,11/11/2018,11/21/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2593,13274652,F-2210009042,N4FLAM,231,FR,08/21/2018,5,F,2232.697730,Jaco|PASTORIUS,ZURICH / FRANKFURT / SEOUL / MUNICH / ZURICH,Economy,ZURICH / SEOUL,"COREE DU SUD, REPUBLIQUE DE COREE",LUFTHANSA,09/30/2018,10/05/2018,FR,AFFLELOU,AFFLELOU
2619,13274665,F-2210009221,N4FLAM,231,CH,08/23/2018,5,F,748.672142,Jaco|PASTORIUS,Modification ZURICH / FRANKFURT / SEOUL - BANG...,Economy,ZURICH / SEOUL,"COREE DU SUD, REPUBLIQUE DE COREE",LUFTHANSA,09/30/2018,10/06/2018,FR,AFFLELOU,AFFLELOU
2621,13274666,F-2210009221,N4FLAM,231,CH,08/23/2018,5,F,113.162345,Jaco|PASTORIUS,PENANG / BANGKOK,Economy,PENANG / BANGKOK,"COREE DU SUD, REPUBLIQUE DE COREE",THAI AIRWAYS INTL,10/06/2018,10/06/2018,FR,AFFLELOU,AFFLELOU
2627,13274669,F-2210009269,SGP9UC,231,CH,08/24/2018,5,F,248.243104,Jaco|PASTORIUS,SEOUL / KUALA LUMPUR / PENANG,Economy,KUALA LUMPUR / KUALA LUMPUR,"COREE DU SUD, REPUBLIQUE DE COREE",MALAYSIA AIRLINES,09/30/2018,10/03/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2377,13211726,F-2210009264,O75VU2,231,FR,08/28/2018,5,F,228.777318,Barbara|COOK,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/10/2018,09/15/2018,FR,AFFLELOU,AFFLELOU
3053,13326978,F-2210009221,SAWNYY,231,CH,08/23/2018,5,F,184.723170,Leon|RUSSELL,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/17/2018,09/20/2018,FR,AFFLELOU,AFFLELOU
3119,13331067,F-2210009462,VWRPQR,231,FR,09/10/2018,5,F,332.501706,Allen|TOUSSAINT,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/26/2018,09/30/2018,FR,AFFLELOU,AFFLELOU
3261,13389087,F-2210010114,ROXEY9,231,FR,09/14/2018,5,F,238.091091,Jon|BUNCH,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/30/2018,10/05/2018,FR,AFFLELOU,AFFLELOU
3327,13411462,F-2210010152,S2WJ9F,231,FR,09/14/2018,5,F,685.121162,NaN,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/17/2018,09/18/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2071,13146612,F-2210004540,UUT6T7,231,FR,08/13/2018,5,F,246.194074,Claude|NOUGARO,VENISE / ZURICH / BUDAPEST / ZURICH / BARCELONA,Economy,VENISE / BARCELONA,ESPAGNE,SWISS,09/12/2018,09/14/2018,FR,AFFLELOU,AFFLELOU
2095,13149098,F-2210004599,VGN5PB,231,CH,08/13/2018,5,F,164.636466,Aaliyah,ZURICH / MADRID AR,Economy,ZURICH / MADRID,ESPAGNE,SWISS,08/20/2018,08/24/2018,FR,AFFLELOU,AFFLELOU
2243,13175915,F-2210004506,IGYVIE,231,FR,08/09/2018,5,F,156.067794,Claude|NOUGARO,LONDRES / BARCELONA,Economy,LONDRES / BARCELONA,ESPAGNE,VUELING AIRLINES,09/01/2018,09/01/2018,FR,AFFLELOU,AFFLELOU
2265,13176000,F-2210004526,NNWAYP,231,FR,08/10/2018,5,F,145.729506,Bill|HENDERSON,ZURICH / MADRID AR,Economy,ZURICH / MADRID,ESPAGNE,SWISS,09/25/2018,09/27/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2035,13132079,A-2210000550,MGRP6Y,231,FR,08/08/2018,5,A,-886.453895,GrÃ©goire,ZURICH / MADRID / CHARLOTTE / FRANKFURT / ZURICH,Economy,ZURICH / CHARLOTTE,ETATS-UNIS,AMERICAN AIRLINES,08/23/2018,11/16/2018,FR,AFFLELOU,AFFLELOU
2061,13144063,F-2210004522,KO6A23,231,FR,08/10/2018,5,F,961.926504,M.|POKORA,ZURICH / CHICAGO AR,Economy,ZURICH / CHICAGO,ETATS-UNIS,UNITED AIRLINES,09/10/2018,09/13/2018,FR,AFFLELOU,AFFLELOU
2155,13154796,F-2210004446,MBWBV3,231,FR,08/15/2018,5,F,6546.340777,Jacques|DUTRONC,GENEVE / FRANKFURT / CHICAGO / FRANKFURT / GENEVE,First,GENEVE / CHICAGO,ETATS-UNIS,LUFTHANSA,09/17/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2175,13162928,F-2210004991,JLJAC6,231,CH,08/17/2018,5,F,240.543718,Aretha|FRANKLIN,CHICAGO / MINNEAPOLIS / SAULT STE MARIE,Economy,CHICAGO / SAULT STE MARIE,ETATS-UNIS,DELTA AIR LINES,08/29/2018,08/29/2018,FR,AFFLELOU,AFFLELOU
2177,13162929,F-2210004991,JLJAC6,231,CH,08/17/2018,5,F,192.391510,Aretha|FRANKLIN,PHILADELPHIA / CHICAGO,Economy,PHILADELPHIA / CHICAGO,ETATS-UNIS,UNITED AIRLINES,08/28/2018,08/28/2018,FR,AFFLELOU,AFFLELOU
2179,13162931,F-2210004991,JLJAC6,231,CH,08/17/2018,5,F,632.218930,Aretha|FRANKLIN,ZURICH / PHILADELPHIA,Economy,ZURICH / PHILADELPHIA,ETATS-UNIS,AMERICAN AIRLINES,08/27/2018,09/10/2018,FR,AFFLELOU,AFFLELOU
2339,13198932,F-2210009204,UYKTDF,231,FR,08/27/2018,5,F,4751.390391,Bankroll|FRESH,ZURICH / CHICAGO / ZURICH,Economy,ZURICH / CHICAGO,ETATS-UNIS,SWISS,09/18/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2343,13204398,F-2210009216,MJOHNH,231,FR,08/27/2018,5,F,3149.359296,Alan|VEGA,MUNICH / CHICAGO AR,Economy,MUNICH / CHICAGO,ETATS-UNIS,LUFTHANSA,09/16/2018,09/19/2018,FR,AFFLELOU,AFFLELOU
2349,13205198,F-2210009225,JQTVJ9,231,CH,08/27/2018,5,F,3804.583246,Adam|YAUCH,FRANKFURT / CHICAGO AR,Economy,FRANKFURT / CHICAGO,ETATS-UNIS,LUFTHANSA,09/17/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2397,13216293,F-2210009292,MBWBV3,231,FR,08/29/2018,5,F,407.322351,Jacques|DUTRONC,Modification GENEVE / ZURICH / CHICAGO / FRANK...,Economy,GENEVE / CHICAGO,ETATS-UNIS,LUFTHANSA,09/16/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2409,13219213,F-2210009400,RGJEBB,231,FR,08/29/2018,5,F,871.893362,Brett|HOFFMAN,ZURICH / PHILADELPHIA AR,Economy,ZURICH / PHILADELPHIA,ETATS-UNIS,AMERICAN AIRLINES,10/01/2018,10/05/2018,FR,AFFLELOU,AFFLELOU
2413,13221390,F-2210009414,JSSIXN,231,FR,08/29/2018,5,F,3721.783801,Francis|LALANNE,FRANKFURT / CHICAGO AR,Economy,FRANKFURT / CHICAGO,ETATS-UNIS,UNITED AIRLINES,09/18/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2419,13221776,F-2210009426,MBWBV3,231,FR,08/29/2018,5,F,0.000000,Jacques|DUTRONC,SIEGE SUPPLEMENTAIRE,Economy,GENEVE / CHICAGO,ETATS-UNIS,LUFTHANSA,09/16/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2433,13231236,F-2210009459,I2YAIA,231,CH,08/30/2018,5,F,5030.493130,Allen|TOUSSAINT,ZURICH / CHICAGO AR,Economy,ZURICH / CHICAGO,ETATS-UNIS,SWISS,09/16/2018,09/20/2018,FR,AFFLELOU,AFFLELOU
2455,13249903,F-2210009555,UX65OL,231,CH,09/03/2018,5,F,0.000000,Donna|SUMMER,Modification ZURICH / PARIS / NEW YORK / CHARL...,Economy,ZURICH / CHARLOTTE,ETATS-UNIS,AIR FRANCE,11/12/2018,11/16/2018,FR,AFFLELOU,AFFLELOU
2457,13251613,F-2210009546,OJRP3W,231,FR,09/03/2018,5,F,5373.426263,Barry|WHITE,ZURICH / NEW YORK AR,First,ZURICH / NEW YORK,ETATS-UNIS,UNITED AIRLINES,09/24/2018,09/27/2018,FR,AFFLELOU,AFFLELOU
2485,13260987,F-2210004442,JSEJBR,231,CH,08/15/2018,5,F,3275.002097,Elliott|SMITH,FRANKFURT / LOS ANGELES AR,Economy,FRANKFURT / LOS ANGELES,ETATS-UNIS,LUFTHANSA,09/24/2018,09/27/2018,FR,AFFLELOU,AFFLELOU
2507,13273180,F-2210004469,UX65OL,231,CH,08/15/2018,5,F,2601.119555,Glenn|FREY,ZURICH / PARIS / NEW YORK / CHARLOTTE / DETROI...,Economy,ZURICH / CHARLOTTE,ETATS-UNIS,AIR FRANCE,11/12/2018,11/16/2018,FR,AFFLELOU,AFFLELOU
2673,13274692,F-2210009552,IHCOKH,231,FR,09/03/2018,5,F,2805.960475,Jackie|WILSON,VENISE / ZURICH / CHICAGO - CALGARY / FRANKFUR...,Economy,VENISE / CHICAGO,ETATS-UNIS,SWISS,10/01/2018,10/12/2018,FR,AFFLELOU,AFFLELOU
2697,13274707,F-2210009625,SFMOQL,231,CH,09/03/2018,5,F,253.955551,Jackie|WILSON,CHICAGO / NEW ORLEANS / HOUSTON / DAYTON,Economy,CHICAGO / DAYTON,ETATS-UNIS,UNITED AIRLINES,10/02/2018,10/03/2018,FR,AFFLELOU,AFFLELOU
2799,13275446,F-2210009214,S584G4,231,FR,08/23/2018,5,F,1408.801346,Jani|LANE,ZURICH / FRANKFURT / LOS ANGELES / PHOENIX / N...,Economy,ZURICH / PHOENIX,ETATS-UNIS,LUFTHANSA,11/26/2018,12/02/2018,FR,AFFLELOU,AFFLELOU
2843,13275841,F-2210004924,OPYM7K,231,FR,08/16/2018,5,F,3449.324887,Jenni|RIVERA,FRANKFURT / NEW YORK / DAYTON / WASHINGTON / F...,Economy,FRANKFURT / DAYTON,ETATS-UNIS,LUFTHANSA,09/10/2018,09/14/2018,FR,AFFLELOU,AFFLELOU
2927,13275884,F-2210009451,VYUUE3,231,CH,08/30/2018,5,F,1933.539332,Jeff|BUCKLEY,ZURICH / NEW YORK AR,Economy,ZURICH / NEW YORK,ETATS-UNIS,SWISS,10/11/2018,10/20/2018,FR,AFFLELOU,AFFLELOU
2979,13314343,F-2210009402,OQBISV,231,CH,09/07/2018,5,F,119.402573,Jackie|WILSON,BOSTON / CHICAGO,Economy,BOSTON / CHICAGO,ETATS-UNIS,UNITED AIRLINES,10/07/2018,10/07/2018,FR,AFFLELOU,AFFLELOU
2993,13320776,F-2210009552,ODGK24,231,FR,09/07/2018,5,F,4461.949364,Jacques|DUTRONC,GENEVE / LONDRES / PHOENIX / LONDRES / GENEVE,Economy,GENEVE / PHOENIX,ETATS-UNIS,BRITISH AIRWAYS,11/26/2018,12/13/2018,FR,AFFLELOU,AFFLELOU
3017,13325178,F-2210009564,LWK7IA,231,FR,09/07/2018,5,F,163.456721,Jackie|WILSON,CHICAGO / BOSTON,Economy,CHICAGO / BOSTON,ETATS-UNIS,UNITED AIRLINES,10/08/2018,10/08/2018,FR,AFFLELOU,AFFLELOU
3037,13326970,F-2210009162,PVPI9X,231,FR,08/22/2018,5,F,4328.886590,Leon|RUSSELL,ZURICH / NEW YORK / PITTSBURGH AR,Economy,ZURICH / PITTSBURGH,ETATS-UNIS,UNITED AIRLINES,09/09/2018,09/13/2018,FR,AFFLELOU,AFFLELOU
3095,13328141,F-2210009426,QX5439,231,FR,09/10/2018,5,F,3352.803150,Bobby|VEE,FRIEDRICHSHAFEN / FRANKFURT / PHILADELPHIA - N...,Economy,FRIEDRICHSHAFEN / PHILADELPHIA,ETATS-UNIS,LUFTHANSA,10/01/2018,10/05/2018,FR,AFFLELOU,AFFLELOU
3205,13369264,F-2210009150,NJDSDF,231,FR,08/22/2018,5,F,2286.655523,Melanie|THORNTON,OSLO / NEW YORK AR,Economy,OSLO / NEW YORK,ETATS-UNIS,SCANDINAVIAN AIRLINE,09/24/2018,10/28/2018,FR,AFFLELOU,AFFLELOU
3541,13506693,F-2210010651,OYN5GV,231,CH,09/25/2018,5,F,2816.205626,Jaco|PASTORIUS,ZURICH / COPENHAGEN / BOSTON / COPENHAGEN / ZU...,Economy,ZURICH / BOSTON,ETATS-UNIS,SCANDINAVIAN AIRLINE,10/11/2018,10/19/2018,FR,AFFLELOU,AFFLELOU
3547,13508068,F-2210010652,RYII6P,231,CH,09/26/2018,5,F,498.175105,Jaco|PASTORIUS,BOSTON / CHICAGO AR,Premium,BOSTON / CHICAGO,ETATS-UNIS,UNITED AIRLINES,10/15/2018,10/18/2018,FR,AFFLELOU,AFFLELOU
3597,13540151,F-2210010552,NaN,231,CH,09/27/2018,5,F,1408.801346,Brett|HOFFMAN,Zurich Los Angeles,Economy,GENEVE / PHOENIX,ETATS-UNIS,LUFTHANSA,11/26/2018,11/26/2018,FR,AFFLELOU,AFFLELOU
3623,13591606,F-2210010645,NaN,231,CH,09/26/2018,5,F,5607.015696,NaN,GENEVE / FRANKFURT / PHILADELPHIA / FRANKFURT ...,Economy,GENEVE / PHILADELPHIA,ETATS-UNIS,LUFTHANSA,10/03/2018,10/06/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2745,13275419,F-2210004452,MBRB9Y,231,CH,08/15/2018,5,F,44.085194,Jani|LANE,STOCKHOLM / HELSINKI-VANTAA,Economy,STOCKHOLM / HELSINKI-VANTAA,FINLANDE,SCANDINAVIAN AIRLINE,09/27/2018,09/27/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2549,13274630,F-2210004552,NMY58A,231,FR,08/13/2018,5,F,226.417828,Jackie|WILSON,ZURICH / PARIS AR,Economy,ZURICH / PARIS,FRANCE,SWISS,08/23/2018,08/24/2018,FR,AFFLELOU,AFFLELOU
2725,13275409,F-2210004455,NMU2BO,231,CH,08/15/2018,5,F,165.288430,James|COTTON,GENEVE / PARIS,Economy,GENEVE / PARIS,FRANCE,AIR FRANCE,08/22/2018,08/22/2018,FR,AFFLELOU,AFFLELOU
2727,13275410,F-2210004455,NMU2BO,231,CH,08/15/2018,5,F,199.097427,James|COTTON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,08/23/2018,08/23/2018,FR,AFFLELOU,AFFLELOU
2921,13275881,F-2210009410,OBSR7A,231,FR,08/29/2018,5,F,165.909348,Jason|MOLINA,ZURICH / AMSTERDAM - PARIS / ZURICH,Economy,ZURICH / AMSTERDAM,FRANCE,KLM,09/03/2018,09/07/2018,FR,AFFLELOU,AFFLELOU
3175,13356134,F-2210009954,KCTA4H,231,FR,09/12/2018,5,F,766.834000,Luther|VANDROSS,ZURICH / PARIS AR,First,ZURICH / PARIS,FRANCE,SWISS,09/19/2018,09/23/2018,FR,AFFLELOU,AFFLELOU
3359,13430564,F-2210010225,Q4PQ7Y,231,CH,09/19/2018,5,F,160.072717,James|COTTON,PARIS / GENEVE,Economy,PARIS / GENEVE,FRANCE,SWISS,10/12/2018,10/12/2018,FR,AFFLELOU,AFFLELOU
3361,13430565,F-2210010225,Q4PQ7Y,231,CH,09/19/2018,5,F,112.386198,James|COTTON,ZURICH / PARIS,Economy,ZURICH / PARIS,FRANCE,SWISS,10/11/2018,10/11/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2461,13253581,F-2210009604,S92XD9,231,FR,09/03/2018,5,F,342.684765,Aretha|FRANKLIN,ZURICH / BUDAPEST AR,Economy,ZURICH / BUDAPEST,HONGRIE,SWISS,09/19/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
3285,13402961,F-2210010210,L698EV,231,FR,09/17/2018,5,F,193.974851,James|COTTON,GENEVE / VIENNE - BUDAPEST / VIENNE / GENEVE,Economy,GENEVE / BUDAPEST,HONGRIE,AUSTRIAN,10/22/2018,10/24/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2357,13210584,F-2210009256,QRBNJK,231,FR,08/28/2018,5,F,111.982601,Bo|DIDDLEY,MUMBAI / VADODARA AR,Economy,MUMBAI / VADODARA,INDE,JET AIRWAYS,09/17/2018,09/20/2018,FR,AFFLELOU,AFFLELOU
2359,13210585,F-2210009256,QRBNJK,231,FR,08/28/2018,5,F,612.225363,Bo|DIDDLEY,ZURICH / MUMBAI AR,First,ZURICH / MUMBAI,INDE,SWISS,09/16/2018,09/21/2018,FR,AFFLELOU,AFFLELOU
2783,13275438,F-2210009002,REMBX5,231,CH,08/17/2018,5,F,291.024369,Jani|LANE,BANGALORE / NEW DELHI / VADODARA,Economy,BANGALORE / VADODARA,INDE,NACIL AIR INDIA,10/04/2018,10/04/2018,FR,AFFLELOU,AFFLELOU
2785,13275439,F-2210009002,REMBX5,231,CH,08/17/2018,5,F,867.112292,Jani|LANE,ZURICH / FRANKFURT / BANGALORE - VADODARA / NE...,Economy,ZURICH / BANGALORE,INDE,LUFTHANSA,10/01/2018,10/06/2018,FR,AFFLELOU,AFFLELOU
3235,13387968,F-2210010111,RO3I7G,231,CH,09/14/2018,5,F,553.672775,Leon|RUSSELL,ZURICH / MUMBAI - PHUKET / BANGKOK / ZURICH,Economy,ZURICH / MUMBAI,INDE,SWISS,10/20/2018,11/03/2018,FR,AFFLELOU,AFFLELOU
3301,13408230,F-2210010240,L84X4G,231,FR,09/17/2018,5,F,62.091822,Bo|DIDDLEY,SIEGE SUPPLEMENTAIRE,First,ZURICH / MUMBAI,INDE,SWISS,09/17/2018,09/17/2018,FR,AFFLELOU,AFFLELOU
3303,13408231,F-2210010240,L84X4G,231,FR,09/17/2018,5,F,154.236085,Bo|DIDDLEY,MUMBAI / HYDERABAD,Economy,MUMBAI / HYDERABAD,INDE,JET AIRWAYS,10/08/2018,10/08/2018,FR,AFFLELOU,AFFLELOU
3305,13408232,F-2210010240,L84X4G,231,FR,09/17/2018,5,F,674.689736,Bo|DIDDLEY,ZURICH / MUMBAI - HYDERABAD / NEW DELHI / ZURICH,Economy,ZURICH / MUMBAI,INDE,SWISS,10/07/2018,10/19/2018,FR,AFFLELOU,AFFLELOU
3513,13499321,F-2210010605,P9QAL6,231,CH,09/25/2018,5,F,3506.325180,Jerry|VALE,Hauptbahnhof / FRANKFURT / MUMBAI / VADODARA -...,Economy,STUTTGART / VADODARA,INDE,LUFTHANSA,10/08/2018,10/12/2018,FR,AFFLELOU,AFFLELOU
3515,13499322,F-2210010605,P9QAL6,231,CH,09/25/2018,5,F,62.464373,Jerry|VALE,VADODARA / NEW DELHI / BANGALORE,Economy,VADODARA / BANGALORE,INDE,JET AIRWAYS,10/10/2018,10/10/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2491,13265698,F-2210009645,UADOKA,231,CH,09/04/2018,5,F,141.072619,Marc|LAVOINE,MILAN / ZURICH,Economy,MILAN / ZURICH,ITALIE,SWISS,09/25/2018,09/25/2018,FR,AFFLELOU,AFFLELOU
2493,13265699,F-2210009645,UADOKA,231,CH,09/04/2018,5,F,144.053027,Marc|LAVOINE,ZURICH / MILAN,Economy,ZURICH / MILAN,ITALIE,SWISS,09/24/2018,09/24/2018,FR,AFFLELOU,AFFLELOU
2705,13274711,F-2210009655,T89LGU,231,CH,09/04/2018,5,F,189.007506,Guru,ZURICH / VENISE AR,Economy,ZURICH / VENISE,ITALIE,SWISS,09/09/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
3391,13453642,F-2210010421,T9MLHC,231,CH,09/20/2018,5,F,177.893070,Guru,ZURICH / MILAN AR,Economy,ZURICH / MILAN,ITALIE,SWISS,09/22/2018,09/30/2018,FR,AFFLELOU,AFFLELOU
3489,13478278,F-2210010524,P6L9NK,231,FR,09/24/2018,5,F,59.204552,Aretha|FRANKLIN,ZURICH / VENISE,Economy,ZURICH / VENISE,ITALIE,SWISS,10/15/2018,10/15/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2579,13274645,F-2210009010,R2S34W,231,FR,08/17/2018,5,F,100.712935,Jaco|PASTORIUS,MEXICO CITY / AGUASCALIENTES,Economy,MEXICO CITY / AGUASCALIENTES,MEXIQUE,AEROMEXICO,08/27/2018,08/27/2018,FR,AFFLELOU,AFFLELOU
2711,13274905,F-2210004914,MBSAPJ,231,FR,08/16/2018,5,F,2796.243105,Jaco|PASTORIUS,ZURICH / TORONTO / MEXICO CITY - TORONTO / MON...,Economy,ZURICH / MEXICO CITY,MEXIQUE,AIR CANADA,08/26/2018,09/01/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2323,13187994,F-2210009255,SJHSSL,231,CH,08/24/2018,5,F,311.825129,Bo|DIDDLEY,ZURICH / OSLO / FRANKFURT / ROME,Economy,ZURICH / ROME,NORVEGE,SWISS,09/02/2018,09/07/2018,FR,AFFLELOU,AFFLELOU
2753,13275423,F-2210004454,MBAHFL,231,FR,08/15/2018,5,F,102.358368,Jani|LANE,ZURICH / AMSTERDAM / OSLO,Economy,ZURICH / OSLO,NORVEGE,KLM,09/26/2018,09/26/2018,FR,AFFLELOU,AFFLELOU
2885,13275862,F-2210009255,SAEVRC,231,CH,08/24/2018,5,F,355.165221,Jerry|VALE,ZURICH / OSLO / Flesland / OSLO / COPENHAGEN /...,Economy,ZURICH / BERGEN,NORVEGE,SCANDINAVIAN AIRLINE,09/03/2018,09/05/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2333,13193408,F-2210009201,UUU882,231,CH,08/27/2018,5,F,202.698752,Aretha|FRANKLIN,ZURICH / MUNICH / RZESZOW / MUNICH / ZURICH,Economy,ZURICH / RZESZOW,POLOGNE,LUFTHANSA,09/09/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
2403,13217581,F-2210009295,QVSD79,231,CH,08/29/2018,5,F,182.425773,Bonnie|LOU,ZURICH / VARSOVIE / WROCLAW,Economy,ZURICH / WROCLAW,POLOGNE,LOT POLISH AIRLINES,09/13/2018,09/13/2018,FR,AFFLELOU,AFFLELOU
2405,13217582,F-2210009295,QVSD79,231,CH,08/29/2018,5,F,158.830880,Bonnie|LOU,WROCLAW / ZURICH,Economy,WROCLAW / ZURICH,POLOGNE,LOT POLISH AIRLINES,09/14/2018,09/14/2018,FR,AFFLELOU,AFFLELOU
2643,13274677,F-2210009419,T7K9GL,231,CH,08/29/2018,5,F,298.133883,Guru,ZURICH / VARSOVIE / WROCLAW / VARSOVIE / ZURICH,Economy,ZURICH / WROCLAW,POLOGNE,LOT POLISH AIRLINES,09/02/2018,09/04/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1969,13115110,F-2210004562,KFPYRI,231,CH,08/03/2018,5,F,185.716639,Marc|LAVOINE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,08/25/2018,09/03/2018,FR,AFFLELOU,AFFLELOU
2015,13126753,F-2210004620,RJSOE7,231,FR,08/07/2018,5,F,402.665465,NaN,ZURICH / MANCHESTER AR,Economy,ZURICH / MANCHESTER,ROYAUME-UNI,SWISS,08/18/2018,08/19/2018,FR,AFFLELOU,AFFLELOU
2213,13172340,F-2210009046,MVYQD8,231,FR,08/21/2018,5,F,141.724583,Ben|E.KING,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/18/2018,09/19/2018,FR,AFFLELOU,AFFLELOU
2257,13175923,F-2210004555,KLTCJB,231,CH,08/13/2018,5,F,269.851058,Claude|NOUGARO,BARCELONA / LONDRES,Economy,BARCELONA / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,08/27/2018,08/27/2018,FR,AFFLELOU,AFFLELOU
2275,13176011,F-2210004910,OQCLK8,231,FR,08/16/2018,5,F,173.111999,Billie|HOLIDAY,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/13/2018,09/14/2018,FR,AFFLELOU,AFFLELOU
2297,13179860,F-2210009140,KLTCJB,231,FR,08/22/2018,5,F,59.608149,Claude|NOUGARO,SIEGE SUPPLEMENTAIRE,Economy,BARCELONA / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,03/05/2019,03/05/2019,FR,AFFLELOU,AFFLELOU
2303,13179871,F-2210009142,Q2T7VJ,231,CH,08/22/2018,5,F,227.752803,Claude|NOUGARO,FRANKFURT / LONDRES,Economy,FRANKFURT / LONDRES,ROYAUME-UNI,LUFTHANSA,08/29/2018,08/29/2018,FR,AFFLELOU,AFFLELOU
2313,13181842,F-2210009199,Q2T7VJ,231,CH,08/23/2018,5,F,108.536505,Claude|NOUGARO,MODIFICATION FRANKFURT / LONDRES,Economy,FRANKFURT / LONDRES,ROYAUME-UNI,LUFTHANSA,08/28/2018,08/28/2018,FR,AFFLELOU,AFFLELOU
2437,13231890,F-2210009442,I9X5K2,231,CH,08/30/2018,5,F,179.290136,Bobby|VEE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/12/2018,09/12/2018,FR,AFFLELOU,AFFLELOU
2445,13249176,F-2210009551,K9Y966,231,CH,09/03/2018,5,F,172.987816,Del|SHANNON,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/10/2018,09/11/2018,FR,AFFLELOU,AFFLELOU
2465,13260619,F-2210004994,R37VH9,231,FR,08/17/2018,5,F,141.600400,Elliott|SMITH,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/05/2018,09/06/2018,FR,AFFLELOU,AFFLELOU
2525,13274618,F-2210004526,JDS93W,231,FR,08/10/2018,5,F,296.798908,Guy|CLARK,Modification ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,08/27/2018,09/01/2018,FR,AFFLELOU,AFFLELOU
2791,13275442,F-2210009045,N2APJE,231,CH,08/21/2018,5,F,141.724583,Jani|LANE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/18/2018,09/19/2018,FR,AFFLELOU,AFFLELOU
3009,13325173,F-2210009555,NX5AGT,231,CH,09/07/2018,5,F,122.382981,James|COTTON,BIRMINGHAM / ZURICH,Economy,BIRMINGHAM / ZURICH,ROYAUME-UNI,SWISS,10/17/2018,10/17/2018,FR,AFFLELOU,AFFLELOU
3065,13326984,F-2210009554,LAOJWD,231,FR,09/03/2018,5,F,121.358466,Leon|RUSSELL,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/24/2018,09/26/2018,FR,AFFLELOU,AFFLELOU
3157,13352993,F-2210009942,MI5TQT,231,FR,09/12/2018,5,F,307.602885,Guy|CLARK,ZURICH / MANCHESTER AR,Economy,ZURICH / MANCHESTER,ROYAUME-UNI,SWISS,09/19/2018,09/21/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3293,13402965,F-2210010211,L3IUEK,231,CH,09/17/2018,5,F,304.560386,James|COTTON,GENEVE / MOSCOW / ZURICH,Economy,GENEVE / MOSCOW,"RUSSIE, FEDERATION DE",SWISS,10/29/2018,10/31/2018,FR,AFFLELOU,AFFLELOU
3403,13466408,F-2210010445,QNDRXT,231,CH,09/21/2018,5,F,105.431913,James|COTTON,MOSCOW / GENEVE,Economy,MOSCOW / GENEVE,"RUSSIE, FEDERATION DE",AEROFLOT,10/31/2018,10/31/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1983,13119943,F-2210004609,RGX658,231,CH,08/07/2018,5,F,242.127059,Georges|BRASSENS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,08/20/2018,08/23/2018,FR,AFFLELOU,AFFLELOU
2007,13124792,F-2210004641,UK5LKY,231,CH,08/08/2018,5,F,318.872551,Francis|LALANNE,FRANKFURT / STOCKHOLM AR,Economy,FRANKFURT / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,08/14/2018,08/16/2018,FR,AFFLELOU,AFFLELOU
2029,13130121,F-2210004654,UG3EYM,231,FR,08/08/2018,5,F,187.113705,M.|POKORA,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/14/2018,09/18/2018,FR,AFFLELOU,AFFLELOU
2055,13139753,F-2210004512,KT3TXA,231,FR,08/10/2018,5,F,2215.156790,Georges|BRASSENS,ZURICH / COPENHAGEN / CHICAGO / STOCKHOLM / ZU...,Economy,ZURICH / CHICAGO,SUEDE,SCANDINAVIAN AIRLINE,09/12/2018,09/20/2018,FR,AFFLELOU,AFFLELOU
2067,13144903,F-2210004552,N5AA7N,231,FR,08/10/2018,5,F,476.554733,Georges|MOUSTAKI,ZURICH / STOCKHOLM / KALMAR - COPENHAGEN / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SWISS,09/17/2018,09/19/2018,FR,AFFLELOU,AFFLELOU
2077,13146884,F-2210004542,UIYUB3,231,FR,08/13/2018,5,F,360.101521,Georges|BRASSENS,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,FR,AFFLELOU,AFFLELOU
2081,13148854,F-2210004591,K7A5DK,231,CH,08/13/2018,5,F,124.432011,Bernard|LAVILLIERS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,08/27/2018,08/29/2018,FR,AFFLELOU,AFFLELOU
2101,13149281,F-2210004402,UY3525,231,CH,08/13/2018,5,F,360.101521,Bernard|LAVILLIERS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,FR,AFFLELOU,AFFLELOU
2125,13153713,F-2210004424,JSV529,231,FR,08/14/2018,5,F,152.652744,Adam|YAUCH,FRANKFURT / STOCKHOLM,Economy,FRANKFURT / STOCKHOLM,SUEDE,LUFTHANSA,09/03/2018,09/03/2018,FR,AFFLELOU,AFFLELOU
2127,13153714,F-2210004424,JSV529,231,FR,08/14/2018,5,F,198.880105,Adam|YAUCH,STOCKHOLM / FRANKFURT,Economy,STOCKHOLM / FRANKFURT,SUEDE,LUFTHANSA,09/06/2018,09/06/2018,FR,AFFLELOU,AFFLELOU
2147,13154648,F-2210004454,JXLA8E,231,FR,08/15/2018,5,F,407.042938,Allen|TOUSSAINT,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,FR,AFFLELOU,AFFLELOU
2161,13160680,F-2210004951,OYTIXW,231,CH,08/17/2018,5,F,312.632323,Anne|JEFFREYS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,08/27/2018,08/28/2018,FR,AFFLELOU,AFFLELOU
2223,13175335,F-2210009116,NI3SNM,231,FR,08/21/2018,5,F,242.437518,Francis|LALANNE,KALMAR / STOCKHOLM / FRANKFURT,Economy,KALMAR / FRANKFURT,SUEDE,SCANDINAVIAN AIRLINE,08/31/2018,08/31/2018,FR,AFFLELOU,AFFLELOU
2225,13175336,F-2210009116,NI3SNM,231,FR,08/21/2018,5,F,167.461644,Francis|LALANNE,FRANKFURT / STOCKHOLM / KALMAR,Economy,FRANKFURT / KALMAR,SUEDE,SCANDINAVIAN AIRLINE,08/29/2018,08/29/2018,FR,AFFLELOU,AFFLELOU
2229,13175338,F-2210009115,NFS9BR,231,CH,08/21/2018,5,F,206.269032,Francis|LALANNE,FRANKFURT / STOCKHOLM,Economy,FRANKFURT / STOCKHOLM,SUEDE,LUFTHANSA,09/02/2018,09/02/2018,FR,AFFLELOU,AFFLELOU
2231,13175339,F-2210009115,NFS9BR,231,CH,08/21/2018,5,F,196.458524,Francis|LALANNE,STOCKHOLM / FRANKFURT,Economy,STOCKHOLM / FRANKFURT,SUEDE,LUFTHANSA,09/06/2018,09/06/2018,FR,AFFLELOU,AFFLELOU
2385,13212530,F-2210009254,QMF89A,231,FR,08/28/2018,5,F,222.599181,Bobby|VEE,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,SUEDE,SWISS,09/17/2018,09/20/2018,FR,AFFLELOU,AFFLELOU
2519,13274615,F-2210004521,LCMRYV,231,CH,08/10/2018,5,F,438.678721,Guru,ZURICH / STOCKHOLM / KALMAR - COPENHAGEN / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SWISS,09/17/2018,09/19/2018,FR,AFFLELOU,AFFLELOU
2603,13274657,F-2210009121,NOV7HU,231,CH,08/21/2018,5,F,285.932840,Jackie|WILSON,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,08/27/2018,08/28/2018,FR,AFFLELOU,AFFLELOU
2735,13275414,F-2210004452,MBR24Q,231,FR,08/15/2018,5,F,51.784579,Jani|LANE,OSLO / STOCKHOLM,Economy,OSLO / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,09/26/2018,09/26/2018,FR,AFFLELOU,AFFLELOU
2835,13275837,F-2210004562,NCDSNB,231,FR,08/10/2018,5,F,559.447315,Jeff|BUCKLEY,ZURICH / STOCKHOLM AR,Premium,ZURICH / STOCKHOLM,SUEDE,SWISS,08/27/2018,09/05/2018,FR,AFFLELOU,AFFLELOU
2859,13275849,F-2210009156,PYH84Y,231,FR,08/22/2018,5,F,306.423141,Jerry|ORBACH,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/08/2018,09/12/2018,FR,AFFLELOU,AFFLELOU
2895,13275867,F-2210009299,UISOBM,231,CH,08/27/2018,5,F,350.570426,Jerry|VALE,ZURICH / STOCKHOLM / KALMAR / STOCKHOLM / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SCANDINAVIAN AIRLINE,09/17/2018,09/20/2018,FR,AFFLELOU,AFFLELOU
2955,13313117,F-2210009545,OITU88,231,CH,09/07/2018,5,F,437.654206,Ben|E.KING,ZURICH / STOCKHOLM / KALMAR / STOCKHOLM / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SCANDINAVIAN AIRLINE,09/11/2018,09/14/2018,FR,AFFLELOU,AFFLELOU
2969,13314165,F-2210009595,OIPWK6,231,CH,09/07/2018,5,F,98.105079,Jon|BUNCH,ZURICH / STOCKHOLM,Economy,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,09/18/2018,09/18/2018,FR,AFFLELOU,AFFLELOU
3111,13330547,F-2210009456,I3UV5O,231,FR,09/10/2018,5,F,284.908325,Jeff|BUCKLEY,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,10/08/2018,10/10/2018,FR,AFFLELOU,AFFLELOU
3399,13454621,F-2210010425,T7UO72,231,CH,09/20/2018,5,F,306.205819,Sam|COOKE,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,10/07/2018,10/09/2018,FR,AFFLELOU,AFFLELOU
3431,13472373,F-2210010516,MX3W6G,231,FR,09/24/2018,5,F,265.349401,Jeff|BUCKLEY,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,11/04/2018,11/06/2018,FR,AFFLELOU,AFFLELOU
3465,13477159,F-2210009114,NKB4J2,231,FR,08/21/2018,5,F,407.042938,Shawty|LO,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,FR,AFFLELOU,AFFLELOU
3477,13477862,F-2210010524,P6GT4P,231,FR,09/24/2018,5,F,296.829954,Marc|LAVOINE,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,10/10/2018,10/12/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1989,13122499,F-2210004620,TW7HM3,231,FR,08/07/2018,5,F,254.141827,Jean|FERRAT,BARCELONA / MUNICH / HANOVER / FRANKFURT / ZURICH,Economy,BARCELONA / ZURICH,SUISSE,LUFTHANSA,08/12/2018,08/13/2018,FR,AFFLELOU,AFFLELOU
2761,13275427,F-2210004455,MC75DX,231,CH,08/15/2018,5,F,62.495419,Jani|LANE,HELSINKI-VANTAA / STOCKHOLM / ZURICH,Economy,HELSINKI-VANTAA / ZURICH,SUISSE,SCANDINAVIAN AIRLINE,09/28/2018,09/28/2018,FR,AFFLELOU,AFFLELOU
3485,13477870,F-2210010520,P625VL,231,FR,09/24/2018,5,F,281.306999,Aretha|FRANKLIN,VENISE / MUNICH / LONDRES / ZURICH,Economy,VENISE / ZURICH,SUISSE,LUFTHANSA,10/17/2018,10/19/2018,FR,AFFLELOU,AFFLELOU
3495,13486833,F-2210010554,OR3APQ,231,FR,09/24/2018,5,F,119.495711,Claude|NOUGARO,VENISE / ZURICH,Economy,VENISE / ZURICH,SUISSE,SWISS,10/10/2018,10/10/2018,FR,AFFLELOU,AFFLELOU
3609,13550514,F-2210010545,LGQ64O,231,CH,09/28/2018,5,F,146.567745,Jon|BUNCH,LONDRES / ZURICH,Economy,LONDRES / ZURICH,SUISSE,SWISS,10/19/2018,10/19/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2023,13127129,F-2210004602,SORAJX,231,FR,08/06/2018,5,F,1884.05215,Marc|LAVOINE,BANGKOK / DUBAI / ZURICH,Economy,BANGKOK / ZURICH,THAILANDE,EMIRATES,08/18/2018,08/20/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3181,13357977,F-2210009964,MK399A,231,FR,09/12/2018,5,F,4062.947317,Jeff|BUCKLEY,ZURICH / WASHINGTON / NEW ORLEANS / WASHINGTON...,Economy,ZURICH / TUNIS,TUNISIE,UNITED AIRLINES,09/29/2018,10/10/2018,FR,AFFLELOU,AFFLELOU

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1512,13112495,F-1140124220,TAWJDJ,7026,FR,08/01/2018,5,F,214.738357,Alain|BASHUNG,PARIS / MUNICH,Economy,PARIS / MUNICH,ALLEMAGNE,AIR FRANCE,08/09/2018,08/09/2018,FR,NIKE,CONVERSE
1536,13126925,F-9240000055,TRDHBI,7026,FR,08/01/2018,5,F,216.607321,Pierre|BACHELET,PARIS / BREMEN AR,First,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/10/2018,09/13/2018,FR,NIKE,CONVERSE
1557,13139283,F-9240000222,LGO23A,7026,FR,08/09/2018,5,F,373.774140,Eddy|MITCHELL,PARIS / HAMBURG AR,Economy,PARIS / HAMBURG,ALLEMAGNE,AIR FRANCE,08/21/2018,08/23/2018,FR,NIKE,CONVERSE
1603,13144841,A-9240000042,TRDHBI,7026,FR,08/10/2018,5,A,-216.607321,Pierre|BACHELET,PARIS / BREMEN AR,First,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/10/2018,09/13/2018,FR,NIKE,CONVERSE
1645,13176320,F-9240000142,RDRBOJ,7026,FR,08/08/2018,5,F,196.737938,Billy|PAUL,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,08/20/2018,08/22/2018,FR,NIKE,CONVERSE
1688,13224846,F-9240000950,OHDEEC,7026,FR,08/30/2018,5,F,143.779823,Dan|HICKS,PORTO / FRANKFURT,Economy,PORTO / FRANKFURT,ALLEMAGNE,LUFTHANSA,09/13/2018,09/13/2018,FR,NIKE,CONVERSE
1771,13266936,F-9240001255,SO549K,7026,FR,09/04/2018,5,F,240.202213,Evelyn|LEAR,PARIS / BREMEN AR,Premium,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1784,13283398,F-9240001245,LCBROF,7026,FR,09/06/2018,5,F,300.431280,Jimmy|RUFFIN,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,10/16/2018,10/18/2018,FR,NIKE,CONVERSE
1806,13348654,A-9240000122,SO549K,7026,FR,09/11/2018,5,A,-240.202213,Evelyn|LEAR,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1815,13348823,F-9240001569,SO549K,7026,FR,09/11/2018,5,F,310.601920,Evelyn|LEAR,PARIS / BREMEN AR,Premium,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1935,13537719,F-9240002525,IWWTBW,7026,FR,09/27/2018,5,F,176.868555,BRUEL|PATRICK,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,11/12/2018,11/16/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1794,13313699,F-9240001429,ODWCJA,7026,FR,09/07/2018,5,F,356.512613,Johnny|WINTER,POZNAN / VARSOVIE / VIENNE / VARSOVIE / POZNAN,Economy,POZNAN / VIENNE,AUTRICHE,LOT POLISH AIRLINES,09/17/2018,09/18/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1819,13348827,F-9240001554,KRDH4F,7026,FR,09/11/2018,5,F,267.684053,Lynn|ANDERSON,PARIS / COPENHAGEN AR,Economy,PARIS / COPENHAGEN,DANEMARK,SCANDINAVIAN AIRLINE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1566,13141734,F-9240000241,NCYISS,7026,FR,08/10/2018,5,F,250.292134,Adamo,BORDEAUX / AJACCIO AR,First,BORDEAUX / AJACCIO,FRANCE,AIR FRANCE,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1568,13141736,F-9240000242,NCY2QV,7026,FR,08/10/2018,5,F,101.271761,Michel|DELPECH,BORDEAUX / AJACCIO AR,Economy,BORDEAUX / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1570,13141738,F-9240000242,NAE42H,7026,FR,08/10/2018,5,F,101.271761,Michel|FUGAIN,BORDEAUX / AJACCIO AR,Economy,BORDEAUX / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1572,13141740,F-9240000244,NCYFMP,7026,FR,08/10/2018,5,F,101.271761,Gilbert|MONTAGNÃ‰,BORDEAUX / AJACCIO AR,Economy,BORDEAUX / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1575,13142404,F-9240000290,N9NG3W,7026,FR,08/10/2018,5,F,74.826855,Pierre|PERRET,NANTES / AJACCIO AR,Economy,NANTES / AJACCIO,FRANCE,VOLOTEA,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1692,13228476,F-9240000944,RDLYA5,7026,FR,08/30/2018,5,F,95.106044,Danny|KAYE,MARSEILLE / PARIS AR,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,10/10/2018,10/12/2018,FR,NIKE,CONVERSE
1781,13275686,F-9240001222,V374P5,7026,FR,09/05/2018,5,F,92.131845,Janis|JOPLIN,BORDEAUX / PARIS AR,Economy,BORDEAUX / PARIS,FRANCE,AIR FRANCE,10/10/2018,10/12/2018,FR,NIKE,CONVERSE
1924,13511768,F-9240002514,MPFRAD,7026,FR,09/25/2018,5,F,151.094239,Eartha|KITT,STRASBOURG / NICE - MARSEILLE / STRASBOURG,Economy,STRASBOURG / NICE,FRANCE,VOLOTEA,09/25/2018,09/27/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1623,13175845,F-9240000540,S2GWGV,7026,FR,08/22/2018,5,F,342.597836,BRUEL|PATRICK,PARIS / COPENHAGEN / STAVANGER / OSLO / PARIS,Economy,PARIS / STAVANGER,NORVEGE,SCANDINAVIAN AIRLINE,08/28/2018,08/31/2018,FR,NIKE,CONVERSE
1876,13446884,F-9240002222,SPWTUR,7026,FR,09/20/2018,5,F,70.436963,Roy|ORBISON,GOTHENBURG / PARIS / OSLO,Economy,GOTHENBURG / OSLO,NORVEGE,AIR FRANCE,10/24/2018,01/24/2019,FR,NIKE,CONVERSE
1877,13446885,F-9240002222,UBD6NO,7026,FR,09/20/2018,5,F,337.233103,Roy|ORBISON,PARIS / COPENHAGEN - OSLO / PARIS,Premium,PARIS / COPENHAGEN,NORVEGE,AIR FRANCE,10/22/2018,01/22/2019,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1554,13126946,F-9240000094,K92LGM,7026,FR,08/03/2018,5,F,218.091315,Julien|DORÃ‰,RENNES / PARIS / AMSTERDAM / RENNES,Economy,RENNES / AMSTERDAM,PAYS-BAS,AIR FRANCE,09/12/2018,09/14/2018,FR,NIKE,CONVERSE
1642,13175993,F-9240000142,K24JAQ,7026,FR,08/08/2018,5,F,218.091315,Bill|DEES,RENNES / PARIS / AMSTERDAM / RENNES,Economy,RENNES / AMSTERDAM,PAYS-BAS,AIR FRANCE,09/12/2018,09/14/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1657,13184747,F-9240000654,SJQ9BO,7026,FR,08/23/2018,5,F,117.937206,Blowfly,PARIS / VARSOVIE AR,Economy,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE
1696,13229044,F-9240000991,VJSKVH,7026,FR,08/30/2018,5,F,498.255824,Billy|PAUL,PARIS / VARSOVIE AR,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1775,13268415,F-9240001245,VSO76B,7026,FR,09/04/2018,5,F,97.167492,Gil|SCOTT|HERON,ZURICH / VARSOVIE,Economy,ZURICH / VARSOVIE,POLOGNE,SWISS,10/08/2018,10/08/2018,FR,NIKE,CONVERSE
1777,13268417,F-9240001246,VSO76B,7026,FR,09/04/2018,5,F,75.832742,Gil|SCOTT|HERON,VARSOVIE / ZURICH,Economy,VARSOVIE / ZURICH,POLOGNE,LOT POLISH AIRLINES,10/11/2018,10/11/2018,FR,NIKE,CONVERSE
1859,13417775,F-9240002025,SJQ9BO,7026,FR,09/18/2018,5,F,373.451262,Blowfly,Modification PARIS / VARSOVIE AR,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE
1860,13417776,F-9240002025,SJQ9BO,7026,FR,09/18/2018,5,F,43.464275,Blowfly,SIEGE SUPPLEMENTAIRE,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1522,13125891,F-9240000041,K7H5VG,7026,FR,08/03/2018,5,F,127.331699,Yannick|NOAH,PARIS / ZURICH AR,Economy,PARIS / ZURICH,SUISSE,AIR FRANCE,09/28/2018,09/28/2018,FR,NIKE,CONVERSE
1907,13491537,F-9240002511,QU7WDA,7026,FR,09/25/2018,5,F,49.040121,Davy|JONES,LONDRES / BASEL,Economy,LONDRES / BASEL,SUISSE,BRITISH AIRWAYS,10/03/2018,10/03/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
338,13350615,F-6200050241,JXLTJO,1122,FR,09/12/2018,5,F,146.915460,Little|JIMMY|DICKENS,PARIS / SEVILLA AR,Economy,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,09/24/2018,09/28/2018,FR,MICROSOFT,MICROSOFT
340,13350617,F-6200050242,JY6L5R,1122,FR,09/12/2018,5,F,268.435364,Etta|JAMES,PARIS / SEVILLA AR,First,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,09/24/2018,09/28/2018,FR,MICROSOFT,MICROSOFT
347,13354246,F-6200050296,MNX6DA,1122,FR,09/12/2018,5,F,124.872863,Lil|PEEP,PARIS / BARCELONA AR,Economy,PARIS / BARCELONA,ESPAGNE,IBERIA,09/17/2018,09/19/2018,FR,MICROSOFT,MICROSOFT
564,13441743,F-6200052456,QJQ2WU,1122,FR,09/20/2018,5,F,60.042792,Etta|JAMES,PARIS / SEVILLA,Economy,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,10/02/2018,10/02/2018,FR,MICROSOFT,MICROSOFT
566,13441753,F-6200052460,QK254Y,1122,FR,09/20/2018,5,F,60.042792,Little|JIMMY|DICKENS,PARIS / SEVILLA,Economy,PARIS / SEVILLA,ESPAGNE,AIR FRANCE,10/02/2018,10/02/2018,FR,MICROSOFT,MICROSOFT
1455,13598577,F-6200066924,J6M558,1122,FR,08/30/2018,5,F,208.473292,Chris|CORNELL,PARIS / BILBAO AR,Economy,PARIS / BILBAO,ESPAGNE,AIR FRANCE,09/04/2018,09/06/2018,FR,MICROSOFT,MICROSOFT

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1154,13598117,F-6200064424,MGA8AH,1122,FR,08/16/2018,5,F,949.470885,Lil|PEEP,PARIS / BOSTON / NEW YORK / PARIS,Economy,PARIS / BOSTON,ETATS-UNIS,AIR FRANCE,08/21/2018,08/23/2018,FR,MICROSOFT,MICROSOFT

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
184,13310276,F-1140125211,ODEJI3,1122,FR,09/07/2018,5,F,129.740862,Jim|NABORS,LYON / BORDEAUX,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,09/11/2018,09/11/2018,FR,MICROSOFT,MICROSOFT
327,13343242,F-6200050091,KEOQFN,1122,FR,09/11/2018,5,F,199.687299,Dennis|EDWARDS,MARSEILLE / BORDEAUX,Economy,MARSEILLE / BORDEAUX,FRANCE,AIR FRANCE,09/14/2018,09/14/2018,FR,MICROSOFT,MICROSOFT
440,13397344,F-6200051525,PNTAVE,1122,FR,09/15/2018,5,F,239.003841,Patricia|MORISON,PAU / PARIS AR,Economy,PAU / PARIS,FRANCE,AIR FRANCE,09/26/2018,09/26/2018,FR,MICROSOFT,MICROSOFT
499,13411574,F-6200051494,LWGA3U,1122,FR,09/17/2018,5,F,67.630412,Lou|REED,PAU / PARIS AR,Economy,PAU / PARIS,FRANCE,AIR FRANCE,10/23/2018,10/24/2018,FR,MICROSOFT,MICROSOFT
571,13443298,F-6200052922,KL7LNS,1122,FR,09/20/2018,5,F,260.959509,Dennis|EDWARDS,BORDEAUX / LYON / METZ,Economy,BORDEAUX / METZ,FRANCE,AIR FRANCE,09/24/2018,09/24/2018,FR,MICROSOFT,MICROSOFT
637,13471584,F-6200052556,TTH76O,1122,FR,09/23/2018,5,F,126.549342,Jim|NABORS,BORDEAUX / LYON,Economy,BORDEAUX / LYON,FRANCE,AIR FRANCE,10/04/2018,10/04/2018,FR,MICROSOFT,MICROSOFT
777,13507652,F-6200054510,TADU6S,1122,FR,09/26/2018,5,F,133.342187,Elaine|STRITCH,LYON / BORDEAUX AR,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,10/08/2018,10/09/2018,FR,MICROSOFT,MICROSOFT
804,13520367,F-6200055122,PJPSX5,1122,FR,09/27/2018,5,F,107.791403,Peter|STEELE,MARSEILLE / BORDEAUX,Economy,MARSEILLE / BORDEAUX,FRANCE,AIR FRANCE,10/08/2018,10/08/2018,FR,MICROSOFT,MICROSOFT
806,13520373,F-6200055126,TUU79H,1122,FR,09/27/2018,5,F,84.413832,Tommy|KEENE,LYON / BORDEAUX,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,10/08/2018,10/08/2018,FR,MICROSOFT,MICROSOFT
848,13548543,F-6200055522,LBCP5B,1122,FR,09/28/2018,5,F,237.488800,Wayne|STATIC,METZ / LYON / TOULOUSE / LYON / METZ,Economy,METZ / TOULOUSE,FRANCE,AIR FRANCE,10/08/2018,10/11/2018,FR,MICROSOFT,MICROSOFT
867,13553491,F-6200055459,L3XWOW,1122,FR,09/28/2018,5,F,237.488800,Ray|CHARLES,METZ / LYON / TOULOUSE / LYON / METZ,Economy,METZ / TOULOUSE,FRANCE,AIR FRANCE,10/08/2018,10/11/2018,FR,MICROSOFT,MICROSOFT
1061,13597988,F-6200062122,TM5QAU,1122,FR,08/07/2018,5,F,85.438347,Michel|POLNAREFF,MARSEILLE / BORDEAUX,Economy,MARSEILLE / BORDEAUX,FRANCE,AIR FRANCE,08/22/2018,08/22/2018,FR,MICROSOFT,MICROSOFT
1067,13597994,F-6200062165,TNGQAQ,1122,FR,08/07/2018,5,F,357.754450,Teri|MOÃSE,CAEN / LYON / PAU / LYON / CAEN,Economy,CAEN / PAU,FRANCE,AIR FRANCE,09/06/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1097,13598030,F-6200062441,VHPAQ8,1122,FR,08/10/2018,5,F,260.959509,Dennis|EDWARDS,BORDEAUX / LYON / METZ,Economy,BORDEAUX / METZ,FRANCE,AIR FRANCE,08/20/2018,08/20/2018,FR,MICROSOFT,MICROSOFT
1245,13598236,F-6200065125,NIXSVG,1122,FR,08/21/2018,5,F,198.538600,Jim|NABORS,LYON / BORDEAUX AR,Economy,LYON / BORDEAUX,FRANCE,AIR FRANCE,08/29/2018,08/31/2018,FR,MICROSOFT,MICROSOFT
1248,13598239,F-6200065200,NKQE7N,1122,FR,08/22/2018,5,F,104.500536,Jim|NABORS,LYON / PAU AR,Economy,LYON / PAU,FRANCE,AIR FRANCE,09/04/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1337,13598365,F-6200065552,QDUK4S,1122,FR,08/24/2018,5,F,71.989258,Rick|NELSON,PAU / LYON / METZ,Economy,PAU / METZ,FRANCE,AIR FRANCE,10/25/2018,10/25/2018,FR,MICROSOFT,MICROSOFT
1394,13598445,F-6200066144,KYISWD,1122,FR,08/27/2018,5,F,133.342187,Michel|SARDOU,BORDEAUX / LYON AR,Economy,BORDEAUX / LYON,FRANCE,AIR FRANCE,09/12/2018,09/13/2018,FR,MICROSOFT,MICROSOFT
1397,13598448,F-6200066145,L468YP,1122,FR,08/27/2018,5,F,209.982123,Cab|CALLOWAY,PARIS / PAU AR,Economy,PARIS / PAU,FRANCE,AIR FRANCE,09/06/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1423,13598521,F-6200066456,QDGHG5,1122,FR,08/29/2018,5,F,99.700838,Rick|NELSON,PARIS / PAU,Economy,PARIS / PAU,FRANCE,AIR FRANCE,10/24/2018,10/24/2018,FR,MICROSOFT,MICROSOFT
1447,13598555,F-6200066404,TNGQAQ,1122,FR,08/30/2018,5,F,43.464275,Teri|MOÃSE,SIEGE SUPPLEMENTAIRE,Economy,CAEN / PAU,FRANCE,AIR FRANCE,09/05/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1448,13598556,F-6200066404,TNGQAQ,1122,FR,08/30/2018,5,F,137.607896,Teri|MOÃSE,Modification CAEN / LYON / PAU / LYON / CAEN,Economy,CAEN / PAU,FRANCE,AIR FRANCE,09/05/2018,09/07/2018,FR,MICROSOFT,MICROSOFT
1466,13598592,F-6200065000,VJN5EX,1122,FR,08/30/2018,5,F,157.278585,Jim|NABORS,LYON / PAU AR,Economy,LYON / PAU,FRANCE,AIR FRANCE,09/17/2018,09/21/2018,FR,MICROSOFT,MICROSOFT

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1122,13598072,F-6200064095,STOWGK,1122,FR,08/13/2018,5,F,82.538659,Doc|WATSON,Modification MUMBAI / VADODARA AR,Economy,MUMBAI / VADODARA,INDE,JET AIRWAYS,08/24/2018,08/24/2018,FR,MICROSOFT,MICROSOFT

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3658,13361617,F-9240001664,NBBIDX,7024,FR,09/12/2018,5,F,73.659528,Marni|NIXON,BERLIN / PARIS,First,BERLIN / PARIS,BOLIVIE,AIR FRANCE,12/19/2018,12/19/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3628,13175762,F-9240000555,NLJ46G,7024,FR,08/22/2018,5,F,154.869422,Betty|HUTTON,MARSEILLE / PARIS AR,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,09/17/2018,09/19/2018,FR,NIKE,NIKE
3630,13178831,F-9240000614,PXIFF9,7024,FR,08/22/2018,5,F,621.955152,Bing|CROSBY,TOULOUSE / PARIS AR,First,TOULOUSE / NEW DELHI,FRANCE,EASYJET,09/17/2018,09/19/2018,FR,NIKE,NIKE
3640,13246999,F-9240001124,KWW3HN,7024,FR,08/31/2018,5,F,249.248991,Betty|HUTTON,MARSEILLE / PARIS / MARSEILLE,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,09/05/2018,09/06/2018,FR,NIKE,NIKE
3656,13361597,F-9240001662,NBBKG5,7024,FR,09/12/2018,5,F,189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3660,13362231,A-9240000129,NBBKG5,7024,FR,09/12/2018,5,A,-189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3663,13362234,A-9240000140,NBBIDX,7024,FR,09/12/2018,5,A,-73.659528,Marni|NIXON,BERLIN / PARIS,Economy,BERLIN / PARIS,FRANCE,AIR FRANCE,12/19/2018,12/19/2018,FR,NIKE,NIKE
3672,13391533,F-9240001420,S4BP6M,7024,FR,09/14/2018,5,F,189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3674,13394523,F-9240001452,S9YGPH,7024,FR,09/14/2018,5,F,126.350648,Marni|NIXON,BRUXELLES / AMSTERDAM / PARIS,Economy,BRUXELLES / PARIS,FRANCE,AIR FRANCE,01/17/2019,01/17/2019,FR,NIKE,NIKE
3676,13395109,A-9240000155,S4BP6M,7024,FR,09/14/2018,5,A,-189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3679,13395112,A-9240000156,S9YGPH,7024,FR,09/14/2018,5,A,-126.350648,Marni|NIXON,BRUXELLES / AMSTERDAM / PARIS,Economy,BRUXELLES / PARIS,FRANCE,AIR FRANCE,01/17/2019,01/17/2019,FR,NIKE,NIKE
3684,13429819,F-9240002120,NLJ46G,7024,FR,09/19/2018,5,F,68.301004,Betty|HUTTON,Modification PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3685,13429820,F-9240002120,NLJ46G,7024,FR,09/19/2018,5,F,31.045911,Betty|HUTTON,SIEGE SUPPLEMENTAIRE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3691,13467319,F-9240002402,VS7KVJ,7024,FR,09/21/2018,5,F,358.580271,Savannah|CHURCHILL,PARIS / MONTPELLIER AR,Economy,PARIS / MONTPELLIER,FRANCE,AIR FRANCE,09/26/2018,09/27/2018,FR,NIKE,NIKE
3695,13538253,F-9240002525,J4JFCD,7024,FR,09/27/2018,5,F,249.248991,Betty|HUTTON,MARSEILLE / PARIS / MARSEILLE,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,10/02/2018,10/03/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3632,13204132,F-9240000591,OOXBQU,7024,FR,08/27/2018,5,F,189.647051,Bobby|BREEN,PARIS / VARSOVIE AR,Premium,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2150,13154743,F-2210004450,JTFJ3S,231,FR,08/15/2018,5,F,3876.206162,Georges|BRASSENS,ZURICH / JOHANNESBURG AR,Economy,ZURICH / JOHANNESBURG,AFRIQUE DU SUD,SWISS,10/06/2018,10/11/2018,CH,TOYSRUS,TOYSRUS
2188,13166877,F-2210009029,RRFH48,231,CH,08/20/2018,5,F,2625.521641,Barbara|COOK,ZURICH / LONDRES / JOHANNESBURG / LONDRES / ZU...,Economy,ZURICH / JOHANNESBURG,AFRIQUE DU SUD,BRITISH AIRWAYS,10/06/2018,10/13/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1958,13114444,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,135.484355,Dave,MANCHESTER / AMSTERDAM / HANOVER,Economy,MANCHESTER / HANOVER,ALLEMAGNE,KLM,09/10/2018,09/10/2018,CH,TOYSRUS,TOYSRUS
1960,13114445,F-2210004595,RQ4KTM,231,CH,08/06/2018,5,F,83.296179,Dave,HANOVER / MANCHESTER,Economy,HANOVER / MANCHESTER,ALLEMAGNE,FLYBE,09/11/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
1998,13123864,F-2210004626,MYLWBW,231,FR,08/07/2018,5,F,121.079053,Nino|FERRER,Modification HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,08/08/2018,08/08/2018,CH,TOYSRUS,TOYSRUS
2116,13153709,F-2210004425,J3E6A3,231,CH,08/14/2018,5,F,166.406083,Nino|FERRER,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/10/2018,CH,TOYSRUS,TOYSRUS
2118,13153710,F-2210004425,J3E6A3,231,CH,08/14/2018,5,F,144.394532,Nino|FERRER,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
2182,13163408,F-2210004994,R256F2,231,FR,08/17/2018,5,F,337.158593,Bankroll|FRESH,HANOVER / ZURICH,Premium,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
2184,13163409,F-2210004994,R256F2,231,FR,08/17/2018,5,F,162.680573,Bankroll|FRESH,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/10/2018,CH,TOYSRUS,TOYSRUS
2286,13176017,F-2210004965,QTMVPY,231,CH,08/17/2018,5,F,210.460230,Nino|FERRER,ZURICH / HANOVER - DUSSELDORF / ZURICH,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/17/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2472,13260981,F-2210004542,UUVU97,231,CH,08/13/2018,5,F,186.834292,Elliott|SMITH,ZURICH / DUSSELDORF AR,Economy,ZURICH / DUSSELDORF,ALLEMAGNE,SWISS,09/11/2018,09/13/2018,CH,TOYSRUS,TOYSRUS
2478,13260984,F-2210004426,JSS47Y,231,FR,08/14/2018,5,F,300.431280,Elliott|SMITH,ZURICH / FRANKFURT AR,Economy,ZURICH / FRANKFURT,ALLEMAGNE,LUFTHANSA,09/24/2018,09/28/2018,CH,TOYSRUS,TOYSRUS
2774,13275434,F-2210004915,MFNNTF,231,CH,08/16/2018,5,F,306.702554,James|COTTON,GENEVE / ZURICH / HANOVER / ZURICH,Economy,GENEVE / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
2810,13275825,F-2210004555,NURGUO,231,CH,08/10/2018,5,F,289.099523,Jason|MOLINA,ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,08/20/2018,08/22/2018,CH,TOYSRUS,TOYSRUS
3028,13326966,F-2210004452,LSHSI7,231,CH,08/15/2018,5,F,187.517302,Lenny|BAKER,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/10/2018,09/10/2018,CH,TOYSRUS,TOYSRUS
3030,13326967,F-2210004452,LSHSI7,231,CH,08/15/2018,5,F,123.128083,Lenny|BAKER,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
3210,13369267,F-2210009246,VF2BM7,231,FR,08/28/2018,5,F,170.876694,Melanie|THORNTON,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,09/11/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
3212,13369268,F-2210009246,VF2BM7,231,FR,08/28/2018,5,F,63.675163,Melanie|THORNTON,OSLO / COPENHAGEN / HANOVER,Economy,OSLO / HANOVER,ALLEMAGNE,SCANDINAVIAN AIRLINE,09/10/2018,09/10/2018,CH,TOYSRUS,TOYSRUS
3242,13387975,F-2210010112,RRBOQS,231,CH,09/14/2018,5,F,402.851740,Adam|YAUCH,COLOGNE / MUNICH AR,Economy,COLOGNE / MUNICH,ALLEMAGNE,LUFTHANSA,09/24/2018,09/26/2018,CH,TOYSRUS,TOYSRUS
3308,13408993,F-2210010241,MKXT3U,231,CH,09/17/2018,5,F,199.159519,Claude|NOUGARO,FRANKFURT / BARCELONA,Economy,FRANKFURT / BARCELONA,ALLEMAGNE,LUFTHANSA,09/27/2018,09/27/2018,CH,TOYSRUS,TOYSRUS
3310,13408994,F-2210010241,MKXT3U,231,CH,09/17/2018,5,F,196.831075,Claude|NOUGARO,ZURICH / FRANKFURT,Economy,ZURICH / FRANKFURT,ALLEMAGNE,LUFTHANSA,09/26/2018,09/26/2018,CH,TOYSRUS,TOYSRUS
3334,13411466,F-2210010140,KVQK7I,231,FR,09/17/2018,5,F,568.761088,NaN,ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,09/24/2018,09/25/2018,CH,TOYSRUS,TOYSRUS
3348,13418213,F-2210010254,NQVESN,231,FR,09/18/2018,5,F,207.386685,Bankroll|FRESH,ZURICH / HANOVER,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,10/09/2018,10/09/2018,CH,TOYSRUS,TOYSRUS
3352,13418215,F-2210010254,NQVESN,231,FR,09/18/2018,5,F,134.956575,Bankroll|FRESH,HANOVER / ZURICH,Economy,HANOVER / ZURICH,ALLEMAGNE,SWISS,10/10/2018,10/10/2018,CH,TOYSRUS,TOYSRUS
3382,13450594,F-2210010414,KVQK7I,231,FR,09/20/2018,5,F,49.673457,Lenny|BAKER,Modification ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,02/11/2019,02/12/2019,CH,TOYSRUS,TOYSRUS
3452,13477153,F-2210004422,JWSM4B,231,FR,08/14/2018,5,F,310.738522,Sharon|JONES,ZURICH / HANOVER AR,Economy,ZURICH / HANOVER,ALLEMAGNE,SWISS,08/23/2018,08/24/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2196,13169006,F-2210009059,KJNV22,231,CH,08/20/2018,5,F,291.334828,Jean|FERRAT,ZURICH / VIENNE AR,Economy,ZURICH / VIENNE,AUTRICHE,AUSTRIAN,08/21/2018,08/22/2018,CH,TOYSRUS,TOYSRUS
3582,13536583,F-2210010520,UGVUNY,231,FR,09/27/2018,5,F,193.943806,James|COTTON,ZURICH / VIENNE - BUDAPEST / ZURICH,Economy,ZURICH / VIENNE,AUTRICHE,SWISS,10/23/2018,10/25/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2556,13274634,F-2210004952,QREVGJ,231,FR,08/17/2018,5,F,134.863437,Jaco|PASTORIUS,SAULT STE MARIE / TORONTO,Economy,SAULT STE MARIE / TORONTO,CANADA,AIR CANADA,08/31/2018,08/31/2018,CH,TOYSRUS,TOYSRUS
2570,13274641,F-2210009009,OX6A3J,231,CH,08/17/2018,5,F,453.798080,Jaco|PASTORIUS,AGUASCALIENTES / HOUSTON / TORONTO / SAULT STE...,Economy,AGUASCALIENTES / SAULT STE MARIE,CANADA,AIR CANADA,08/29/2018,08/29/2018,CH,TOYSRUS,TOYSRUS
2684,13274701,F-2210009615,SGTD5M,231,CH,09/03/2018,5,F,154.018764,Jackie|WILSON,BOSTON / TORONTO / CALGARY,Economy,BOSTON / CALGARY,CANADA,AIR CANADA,10/10/2018,10/11/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1946,13110117,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,464.322644,Jacques|DUTRONC,SHENYANG / NANKING,Economy,SHENYANG / NANKING,CHINE,CHINA EASTERN AIRLINES,08/21/2018,08/21/2018,CH,TOYSRUS,TOYSRUS
1948,13110118,F-2210004550,KCOAM4,231,FR,08/03/2018,5,F,3695.456869,Jacques|DUTRONC,GENEVE / FRANKFURT / SHENYANG - SHANGHAI / FRA...,Economy,GENEVE / SHENYANG,CHINE,LUFTHANSA,08/18/2018,08/24/2018,CH,TOYSRUS,TOYSRUS
2206,13169354,F-2210009064,KDSAVF,231,FR,08/20/2018,5,F,3345.942004,Barry|WHITE,ZURICH / COPENHAGEN / SHANGHAI / COPENHAGEN / ...,Economy,ZURICH / SHANGHAI,CHINE,SCANDINAVIAN AIRLINE,09/02/2018,09/07/2018,CH,TOYSRUS,TOYSRUS
2934,13276246,F-2210009515,IUTANS,231,CH,09/05/2018,5,F,2227.171558,Guru,MILAN / SHANGHAI / BEIJING / MILAN,Economy,MILAN / SHANGHAI,CHINE,AIR CHINA,09/21/2018,09/30/2018,CH,TOYSRUS,TOYSRUS
3104,13328552,F-2210009445,LJUWRA,231,CH,09/10/2018,5,F,525.172629,Aretha|FRANKLIN,ZURICH / HELSINKI-VANTAA / BEIJING / HELSINKI-...,Economy,ZURICH / BEIJING,CHINE,FINNAIR,10/21/2018,10/27/2018,CH,TOYSRUS,TOYSRUS
3134,13349848,F-2210009922,KNHTXG,231,CH,09/11/2018,5,F,5207.920511,Mac|MILLER,ZURICH / SINGAPORE / SHANGHAI / SINGAPORE / ZU...,Economy,ZURICH / SHANGHAI,CHINE,SINGAPORE AIRLINES,09/22/2018,09/28/2018,CH,TOYSRUS,TOYSRUS
3186,13363199,F-2210010001,IUTANS,231,CH,09/12/2018,5,F,23.594892,Guru,Modification MILAN / SHANGHAI / BEIJING / MILAN,Economy,MILAN / SHANGHAI,CHINE,AIR CHINA,09/22/2018,09/30/2018,CH,TOYSRUS,TOYSRUS
3376,13448113,F-2210010405,SMA64G,231,CH,09/20/2018,5,F,4842.354910,Jenni|RIVERA,FRANKFURT / SHANGHAI - BEIJING / FRANKFURT,Economy,FRANKFURT / SHANGHAI,CHINE,LUFTHANSA,10/15/2018,10/19/2018,CH,TOYSRUS,TOYSRUS
3560,13512036,F-2210010669,S69X9V,231,CH,09/26/2018,5,F,162.928941,Aretha|FRANKLIN,SHENYANG / HANGZHOU,Economy,SHENYANG / HANGZHOU,CHINE,CHINA SOUTHERN AIRLINES,10/23/2018,10/23/2018,CH,TOYSRUS,TOYSRUS
3566,13512039,F-2210010650,S6X6PN,231,FR,09/26/2018,5,F,166.033532,Aretha|FRANKLIN,CHENGDU / BEIJING,Economy,CHENGDU / BEIJING,CHINE,CHINA SOUTHERN AIRLINES,10/26/2018,10/26/2018,CH,TOYSRUS,TOYSRUS
3590,13538925,F-2210010546,S6LTRQ,231,FR,09/27/2018,5,F,107.667219,Aretha|FRANKLIN,BEIJING / SHENYANG,Economy,BEIJING / SHENYANG,CHINE,AIR CHINA,10/22/2018,10/22/2018,CH,TOYSRUS,TOYSRUS
3600,13550065,F-2210010554,LCB6Y2,231,FR,09/28/2018,5,F,425.794668,Billie|HOLIDAY,ZURICH / BEIJING - HONG KONG / ZURICH,Economy,ZURICH / BEIJING,CHINE,SWISS,11/11/2018,11/21/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2592,13274652,F-2210009042,N4FLAM,231,FR,08/21/2018,5,F,2232.697730,Jaco|PASTORIUS,ZURICH / FRANKFURT / SEOUL / MUNICH / ZURICH,Economy,ZURICH / SEOUL,"COREE DU SUD, REPUBLIQUE DE COREE",LUFTHANSA,09/30/2018,10/05/2018,CH,TOYSRUS,TOYSRUS
2618,13274665,F-2210009221,N4FLAM,231,CH,08/23/2018,5,F,748.672142,Jaco|PASTORIUS,Modification ZURICH / FRANKFURT / SEOUL - BANG...,Economy,ZURICH / SEOUL,"COREE DU SUD, REPUBLIQUE DE COREE",LUFTHANSA,09/30/2018,10/06/2018,CH,TOYSRUS,TOYSRUS
2620,13274666,F-2210009221,N4FLAM,231,CH,08/23/2018,5,F,113.162345,Jaco|PASTORIUS,PENANG / BANGKOK,Economy,PENANG / BANGKOK,"COREE DU SUD, REPUBLIQUE DE COREE",THAI AIRWAYS INTL,10/06/2018,10/06/2018,CH,TOYSRUS,TOYSRUS
2626,13274669,F-2210009269,SGP9UC,231,CH,08/24/2018,5,F,248.243104,Jaco|PASTORIUS,SEOUL / KUALA LUMPUR / PENANG,Economy,KUALA LUMPUR / KUALA LUMPUR,"COREE DU SUD, REPUBLIQUE DE COREE",MALAYSIA AIRLINES,09/30/2018,10/03/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2376,13211726,F-2210009264,O75VU2,231,FR,08/28/2018,5,F,228.777318,Barbara|COOK,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/10/2018,09/15/2018,CH,TOYSRUS,TOYSRUS
3052,13326978,F-2210009221,SAWNYY,231,CH,08/23/2018,5,F,184.723170,Leon|RUSSELL,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/17/2018,09/20/2018,CH,TOYSRUS,TOYSRUS
3118,13331067,F-2210009462,VWRPQR,231,FR,09/10/2018,5,F,332.501706,Allen|TOUSSAINT,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/26/2018,09/30/2018,CH,TOYSRUS,TOYSRUS
3260,13389087,F-2210010114,ROXEY9,231,FR,09/14/2018,5,F,238.091091,Jon|BUNCH,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/30/2018,10/05/2018,CH,TOYSRUS,TOYSRUS
3326,13411462,F-2210010152,S2WJ9F,231,FR,09/14/2018,5,F,685.121162,NaN,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,DANEMARK,SWISS,09/17/2018,09/18/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2070,13146612,F-2210004540,UUT6T7,231,FR,08/13/2018,5,F,246.194074,Claude|NOUGARO,VENISE / ZURICH / BUDAPEST / ZURICH / BARCELONA,Economy,VENISE / BARCELONA,ESPAGNE,SWISS,09/12/2018,09/14/2018,CH,TOYSRUS,TOYSRUS
2094,13149098,F-2210004599,VGN5PB,231,CH,08/13/2018,5,F,164.636466,Aaliyah,ZURICH / MADRID AR,Economy,ZURICH / MADRID,ESPAGNE,SWISS,08/20/2018,08/24/2018,CH,TOYSRUS,TOYSRUS
2242,13175915,F-2210004506,IGYVIE,231,FR,08/09/2018,5,F,156.067794,Claude|NOUGARO,LONDRES / BARCELONA,Economy,LONDRES / BARCELONA,ESPAGNE,VUELING AIRLINES,09/01/2018,09/01/2018,CH,TOYSRUS,TOYSRUS
2264,13176000,F-2210004526,NNWAYP,231,FR,08/10/2018,5,F,145.729506,Bill|HENDERSON,ZURICH / MADRID AR,Economy,ZURICH / MADRID,ESPAGNE,SWISS,09/25/2018,09/27/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2034,13132079,A-2210000550,MGRP6Y,231,FR,08/08/2018,5,A,-886.453895,GrÃ©goire,ZURICH / MADRID / CHARLOTTE / FRANKFURT / ZURICH,Economy,ZURICH / CHARLOTTE,ETATS-UNIS,AMERICAN AIRLINES,08/23/2018,11/16/2018,CH,TOYSRUS,TOYSRUS
2060,13144063,F-2210004522,KO6A23,231,FR,08/10/2018,5,F,961.926504,M.|POKORA,ZURICH / CHICAGO AR,Economy,ZURICH / CHICAGO,ETATS-UNIS,UNITED AIRLINES,09/10/2018,09/13/2018,CH,TOYSRUS,TOYSRUS
2154,13154796,F-2210004446,MBWBV3,231,FR,08/15/2018,5,F,6546.340777,Jacques|DUTRONC,GENEVE / FRANKFURT / CHICAGO / FRANKFURT / GENEVE,First,GENEVE / CHICAGO,ETATS-UNIS,LUFTHANSA,09/17/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2174,13162928,F-2210004991,JLJAC6,231,CH,08/17/2018,5,F,240.543718,Aretha|FRANKLIN,CHICAGO / MINNEAPOLIS / SAULT STE MARIE,Economy,CHICAGO / SAULT STE MARIE,ETATS-UNIS,DELTA AIR LINES,08/29/2018,08/29/2018,CH,TOYSRUS,TOYSRUS
2176,13162929,F-2210004991,JLJAC6,231,CH,08/17/2018,5,F,192.391510,Aretha|FRANKLIN,PHILADELPHIA / CHICAGO,Economy,PHILADELPHIA / CHICAGO,ETATS-UNIS,UNITED AIRLINES,08/28/2018,08/28/2018,CH,TOYSRUS,TOYSRUS
2178,13162931,F-2210004991,JLJAC6,231,CH,08/17/2018,5,F,632.218930,Aretha|FRANKLIN,ZURICH / PHILADELPHIA,Economy,ZURICH / PHILADELPHIA,ETATS-UNIS,AMERICAN AIRLINES,08/27/2018,09/10/2018,CH,TOYSRUS,TOYSRUS
2338,13198932,F-2210009204,UYKTDF,231,FR,08/27/2018,5,F,4751.390391,Bankroll|FRESH,ZURICH / CHICAGO / ZURICH,Economy,ZURICH / CHICAGO,ETATS-UNIS,SWISS,09/18/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2342,13204398,F-2210009216,MJOHNH,231,FR,08/27/2018,5,F,3149.359296,Alan|VEGA,MUNICH / CHICAGO AR,Economy,MUNICH / CHICAGO,ETATS-UNIS,LUFTHANSA,09/16/2018,09/19/2018,CH,TOYSRUS,TOYSRUS
2348,13205198,F-2210009225,JQTVJ9,231,CH,08/27/2018,5,F,3804.583246,Adam|YAUCH,FRANKFURT / CHICAGO AR,Economy,FRANKFURT / CHICAGO,ETATS-UNIS,LUFTHANSA,09/17/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2396,13216293,F-2210009292,MBWBV3,231,FR,08/29/2018,5,F,407.322351,Jacques|DUTRONC,Modification GENEVE / ZURICH / CHICAGO / FRANK...,Economy,GENEVE / CHICAGO,ETATS-UNIS,LUFTHANSA,09/16/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2408,13219213,F-2210009400,RGJEBB,231,FR,08/29/2018,5,F,871.893362,Brett|HOFFMAN,ZURICH / PHILADELPHIA AR,Economy,ZURICH / PHILADELPHIA,ETATS-UNIS,AMERICAN AIRLINES,10/01/2018,10/05/2018,CH,TOYSRUS,TOYSRUS
2412,13221390,F-2210009414,JSSIXN,231,FR,08/29/2018,5,F,3721.783801,Francis|LALANNE,FRANKFURT / CHICAGO AR,Economy,FRANKFURT / CHICAGO,ETATS-UNIS,UNITED AIRLINES,09/18/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2418,13221776,F-2210009426,MBWBV3,231,FR,08/29/2018,5,F,0.000000,Jacques|DUTRONC,SIEGE SUPPLEMENTAIRE,Economy,GENEVE / CHICAGO,ETATS-UNIS,LUFTHANSA,09/16/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2432,13231236,F-2210009459,I2YAIA,231,CH,08/30/2018,5,F,5030.493130,Allen|TOUSSAINT,ZURICH / CHICAGO AR,Economy,ZURICH / CHICAGO,ETATS-UNIS,SWISS,09/16/2018,09/20/2018,CH,TOYSRUS,TOYSRUS
2454,13249903,F-2210009555,UX65OL,231,CH,09/03/2018,5,F,0.000000,Donna|SUMMER,Modification ZURICH / PARIS / NEW YORK / CHARL...,Economy,ZURICH / CHARLOTTE,ETATS-UNIS,AIR FRANCE,11/12/2018,11/16/2018,CH,TOYSRUS,TOYSRUS
2456,13251613,F-2210009546,OJRP3W,231,FR,09/03/2018,5,F,5373.426263,Barry|WHITE,ZURICH / NEW YORK AR,First,ZURICH / NEW YORK,ETATS-UNIS,UNITED AIRLINES,09/24/2018,09/27/2018,CH,TOYSRUS,TOYSRUS
2484,13260987,F-2210004442,JSEJBR,231,CH,08/15/2018,5,F,3275.002097,Elliott|SMITH,FRANKFURT / LOS ANGELES AR,Economy,FRANKFURT / LOS ANGELES,ETATS-UNIS,LUFTHANSA,09/24/2018,09/27/2018,CH,TOYSRUS,TOYSRUS
2506,13273180,F-2210004469,UX65OL,231,CH,08/15/2018,5,F,2601.119555,Glenn|FREY,ZURICH / PARIS / NEW YORK / CHARLOTTE / DETROI...,Economy,ZURICH / CHARLOTTE,ETATS-UNIS,AIR FRANCE,11/12/2018,11/16/2018,CH,TOYSRUS,TOYSRUS
2672,13274692,F-2210009552,IHCOKH,231,FR,09/03/2018,5,F,2805.960475,Jackie|WILSON,VENISE / ZURICH / CHICAGO - CALGARY / FRANKFUR...,Economy,VENISE / CHICAGO,ETATS-UNIS,SWISS,10/01/2018,10/12/2018,CH,TOYSRUS,TOYSRUS
2696,13274707,F-2210009625,SFMOQL,231,CH,09/03/2018,5,F,253.955551,Jackie|WILSON,CHICAGO / NEW ORLEANS / HOUSTON / DAYTON,Economy,CHICAGO / DAYTON,ETATS-UNIS,UNITED AIRLINES,10/02/2018,10/03/2018,CH,TOYSRUS,TOYSRUS
2798,13275446,F-2210009214,S584G4,231,FR,08/23/2018,5,F,1408.801346,Jani|LANE,ZURICH / FRANKFURT / LOS ANGELES / PHOENIX / N...,Economy,ZURICH / PHOENIX,ETATS-UNIS,LUFTHANSA,11/26/2018,12/02/2018,CH,TOYSRUS,TOYSRUS
2842,13275841,F-2210004924,OPYM7K,231,FR,08/16/2018,5,F,3449.324887,Jenni|RIVERA,FRANKFURT / NEW YORK / DAYTON / WASHINGTON / F...,Economy,FRANKFURT / DAYTON,ETATS-UNIS,LUFTHANSA,09/10/2018,09/14/2018,CH,TOYSRUS,TOYSRUS
2926,13275884,F-2210009451,VYUUE3,231,CH,08/30/2018,5,F,1933.539332,Jeff|BUCKLEY,ZURICH / NEW YORK AR,Economy,ZURICH / NEW YORK,ETATS-UNIS,SWISS,10/11/2018,10/20/2018,CH,TOYSRUS,TOYSRUS
2978,13314343,F-2210009402,OQBISV,231,CH,09/07/2018,5,F,119.402573,Jackie|WILSON,BOSTON / CHICAGO,Economy,BOSTON / CHICAGO,ETATS-UNIS,UNITED AIRLINES,10/07/2018,10/07/2018,CH,TOYSRUS,TOYSRUS
2992,13320776,F-2210009552,ODGK24,231,FR,09/07/2018,5,F,4461.949364,Jacques|DUTRONC,GENEVE / LONDRES / PHOENIX / LONDRES / GENEVE,Economy,GENEVE / PHOENIX,ETATS-UNIS,BRITISH AIRWAYS,11/26/2018,12/13/2018,CH,TOYSRUS,TOYSRUS
3016,13325178,F-2210009564,LWK7IA,231,FR,09/07/2018,5,F,163.456721,Jackie|WILSON,CHICAGO / BOSTON,Economy,CHICAGO / BOSTON,ETATS-UNIS,UNITED AIRLINES,10/08/2018,10/08/2018,CH,TOYSRUS,TOYSRUS
3036,13326970,F-2210009162,PVPI9X,231,FR,08/22/2018,5,F,4328.886590,Leon|RUSSELL,ZURICH / NEW YORK / PITTSBURGH AR,Economy,ZURICH / PITTSBURGH,ETATS-UNIS,UNITED AIRLINES,09/09/2018,09/13/2018,CH,TOYSRUS,TOYSRUS
3094,13328141,F-2210009426,QX5439,231,FR,09/10/2018,5,F,3352.803150,Bobby|VEE,FRIEDRICHSHAFEN / FRANKFURT / PHILADELPHIA - N...,Economy,FRIEDRICHSHAFEN / PHILADELPHIA,ETATS-UNIS,LUFTHANSA,10/01/2018,10/05/2018,CH,TOYSRUS,TOYSRUS
3204,13369264,F-2210009150,NJDSDF,231,FR,08/22/2018,5,F,2286.655523,Melanie|THORNTON,OSLO / NEW YORK AR,Economy,OSLO / NEW YORK,ETATS-UNIS,SCANDINAVIAN AIRLINE,09/24/2018,10/28/2018,CH,TOYSRUS,TOYSRUS
3540,13506693,F-2210010651,OYN5GV,231,CH,09/25/2018,5,F,2816.205626,Jaco|PASTORIUS,ZURICH / COPENHAGEN / BOSTON / COPENHAGEN / ZU...,Economy,ZURICH / BOSTON,ETATS-UNIS,SCANDINAVIAN AIRLINE,10/11/2018,10/19/2018,CH,TOYSRUS,TOYSRUS
3546,13508068,F-2210010652,RYII6P,231,CH,09/26/2018,5,F,498.175105,Jaco|PASTORIUS,BOSTON / CHICAGO AR,Premium,BOSTON / CHICAGO,ETATS-UNIS,UNITED AIRLINES,10/15/2018,10/18/2018,CH,TOYSRUS,TOYSRUS
3596,13540151,F-2210010552,NaN,231,CH,09/27/2018,5,F,1408.801346,Brett|HOFFMAN,Zurich Los Angeles,Economy,GENEVE / PHOENIX,ETATS-UNIS,LUFTHANSA,11/26/2018,11/26/2018,CH,TOYSRUS,TOYSRUS
3622,13591606,F-2210010645,NaN,231,CH,09/26/2018,5,F,5607.015696,NaN,GENEVE / FRANKFURT / PHILADELPHIA / FRANKFURT ...,Economy,GENEVE / PHILADELPHIA,ETATS-UNIS,LUFTHANSA,10/03/2018,10/06/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2744,13275419,F-2210004452,MBRB9Y,231,CH,08/15/2018,5,F,44.085194,Jani|LANE,STOCKHOLM / HELSINKI-VANTAA,Economy,STOCKHOLM / HELSINKI-VANTAA,FINLANDE,SCANDINAVIAN AIRLINE,09/27/2018,09/27/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2548,13274630,F-2210004552,NMY58A,231,FR,08/13/2018,5,F,226.417828,Jackie|WILSON,ZURICH / PARIS AR,Economy,ZURICH / PARIS,FRANCE,SWISS,08/23/2018,08/24/2018,CH,TOYSRUS,TOYSRUS
2724,13275409,F-2210004455,NMU2BO,231,CH,08/15/2018,5,F,165.288430,James|COTTON,GENEVE / PARIS,Economy,GENEVE / PARIS,FRANCE,AIR FRANCE,08/22/2018,08/22/2018,CH,TOYSRUS,TOYSRUS
2726,13275410,F-2210004455,NMU2BO,231,CH,08/15/2018,5,F,199.097427,James|COTTON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,08/23/2018,08/23/2018,CH,TOYSRUS,TOYSRUS
2920,13275881,F-2210009410,OBSR7A,231,FR,08/29/2018,5,F,165.909348,Jason|MOLINA,ZURICH / AMSTERDAM - PARIS / ZURICH,Economy,ZURICH / AMSTERDAM,FRANCE,KLM,09/03/2018,09/07/2018,CH,TOYSRUS,TOYSRUS
3174,13356134,F-2210009954,KCTA4H,231,FR,09/12/2018,5,F,766.834000,Luther|VANDROSS,ZURICH / PARIS AR,First,ZURICH / PARIS,FRANCE,SWISS,09/19/2018,09/23/2018,CH,TOYSRUS,TOYSRUS
3358,13430564,F-2210010225,Q4PQ7Y,231,CH,09/19/2018,5,F,160.072717,James|COTTON,PARIS / GENEVE,Economy,PARIS / GENEVE,FRANCE,SWISS,10/12/2018,10/12/2018,CH,TOYSRUS,TOYSRUS
3360,13430565,F-2210010225,Q4PQ7Y,231,CH,09/19/2018,5,F,112.386198,James|COTTON,ZURICH / PARIS,Economy,ZURICH / PARIS,FRANCE,SWISS,10/11/2018,10/11/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2460,13253581,F-2210009604,S92XD9,231,FR,09/03/2018,5,F,342.684765,Aretha|FRANKLIN,ZURICH / BUDAPEST AR,Economy,ZURICH / BUDAPEST,HONGRIE,SWISS,09/19/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
3284,13402961,F-2210010210,L698EV,231,FR,09/17/2018,5,F,193.974851,James|COTTON,GENEVE / VIENNE - BUDAPEST / VIENNE / GENEVE,Economy,GENEVE / BUDAPEST,HONGRIE,AUSTRIAN,10/22/2018,10/24/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2356,13210584,F-2210009256,QRBNJK,231,FR,08/28/2018,5,F,111.982601,Bo|DIDDLEY,MUMBAI / VADODARA AR,Economy,MUMBAI / VADODARA,INDE,JET AIRWAYS,09/17/2018,09/20/2018,CH,TOYSRUS,TOYSRUS
2358,13210585,F-2210009256,QRBNJK,231,FR,08/28/2018,5,F,612.225363,Bo|DIDDLEY,ZURICH / MUMBAI AR,First,ZURICH / MUMBAI,INDE,SWISS,09/16/2018,09/21/2018,CH,TOYSRUS,TOYSRUS
2782,13275438,F-2210009002,REMBX5,231,CH,08/17/2018,5,F,291.024369,Jani|LANE,BANGALORE / NEW DELHI / VADODARA,Economy,BANGALORE / VADODARA,INDE,NACIL AIR INDIA,10/04/2018,10/04/2018,CH,TOYSRUS,TOYSRUS
2784,13275439,F-2210009002,REMBX5,231,CH,08/17/2018,5,F,867.112292,Jani|LANE,ZURICH / FRANKFURT / BANGALORE - VADODARA / NE...,Economy,ZURICH / BANGALORE,INDE,LUFTHANSA,10/01/2018,10/06/2018,CH,TOYSRUS,TOYSRUS
3234,13387968,F-2210010111,RO3I7G,231,CH,09/14/2018,5,F,553.672775,Leon|RUSSELL,ZURICH / MUMBAI - PHUKET / BANGKOK / ZURICH,Economy,ZURICH / MUMBAI,INDE,SWISS,10/20/2018,11/03/2018,CH,TOYSRUS,TOYSRUS
3300,13408230,F-2210010240,L84X4G,231,FR,09/17/2018,5,F,62.091822,Bo|DIDDLEY,SIEGE SUPPLEMENTAIRE,First,ZURICH / MUMBAI,INDE,SWISS,09/17/2018,09/17/2018,CH,TOYSRUS,TOYSRUS
3302,13408231,F-2210010240,L84X4G,231,FR,09/17/2018,5,F,154.236085,Bo|DIDDLEY,MUMBAI / HYDERABAD,Economy,MUMBAI / HYDERABAD,INDE,JET AIRWAYS,10/08/2018,10/08/2018,CH,TOYSRUS,TOYSRUS
3304,13408232,F-2210010240,L84X4G,231,FR,09/17/2018,5,F,674.689736,Bo|DIDDLEY,ZURICH / MUMBAI - HYDERABAD / NEW DELHI / ZURICH,Economy,ZURICH / MUMBAI,INDE,SWISS,10/07/2018,10/19/2018,CH,TOYSRUS,TOYSRUS
3512,13499321,F-2210010605,P9QAL6,231,CH,09/25/2018,5,F,3506.325180,Jerry|VALE,Hauptbahnhof / FRANKFURT / MUMBAI / VADODARA -...,Economy,STUTTGART / VADODARA,INDE,LUFTHANSA,10/08/2018,10/12/2018,CH,TOYSRUS,TOYSRUS
3514,13499322,F-2210010605,P9QAL6,231,CH,09/25/2018,5,F,62.464373,Jerry|VALE,VADODARA / NEW DELHI / BANGALORE,Economy,VADODARA / BANGALORE,INDE,JET AIRWAYS,10/10/2018,10/10/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2490,13265698,F-2210009645,UADOKA,231,CH,09/04/2018,5,F,141.072619,Marc|LAVOINE,MILAN / ZURICH,Economy,MILAN / ZURICH,ITALIE,SWISS,09/25/2018,09/25/2018,CH,TOYSRUS,TOYSRUS
2492,13265699,F-2210009645,UADOKA,231,CH,09/04/2018,5,F,144.053027,Marc|LAVOINE,ZURICH / MILAN,Economy,ZURICH / MILAN,ITALIE,SWISS,09/24/2018,09/24/2018,CH,TOYSRUS,TOYSRUS
2704,13274711,F-2210009655,T89LGU,231,CH,09/04/2018,5,F,189.007506,Guru,ZURICH / VENISE AR,Economy,ZURICH / VENISE,ITALIE,SWISS,09/09/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
3390,13453642,F-2210010421,T9MLHC,231,CH,09/20/2018,5,F,177.893070,Guru,ZURICH / MILAN AR,Economy,ZURICH / MILAN,ITALIE,SWISS,09/22/2018,09/30/2018,CH,TOYSRUS,TOYSRUS
3488,13478278,F-2210010524,P6L9NK,231,FR,09/24/2018,5,F,59.204552,Aretha|FRANKLIN,ZURICH / VENISE,Economy,ZURICH / VENISE,ITALIE,SWISS,10/15/2018,10/15/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2578,13274645,F-2210009010,R2S34W,231,FR,08/17/2018,5,F,100.712935,Jaco|PASTORIUS,MEXICO CITY / AGUASCALIENTES,Economy,MEXICO CITY / AGUASCALIENTES,MEXIQUE,AEROMEXICO,08/27/2018,08/27/2018,CH,TOYSRUS,TOYSRUS
2710,13274905,F-2210004914,MBSAPJ,231,FR,08/16/2018,5,F,2796.243105,Jaco|PASTORIUS,ZURICH / TORONTO / MEXICO CITY - TORONTO / MON...,Economy,ZURICH / MEXICO CITY,MEXIQUE,AIR CANADA,08/26/2018,09/01/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2322,13187994,F-2210009255,SJHSSL,231,CH,08/24/2018,5,F,311.825129,Bo|DIDDLEY,ZURICH / OSLO / FRANKFURT / ROME,Economy,ZURICH / ROME,NORVEGE,SWISS,09/02/2018,09/07/2018,CH,TOYSRUS,TOYSRUS
2752,13275423,F-2210004454,MBAHFL,231,FR,08/15/2018,5,F,102.358368,Jani|LANE,ZURICH / AMSTERDAM / OSLO,Economy,ZURICH / OSLO,NORVEGE,KLM,09/26/2018,09/26/2018,CH,TOYSRUS,TOYSRUS
2884,13275862,F-2210009255,SAEVRC,231,CH,08/24/2018,5,F,355.165221,Jerry|VALE,ZURICH / OSLO / Flesland / OSLO / COPENHAGEN /...,Economy,ZURICH / BERGEN,NORVEGE,SCANDINAVIAN AIRLINE,09/03/2018,09/05/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2332,13193408,F-2210009201,UUU882,231,CH,08/27/2018,5,F,202.698752,Aretha|FRANKLIN,ZURICH / MUNICH / RZESZOW / MUNICH / ZURICH,Economy,ZURICH / RZESZOW,POLOGNE,LUFTHANSA,09/09/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
2402,13217581,F-2210009295,QVSD79,231,CH,08/29/2018,5,F,182.425773,Bonnie|LOU,ZURICH / VARSOVIE / WROCLAW,Economy,ZURICH / WROCLAW,POLOGNE,LOT POLISH AIRLINES,09/13/2018,09/13/2018,CH,TOYSRUS,TOYSRUS
2404,13217582,F-2210009295,QVSD79,231,CH,08/29/2018,5,F,158.830880,Bonnie|LOU,WROCLAW / ZURICH,Economy,WROCLAW / ZURICH,POLOGNE,LOT POLISH AIRLINES,09/14/2018,09/14/2018,CH,TOYSRUS,TOYSRUS
2642,13274677,F-2210009419,T7K9GL,231,CH,08/29/2018,5,F,298.133883,Guru,ZURICH / VARSOVIE / WROCLAW / VARSOVIE / ZURICH,Economy,ZURICH / WROCLAW,POLOGNE,LOT POLISH AIRLINES,09/02/2018,09/04/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1968,13115110,F-2210004562,KFPYRI,231,CH,08/03/2018,5,F,185.716639,Marc|LAVOINE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,08/25/2018,09/03/2018,CH,TOYSRUS,TOYSRUS
2014,13126753,F-2210004620,RJSOE7,231,FR,08/07/2018,5,F,402.665465,NaN,ZURICH / MANCHESTER AR,Economy,ZURICH / MANCHESTER,ROYAUME-UNI,SWISS,08/18/2018,08/19/2018,CH,TOYSRUS,TOYSRUS
2212,13172340,F-2210009046,MVYQD8,231,FR,08/21/2018,5,F,141.724583,Ben|E.KING,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/18/2018,09/19/2018,CH,TOYSRUS,TOYSRUS
2256,13175923,F-2210004555,KLTCJB,231,CH,08/13/2018,5,F,269.851058,Claude|NOUGARO,BARCELONA / LONDRES,Economy,BARCELONA / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,08/27/2018,08/27/2018,CH,TOYSRUS,TOYSRUS
2274,13176011,F-2210004910,OQCLK8,231,FR,08/16/2018,5,F,173.111999,Billie|HOLIDAY,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/13/2018,09/14/2018,CH,TOYSRUS,TOYSRUS
2296,13179860,F-2210009140,KLTCJB,231,FR,08/22/2018,5,F,59.608149,Claude|NOUGARO,SIEGE SUPPLEMENTAIRE,Economy,BARCELONA / LONDRES,ROYAUME-UNI,BRITISH AIRWAYS,03/05/2019,03/05/2019,CH,TOYSRUS,TOYSRUS
2302,13179871,F-2210009142,Q2T7VJ,231,CH,08/22/2018,5,F,227.752803,Claude|NOUGARO,FRANKFURT / LONDRES,Economy,FRANKFURT / LONDRES,ROYAUME-UNI,LUFTHANSA,08/29/2018,08/29/2018,CH,TOYSRUS,TOYSRUS
2312,13181842,F-2210009199,Q2T7VJ,231,CH,08/23/2018,5,F,108.536505,Claude|NOUGARO,MODIFICATION FRANKFURT / LONDRES,Economy,FRANKFURT / LONDRES,ROYAUME-UNI,LUFTHANSA,08/28/2018,08/28/2018,CH,TOYSRUS,TOYSRUS
2436,13231890,F-2210009442,I9X5K2,231,CH,08/30/2018,5,F,179.290136,Bobby|VEE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/12/2018,09/12/2018,CH,TOYSRUS,TOYSRUS
2444,13249176,F-2210009551,K9Y966,231,CH,09/03/2018,5,F,172.987816,Del|SHANNON,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/10/2018,09/11/2018,CH,TOYSRUS,TOYSRUS
2464,13260619,F-2210004994,R37VH9,231,FR,08/17/2018,5,F,141.600400,Elliott|SMITH,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/05/2018,09/06/2018,CH,TOYSRUS,TOYSRUS
2524,13274618,F-2210004526,JDS93W,231,FR,08/10/2018,5,F,296.798908,Guy|CLARK,Modification ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,08/27/2018,09/01/2018,CH,TOYSRUS,TOYSRUS
2790,13275442,F-2210009045,N2APJE,231,CH,08/21/2018,5,F,141.724583,Jani|LANE,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/18/2018,09/19/2018,CH,TOYSRUS,TOYSRUS
3008,13325173,F-2210009555,NX5AGT,231,CH,09/07/2018,5,F,122.382981,James|COTTON,BIRMINGHAM / ZURICH,Economy,BIRMINGHAM / ZURICH,ROYAUME-UNI,SWISS,10/17/2018,10/17/2018,CH,TOYSRUS,TOYSRUS
3064,13326984,F-2210009554,LAOJWD,231,FR,09/03/2018,5,F,121.358466,Leon|RUSSELL,ZURICH / LONDRES AR,Economy,ZURICH / LONDRES,ROYAUME-UNI,SWISS,09/24/2018,09/26/2018,CH,TOYSRUS,TOYSRUS
3156,13352993,F-2210009942,MI5TQT,231,FR,09/12/2018,5,F,307.602885,Guy|CLARK,ZURICH / MANCHESTER AR,Economy,ZURICH / MANCHESTER,ROYAUME-UNI,SWISS,09/19/2018,09/21/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3292,13402965,F-2210010211,L3IUEK,231,CH,09/17/2018,5,F,304.560386,James|COTTON,GENEVE / MOSCOW / ZURICH,Economy,GENEVE / MOSCOW,"RUSSIE, FEDERATION DE",SWISS,10/29/2018,10/31/2018,CH,TOYSRUS,TOYSRUS
3402,13466408,F-2210010445,QNDRXT,231,CH,09/21/2018,5,F,105.431913,James|COTTON,MOSCOW / GENEVE,Economy,MOSCOW / GENEVE,"RUSSIE, FEDERATION DE",AEROFLOT,10/31/2018,10/31/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1982,13119943,F-2210004609,RGX658,231,CH,08/07/2018,5,F,242.127059,Georges|BRASSENS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,08/20/2018,08/23/2018,CH,TOYSRUS,TOYSRUS
2006,13124792,F-2210004641,UK5LKY,231,CH,08/08/2018,5,F,318.872551,Francis|LALANNE,FRANKFURT / STOCKHOLM AR,Economy,FRANKFURT / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,08/14/2018,08/16/2018,CH,TOYSRUS,TOYSRUS
2028,13130121,F-2210004654,UG3EYM,231,FR,08/08/2018,5,F,187.113705,M.|POKORA,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/14/2018,09/18/2018,CH,TOYSRUS,TOYSRUS
2054,13139753,F-2210004512,KT3TXA,231,FR,08/10/2018,5,F,2215.156790,Georges|BRASSENS,ZURICH / COPENHAGEN / CHICAGO / STOCKHOLM / ZU...,Economy,ZURICH / CHICAGO,SUEDE,SCANDINAVIAN AIRLINE,09/12/2018,09/20/2018,CH,TOYSRUS,TOYSRUS
2066,13144903,F-2210004552,N5AA7N,231,FR,08/10/2018,5,F,476.554733,Georges|MOUSTAKI,ZURICH / STOCKHOLM / KALMAR - COPENHAGEN / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SWISS,09/17/2018,09/19/2018,CH,TOYSRUS,TOYSRUS
2076,13146884,F-2210004542,UIYUB3,231,FR,08/13/2018,5,F,360.101521,Georges|BRASSENS,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,CH,TOYSRUS,TOYSRUS
2080,13148854,F-2210004591,K7A5DK,231,CH,08/13/2018,5,F,124.432011,Bernard|LAVILLIERS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,08/27/2018,08/29/2018,CH,TOYSRUS,TOYSRUS
2100,13149281,F-2210004402,UY3525,231,CH,08/13/2018,5,F,360.101521,Bernard|LAVILLIERS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,CH,TOYSRUS,TOYSRUS
2124,13153713,F-2210004424,JSV529,231,FR,08/14/2018,5,F,152.652744,Adam|YAUCH,FRANKFURT / STOCKHOLM,Economy,FRANKFURT / STOCKHOLM,SUEDE,LUFTHANSA,09/03/2018,09/03/2018,CH,TOYSRUS,TOYSRUS
2126,13153714,F-2210004424,JSV529,231,FR,08/14/2018,5,F,198.880105,Adam|YAUCH,STOCKHOLM / FRANKFURT,Economy,STOCKHOLM / FRANKFURT,SUEDE,LUFTHANSA,09/06/2018,09/06/2018,CH,TOYSRUS,TOYSRUS
2146,13154648,F-2210004454,JXLA8E,231,FR,08/15/2018,5,F,407.042938,Allen|TOUSSAINT,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,CH,TOYSRUS,TOYSRUS
2160,13160680,F-2210004951,OYTIXW,231,CH,08/17/2018,5,F,312.632323,Anne|JEFFREYS,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,08/27/2018,08/28/2018,CH,TOYSRUS,TOYSRUS
2222,13175335,F-2210009116,NI3SNM,231,FR,08/21/2018,5,F,242.437518,Francis|LALANNE,KALMAR / STOCKHOLM / FRANKFURT,Economy,KALMAR / FRANKFURT,SUEDE,SCANDINAVIAN AIRLINE,08/31/2018,08/31/2018,CH,TOYSRUS,TOYSRUS
2224,13175336,F-2210009116,NI3SNM,231,FR,08/21/2018,5,F,167.461644,Francis|LALANNE,FRANKFURT / STOCKHOLM / KALMAR,Economy,FRANKFURT / KALMAR,SUEDE,SCANDINAVIAN AIRLINE,08/29/2018,08/29/2018,CH,TOYSRUS,TOYSRUS
2228,13175338,F-2210009115,NFS9BR,231,CH,08/21/2018,5,F,206.269032,Francis|LALANNE,FRANKFURT / STOCKHOLM,Economy,FRANKFURT / STOCKHOLM,SUEDE,LUFTHANSA,09/02/2018,09/02/2018,CH,TOYSRUS,TOYSRUS
2230,13175339,F-2210009115,NFS9BR,231,CH,08/21/2018,5,F,196.458524,Francis|LALANNE,STOCKHOLM / FRANKFURT,Economy,STOCKHOLM / FRANKFURT,SUEDE,LUFTHANSA,09/06/2018,09/06/2018,CH,TOYSRUS,TOYSRUS
2384,13212530,F-2210009254,QMF89A,231,FR,08/28/2018,5,F,222.599181,Bobby|VEE,ZURICH / COPENHAGEN AR,Economy,ZURICH / COPENHAGEN,SUEDE,SWISS,09/17/2018,09/20/2018,CH,TOYSRUS,TOYSRUS
2518,13274615,F-2210004521,LCMRYV,231,CH,08/10/2018,5,F,438.678721,Guru,ZURICH / STOCKHOLM / KALMAR - COPENHAGEN / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SWISS,09/17/2018,09/19/2018,CH,TOYSRUS,TOYSRUS
2602,13274657,F-2210009121,NOV7HU,231,CH,08/21/2018,5,F,285.932840,Jackie|WILSON,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,08/27/2018,08/28/2018,CH,TOYSRUS,TOYSRUS
2734,13275414,F-2210004452,MBR24Q,231,FR,08/15/2018,5,F,51.784579,Jani|LANE,OSLO / STOCKHOLM,Economy,OSLO / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,09/26/2018,09/26/2018,CH,TOYSRUS,TOYSRUS
2834,13275837,F-2210004562,NCDSNB,231,FR,08/10/2018,5,F,559.447315,Jeff|BUCKLEY,ZURICH / STOCKHOLM AR,Premium,ZURICH / STOCKHOLM,SUEDE,SWISS,08/27/2018,09/05/2018,CH,TOYSRUS,TOYSRUS
2858,13275849,F-2210009156,PYH84Y,231,FR,08/22/2018,5,F,306.423141,Jerry|ORBACH,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/08/2018,09/12/2018,CH,TOYSRUS,TOYSRUS
2894,13275867,F-2210009299,UISOBM,231,CH,08/27/2018,5,F,350.570426,Jerry|VALE,ZURICH / STOCKHOLM / KALMAR / STOCKHOLM / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SCANDINAVIAN AIRLINE,09/17/2018,09/20/2018,CH,TOYSRUS,TOYSRUS
2954,13313117,F-2210009545,OITU88,231,CH,09/07/2018,5,F,437.654206,Ben|E.KING,ZURICH / STOCKHOLM / KALMAR / STOCKHOLM / ZURICH,Economy,ZURICH / KALMAR,SUEDE,SCANDINAVIAN AIRLINE,09/11/2018,09/14/2018,CH,TOYSRUS,TOYSRUS
2968,13314165,F-2210009595,OIPWK6,231,CH,09/07/2018,5,F,98.105079,Jon|BUNCH,ZURICH / STOCKHOLM,Economy,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,09/18/2018,09/18/2018,CH,TOYSRUS,TOYSRUS
3110,13330547,F-2210009456,I3UV5O,231,FR,09/10/2018,5,F,284.908325,Jeff|BUCKLEY,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SCANDINAVIAN AIRLINE,10/08/2018,10/10/2018,CH,TOYSRUS,TOYSRUS
3398,13454621,F-2210010425,T7UO72,231,CH,09/20/2018,5,F,306.205819,Sam|COOKE,ZURICH / STOCKHOLM AR,Economy,ZURICH / STOCKHOLM,SUEDE,SWISS,10/07/2018,10/09/2018,CH,TOYSRUS,TOYSRUS
3430,13472373,F-2210010516,MX3W6G,231,FR,09/24/2018,5,F,265.349401,Jeff|BUCKLEY,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,11/04/2018,11/06/2018,CH,TOYSRUS,TOYSRUS
3464,13477159,F-2210009114,NKB4J2,231,FR,08/21/2018,5,F,407.042938,Shawty|LO,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,09/03/2018,09/04/2018,CH,TOYSRUS,TOYSRUS
3476,13477862,F-2210010524,P6GT4P,231,FR,09/24/2018,5,F,296.829954,Marc|LAVOINE,ZURICH / STOCKHOLM AR,Eco,ZURICH / STOCKHOLM,SUEDE,SWISS,10/10/2018,10/12/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1988,13122499,F-2210004620,TW7HM3,231,FR,08/07/2018,5,F,254.141827,Jean|FERRAT,BARCELONA / MUNICH / HANOVER / FRANKFURT / ZURICH,Economy,BARCELONA / ZURICH,SUISSE,LUFTHANSA,08/12/2018,08/13/2018,CH,TOYSRUS,TOYSRUS
2760,13275427,F-2210004455,MC75DX,231,CH,08/15/2018,5,F,62.495419,Jani|LANE,HELSINKI-VANTAA / STOCKHOLM / ZURICH,Economy,HELSINKI-VANTAA / ZURICH,SUISSE,SCANDINAVIAN AIRLINE,09/28/2018,09/28/2018,CH,TOYSRUS,TOYSRUS
3484,13477870,F-2210010520,P625VL,231,FR,09/24/2018,5,F,281.306999,Aretha|FRANKLIN,VENISE / MUNICH / LONDRES / ZURICH,Economy,VENISE / ZURICH,SUISSE,LUFTHANSA,10/17/2018,10/19/2018,CH,TOYSRUS,TOYSRUS
3494,13486833,F-2210010554,OR3APQ,231,FR,09/24/2018,5,F,119.495711,Claude|NOUGARO,VENISE / ZURICH,Economy,VENISE / ZURICH,SUISSE,SWISS,10/10/2018,10/10/2018,CH,TOYSRUS,TOYSRUS
3608,13550514,F-2210010545,LGQ64O,231,CH,09/28/2018,5,F,146.567745,Jon|BUNCH,LONDRES / ZURICH,Economy,LONDRES / ZURICH,SUISSE,SWISS,10/19/2018,10/19/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2022,13127129,F-2210004602,SORAJX,231,FR,08/06/2018,5,F,1884.05215,Marc|LAVOINE,BANGKOK / DUBAI / ZURICH,Economy,BANGKOK / ZURICH,THAILANDE,EMIRATES,08/18/2018,08/20/2018,CH,TOYSRUS,TOYSRUS

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3180,13357977,F-2210009964,MK399A,231,FR,09/12/2018,5,F,4062.947317,Jeff|BUCKLEY,ZURICH / WASHINGTON / NEW ORLEANS / WASHINGTON...,Economy,ZURICH / TUNIS,TUNISIE,UNITED AIRLINES,09/29/2018,10/10/2018,CH,TOYSRUS,TOYSRUS

Empty DataFrame
Columns: []
Index: []

### Hotel:

Get the Hotel TOP 10 by expenditure in euros from AUGUST 15th 2018, for all customers.

In [68]:
# SQL query:
hotel = pd.read_sql_query("select a.id, f.prestataire, round(f.montant_vente * 0.90909, 2) as hotel_exp from algo_test a inner join facturation_test f on a.id = f.numero_client where f.activite = 2 and f.date_facturation = '2018-08-15' order by f.montant_vente desc limit 10", engine)
hotel

    id         prestataire  hotel_exp
0  231      SCANDIC HOTELS     104.79
1  231      SCANDIC HOTELS     104.79
2  231     RADISSON HOTELS      91.32
3  231     RADISSON HOTELS      91.32
4  231  MARRIOTT HTLS RSTS      59.35
5  231  MARRIOTT HTLS RSTS      59.35

In [73]:
py_hotel_date = merged_eur.query('date_facturation == "08/15/2018"')
py_hotel = py_hotel_date[py_hotel_date['activite'] == 2].sort_values(by = 'montant_vente', ascending = False)
py_hotel.head(10) # limit 10

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
2768,13275431,F-2210004455,MBRB9Y,231,CH,08/15/2018,2,F,71.573243,Jani|LANE,Reservation SEURAHUONE HELSINKI,HELSINKI-VANTAA,HELSINKI-VANTAA / HELSINKI-VANTAA,FINLANDE,SCANDIC HOTELS,09/27/2018,09/28/2018,CH,TOYSRUS,TOYSRUS
2769,13275431,F-2210004455,MBRB9Y,231,CH,08/15/2018,2,F,71.573243,Jani|LANE,Reservation SEURAHUONE HELSINKI,HELSINKI-VANTAA,HELSINKI-VANTAA / HELSINKI-VANTAA,FINLANDE,SCANDIC HOTELS,09/27/2018,09/28/2018,FR,AFFLELOU,AFFLELOU
2732,13275413,F-2210004452,MBR24Q,231,FR,08/15/2018,2,F,62.371235,Jani|LANE,Reservation PARK INN BY RADISSON STOCKHOLM SOLNA,Stockholm,Stockholm / Stockholm,SUEDE,RADISSON HOTELS,09/26/2018,09/27/2018,CH,TOYSRUS,TOYSRUS
2733,13275413,F-2210004452,MBR24Q,231,FR,08/15/2018,2,F,62.371235,Jani|LANE,Reservation PARK INN BY RADISSON STOCKHOLM SOLNA,Stockholm,Stockholm / Stockholm,SUEDE,RADISSON HOTELS,09/26/2018,09/27/2018,FR,AFFLELOU,AFFLELOU
2140,13154624,F-2210004444,VJ8UXW,231,FR,08/15/2018,2,F,40.539750,Alan|VEGA,Reservation COURTYARD BEAVERCREEK MARRIOTT,DAYTON,DAYTON / DAYTON,ETATS-UNIS,MARRIOTT HTLS RSTS,07/29/2018,07/31/2018,CH,TOYSRUS,TOYSRUS
2141,13154624,F-2210004444,VJ8UXW,231,FR,08/15/2018,2,F,40.539750,Alan|VEGA,Reservation COURTYARD BEAVERCREEK MARRIOTT,DAYTON,DAYTON / DAYTON,ETATS-UNIS,MARRIOTT HTLS RSTS,07/29/2018,07/31/2018,FR,AFFLELOU,AFFLELOU

### Top 5 of Nike group:

Create a TOP 5 of travelers for the client NIKE in descending order of expenditure over the month of SEPTEMBER 2018.
Add NAME | FIRST NAME of traveler, Number of trips (beware of credit notes) and air expenses.

In [81]:
# SQL query:
nike = pd.read_sql_query("select substring_index(f.nom_voyageur, '|', 1) as name, substring_index(f.nom_voyageur, '|', -1) as surname, count(f.description) as num_trips, f.montant_vente from facturation_test f inner join algo_test a on f.numero_client = a.id where a.nom_groupe = 'NIKE' and f.date_facturation between '2018-09-01' and '2018-09-30'group by f.nom_voyageur order by f.montant_vente desc limit 5", engine)
nike

       name    surname  num_trips  montant_vente
0     Buddy      MILES          1         889.73
1       Joe      SOUTH          1         686.30
2     BRUEL    PATRICK          2         632.37
3   Blowfly    Blowfly          2         601.45
4  Savannah  CHURCHILL          2         577.50

In [97]:
py_nike_date = merged_eur.query('date_facturation >= "09/01/2018" and date_facturation <= "09/30/2018"')
py_nike = py_nike_date.query('nom_groupe == "NIKE"').groupby('nom_voyageur').apply(display)
py_nike2 = py_nike.groupby(['nom_voyageur'])['montant_vente'].sum()
py_nike2

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1774,13266939,F-9240001255,NaN,7026,FR,09/04/2018,11,F,-240.202213,ATC,.,NaN,NaN,ALLEMAGNE,ATC,09/04/2018,0000-00-00,FR,NIKE,CONVERSE
1783,13275688,F-9240001222,NaN,7026,FR,09/05/2018,11,F,-92.131845,ATC,.,NaN,NaN,FRANCE,ATC,09/05/2018,0000-00-00,FR,NIKE,CONVERSE
1787,13283401,F-9240001245,NaN,7026,FR,09/06/2018,11,F,-300.431280,ATC,.,NaN,NaN,ALLEMAGNE,ATC,09/06/2018,0000-00-00,FR,NIKE,CONVERSE
1809,13348657,A-9240000122,NaN,7026,FR,09/11/2018,11,A,240.202213,ATC,.,NaN,NaN,ALLEMAGNE,ATC,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1818,13348826,F-9240001569,NaN,7026,FR,09/11/2018,11,F,-240.202213,ATC,.,NaN,NaN,ALLEMAGNE,ATC,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1822,13348830,F-9240001554,NaN,7026,FR,09/11/2018,11,F,-267.684053,ATC,.,NaN,NaN,DANEMARK,ATC,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1909,13491539,F-9240002511,NaN,7026,FR,09/25/2018,11,F,-49.040121,ATC,.,NaN,NaN,SUISSE,ATC,09/25/2018,0000-00-00,FR,NIKE,CONVERSE
1917,13501429,F-9240002556,NaN,7026,FR,09/25/2018,11,F,-91.753085,ATC,.,NaN,NaN,ROYAUME-UNI,ATC,09/25/2018,0000-00-00,FR,NIKE,CONVERSE
1934,13535632,F-9240002520,NaN,7026,FR,09/27/2018,11,F,-267.895165,ATC,.,NaN,NaN,ROYAUME-UNI,ATC,09/27/2018,0000-00-00,FR,NIKE,CONVERSE
1938,13537722,F-9240002525,NaN,7026,FR,09/27/2018,11,F,-176.868555,ATC,.,NaN,NaN,ALLEMAGNE,ATC,09/27/2018,0000-00-00,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1843,13388227,A-9240000152,UGJTQA,7026,FR,09/14/2018,1,A,-2.483673,Alain|BASHUNG,BRUXELLES (BE) / PARIS (FR),NaN,BRUXELLES (BE) / PARIS (FR),BELGIQUE,SNCF,08/31/2018,08/31/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1763,13258730,F-9240001221,QY37QG,7026,FR,09/04/2018,4,F,392.650054,BRUEL|PATRICK,Location Voiture AVIS STAVANGER,Sola (NO),Sola (NO) / Sola (NO),NORVEGE,AVIS,08/28/2018,08/31/2018,FR,NIKE,CONVERSE
1935,13537719,F-9240002525,IWWTBW,7026,FR,09/27/2018,5,F,176.868555,BRUEL|PATRICK,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,11/12/2018,11/16/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3642,13319565,F-9240001454,L92G8M,7024,FR,09/10/2018,4,F,116.130334,Betty|HUTTON,Location Voiture AVIS PARIS,ORLY (FR),ORLY (FR) / PARIS,FRANCE,AVIS,09/05/2018,09/06/2018,FR,NIKE,NIKE
3652,13342635,F-9240001551,KER3AF,7024,FR,09/11/2018,1,F,46.568866,Betty|HUTTON,LYON (FR) / PARIS (FR),NaN,LYON (FR) / PARIS (FR),FRANCE,SNCF,09/13/2018,09/13/2018,FR,NIKE,NIKE
3670,13386762,F-9240001561,PDRSDA,7024,FR,09/13/2018,1,F,60.229067,Betty|HUTTON,PARIS (FR) / LYON (FR),NaN,PARIS (FR) / LYON (FR),FRANCE,SNCF,09/13/2018,09/13/2018,FR,NIKE,NIKE
3684,13429819,F-9240002120,NLJ46G,7024,FR,09/19/2018,5,F,68.301004,Betty|HUTTON,Modification PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3685,13429820,F-9240002120,NLJ46G,7024,FR,09/19/2018,5,F,31.045911,Betty|HUTTON,SIEGE SUPPLEMENTAIRE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3695,13538253,F-9240002525,J4JFCD,7024,FR,09/27/2018,5,F,249.248991,Betty|HUTTON,MARSEILLE / PARIS / MARSEILLE,Economy,MARSEILLE / PARIS,FRANCE,AIR FRANCE,10/02/2018,10/03/2018,FR,NIKE,NIKE
3697,13548136,F-9240002554,L64R5Y,7024,FR,09/28/2018,2,F,95.323365,Betty|HUTTON,Reservation HOLIDAY INN PARIS CDG AIRPORT,PARIS,PARIS / PARIS,FRANCE,HOLIDAY INN,10/02/2018,10/03/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1828,13360884,F-9240001645,VJSKVH,7026,FR,09/12/2018,2,F,44.693693,Billy|PAUL,Reservation INTERCONTINENTAL WARSZAWA,VARSOVIE,VARSOVIE / VARSOVIE,POLOGNE,InterContinental Warszawa,09/18/2018,09/20/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1902,13471663,A-9240000201,KRGOLB,7026,FR,09/23/2018,1,A,-22.973974,Billy|STRANGE,LILLE (FR) / PARIS (FR),NaN,LILLE (FR) / PARIS (FR),FRANCE,SNCF,09/14/2018,09/14/2018,FR,NIKE,CONVERSE
1903,13471664,A-9240000201,KRGOLB,7026,FR,09/23/2018,1,A,-16.454333,Billy|STRANGE,PARIS (FR) / LILLE (FR),NaN,PARIS (FR) / LILLE (FR),FRANCE,SNCF,09/12/2018,09/12/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1859,13417775,F-9240002025,SJQ9BO,7026,FR,09/18/2018,5,F,373.451262,Blowfly,Modification PARIS / VARSOVIE AR,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE
1860,13417776,F-9240002025,SJQ9BO,7026,FR,09/18/2018,5,F,43.464275,Blowfly,SIEGE SUPPLEMENTAIRE,First,PARIS / VARSOVIE,POLOGNE,AIR FRANCE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1739,13253301,F-9240001146,S8TFH9,7026,FR,09/03/2018,1,F,65.196413,Bobby|WOMACK,BRUXELLES (BE) / PARIS (FR),NaN,BRUXELLES (BE) / PARIS (FR),BELGIQUE,SNCF,09/13/2018,09/13/2018,FR,NIKE,CONVERSE
1740,13253302,F-9240001146,S8TFH9,7026,FR,09/03/2018,1,F,65.196413,Bobby|WOMACK,PARIS (FR) / BRUXELLES (BE),NaN,PARIS (FR) / BRUXELLES (BE),BELGIQUE,SNCF,09/11/2018,09/11/2018,FR,NIKE,CONVERSE
1796,13319571,F-9240001460,RY3IFA,7026,FR,09/10/2018,4,F,53.274783,Bobby|WOMACK,Location Voiture AVIS ORLEANS,Orleans (BR),Orleans (BR) / ORLY (FR),FRANCE,AVIS,09/04/2018,09/04/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1823,13349837,F-9240001590,S9H68S,7026,FR,09/11/2018,2,F,42.6695,Bob|CREWE,Reservation MERCURE LONDON PADDINGTON,London(England),London(England) / London(England),ROYAUME-UNI,MERCURE LONDON PADDINGTON HOTEL,09/04/2018,09/06/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1874,13444005,F-9240002224,OCCHNH,7026,FR,09/20/2018,4,F,552.449567,Buddy|MILES,Location Voiture AVIS LILLE,LILLE,LILLE / LILLE,FRANCE,AVIS,08/28/2018,09/13/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1736,13251350,F-9240001169,NaN,7026,FR,09/03/2018,11,F,-139.334048,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/03/2018,0000-00-00,FR,NIKE,CONVERSE
1743,13253305,F-9240001146,NaN,7026,FR,09/03/2018,11,F,-130.392826,CB Paybox,.,NaN,NaN,BELGIQUE,CB Paybox,09/03/2018,0000-00-00,FR,NIKE,CONVERSE
1755,13256630,F-9240001204,NaN,7026,FR,09/03/2018,11,F,-21.173311,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/03/2018,0000-00-00,FR,NIKE,CONVERSE
1758,13257834,F-9240001214,NaN,7026,FR,09/03/2018,11,F,-6.209182,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/03/2018,0000-00-00,FR,NIKE,CONVERSE
1773,13266938,F-9240001255,NaN,7026,FR,09/04/2018,11,F,-10.686003,CB Paybox,.,NaN,NaN,ALLEMAGNE,CB Paybox,09/04/2018,0000-00-00,FR,NIKE,CONVERSE
1786,13283400,F-9240001245,NaN,7026,FR,09/06/2018,11,F,-2.905897,CB Paybox,.,NaN,NaN,ALLEMAGNE,CB Paybox,09/06/2018,0000-00-00,FR,NIKE,CONVERSE
1790,13290922,F-9240001266,NaN,7026,FR,09/06/2018,11,F,-65.320597,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/06/2018,0000-00-00,FR,NIKE,CONVERSE
1808,13348656,A-9240000122,NaN,7026,FR,09/11/2018,11,A,10.686003,CB Paybox,.,NaN,NaN,ALLEMAGNE,CB Paybox,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1814,13348822,F-9240001210,NaN,7026,FR,09/05/2018,11,F,-2.980407,CB Paybox,.,NaN,NaN,ALLEMAGNE,CB Paybox,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1817,13348825,F-9240001569,NaN,7026,FR,09/11/2018,11,F,-2.918316,CB Paybox,.,NaN,NaN,ALLEMAGNE,CB Paybox,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1821,13348829,F-9240001554,NaN,7026,FR,09/11/2018,11,F,-2.905897,CB Paybox,.,NaN,NaN,DANEMARK,CB Paybox,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1827,13350083,F-9240001595,NaN,7026,FR,09/11/2018,11,F,-1.490204,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/11/2018,0000-00-00,FR,NIKE,CONVERSE
1834,13361616,F-9240001665,NaN,7026,FR,09/12/2018,11,F,-103.320792,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/12/2018,0000-00-00,FR,NIKE,CONVERSE
1837,13363193,F-9240001654,NaN,7026,FR,09/12/2018,11,F,-0.745102,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/12/2018,0000-00-00,FR,NIKE,CONVERSE
1842,13379364,F-9240001545,NaN,7026,FR,09/13/2018,11,F,-116.111707,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/13/2018,0000-00-00,FR,NIKE,CONVERSE
1850,13397175,F-9240001444,NaN,7026,FR,09/14/2018,11,F,-57.267287,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/14/2018,0000-00-00,FR,NIKE,CONVERSE
1853,13402935,F-9240001912,NaN,7026,FR,09/17/2018,11,F,-0.745102,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/17/2018,0000-00-00,FR,NIKE,CONVERSE
1858,13415341,F-9240002022,NaN,7026,FR,09/18/2018,11,F,-0.745102,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/18/2018,0000-00-00,FR,NIKE,CONVERSE
1862,13417778,F-9240002025,NaN,7026,FR,09/18/2018,11,F,-43.464275,CB Paybox,.,NaN,NaN,POLOGNE,CB Paybox,09/18/2018,0000-00-00,FR,NIKE,CONVERSE
1869,13439159,F-9240002142,NaN,7026,FR,09/19/2018,11,F,-1.490204,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/19/2018,0000-00-00,FR,NIKE,CONVERSE
1885,13454977,F-9240002299,NaN,7026,FR,09/20/2018,11,F,-0.745102,CB Paybox,.,NaN,NaN,DANEMARK,CB Paybox,09/20/2018,0000-00-00,FR,NIKE,CONVERSE
1900,13468320,F-9240002411,NaN,7026,FR,09/21/2018,11,F,-26.326932,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/21/2018,0000-00-00,FR,NIKE,CONVERSE
1901,13468321,F-9240002411,NaN,7026,FR,09/21/2018,11,F,-1.490204,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/21/2018,0000-00-00,FR,NIKE,CONVERSE
1906,13471667,A-9240000201,NaN,7026,FR,09/23/2018,11,A,48.369529,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/23/2018,0000-00-00,FR,NIKE,CONVERSE
1910,13491540,F-9240002511,NaN,7026,FR,09/25/2018,11,F,-2.905897,CB Paybox,.,NaN,NaN,SUISSE,CB Paybox,09/25/2018,0000-00-00,FR,NIKE,CONVERSE
1913,13494910,F-9240002522,NaN,7026,FR,09/25/2018,11,F,-64.699678,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/25/2018,0000-00-00,FR,NIKE,CONVERSE
1930,13513104,F-9240002652,NaN,7026,FR,09/26/2018,11,F,-107.170485,CB Paybox,.,NaN,NaN,FRANCE,CB Paybox,09/26/2018,0000-00-00,FR,NIKE,CONVERSE
1937,13537721,F-9240002525,NaN,7026,FR,09/27/2018,11,F,-2.905897,CB Paybox,.,NaN,NaN,ALLEMAGNE,CB Paybox,09/27/2018,0000-00-00,FR,NIKE,CONVERSE
1941,13550058,F-9240002402,NaN,7026,FR,09/28/2018,11,F,-0.745102,CB Paybox,.,NaN,NaN,ROYAUME-UNI,CB Paybox,09/28/2018,0000-00-00,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1804,13341515,F-9240001544,VRDG5W,7026,FR,09/11/2018,1,F,196.831075,Davy|JONES,LONDRES (GB) / PARIS (FR),NaN,LONDRES (GB) / PARIS (FR),FRANCE,SNCF,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1907,13491537,F-9240002511,QU7WDA,7026,FR,09/25/2018,5,F,49.040121,Davy|JONES,LONDRES / BASEL,Economy,LONDRES / BASEL,SUISSE,BRITISH AIRWAYS,10/03/2018,10/03/2018,FR,NIKE,CONVERSE
1939,13550056,F-9240002402,SOIBD6,7026,FR,09/28/2018,2,F,69.313101,Davy|JONES,Reservation OLD HUNSTANTON LE STRANGE ARMS HOTEL,NORWICH,NORWICH / NORWICH,ROYAUME-UNI,LE STRANGE ARMS HOTEL,10/02/2018,10/03/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1728,13251342,F-9240001169,RRO5R6,7026,FR,09/03/2018,1,F,2.359489,Eartha|KITT,HAGUENAU (FR) / STRASBOURG (FR),NaN,HAGUENAU (FR) / STRASBOURG (FR),FRANCE,SNCF,09/03/2018,09/03/2018,FR,NIKE,CONVERSE
1729,13251343,F-9240001169,RRO5R6,7026,FR,09/03/2018,1,F,2.359489,Eartha|KITT,STRASBOURG (FR) / HAGUENAU (FR),NaN,STRASBOURG (FR) / HAGUENAU (FR),FRANCE,SNCF,09/06/2018,09/06/2018,FR,NIKE,CONVERSE
1730,13251344,F-9240001169,RRO5R6,7026,FR,09/03/2018,1,F,58.366313,Eartha|KITT,MASSY (FR) / STRASBOURG (FR),NaN,MASSY (FR) / STRASBOURG (FR),FRANCE,SNCF,09/06/2018,09/06/2018,FR,NIKE,CONVERSE
1731,13251345,F-9240001169,RRO5R6,7026,FR,09/03/2018,1,F,58.366313,Eartha|KITT,STRASBOURG (FR) / MASSY (FR),NaN,STRASBOURG (FR) / MASSY (FR),FRANCE,SNCF,09/03/2018,09/03/2018,FR,NIKE,CONVERSE
1737,13252007,F-9240001155,RRO5R6,7026,FR,09/03/2018,4,F,67.059168,Eartha|KITT,Location Voiture AVIS PARIS,PARIS,PARIS / PARIS,FRANCE,AVIS,09/03/2018,09/06/2018,FR,NIKE,CONVERSE
1744,13254095,A-9240000090,RRO5R6,7026,FR,09/03/2018,4,A,-67.059168,Eartha|KITT,Location Voiture AVIS PARIS,PARIS,PARIS / PARIS,FRANCE,AVIS,09/03/2018,09/06/2018,FR,NIKE,CONVERSE
1747,13255586,F-9240001202,PFTKKI,7026,FR,09/03/2018,1,F,48.804172,Eartha|KITT,HAGUENAU (FR) / STRASBOURG (FR) / MASSY (FR),NaN,HAGUENAU (FR) / MASSY (FR),FRANCE,SNCF,08/27/2018,08/27/2018,FR,NIKE,CONVERSE
1748,13255587,F-9240001202,PFTKKI,7026,FR,09/03/2018,1,F,48.804172,Eartha|KITT,MASSY (FR) / STRASBOURG (FR) / HAGUENAU (FR),NaN,MASSY (FR) / HAGUENAU (FR),FRANCE,SNCF,08/30/2018,08/30/2018,FR,NIKE,CONVERSE
1759,13258392,F-9240001222,PFTKKI,7026,FR,09/04/2018,4,F,98.353446,Eartha|KITT,Location Voiture AVIS PARIS,PARIS,PARIS / PARIS,FRANCE,AVIS,08/27/2018,08/30/2018,FR,NIKE,CONVERSE
1800,13323925,F-9240001440,RRO5R6,7026,FR,09/10/2018,4,F,67.059168,Eartha|KITT,Location Voiture AVIS PARIS,PARIS,PARIS / PARIS,FRANCE,AVIS,09/03/2018,09/06/2018,FR,NIKE,CONVERSE
1830,13361612,F-9240001665,KSAE53,7026,FR,09/12/2018,1,F,47.189785,Eartha|KITT,STRASBOURG (FR) / MASSY (FR),NaN,STRASBOURG (FR) / MASSY (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,CONVERSE
1831,13361613,F-9240001665,KSAE53,7026,FR,09/12/2018,1,F,47.189785,Eartha|KITT,MASSY (FR) / PARIS (FR) / STRASBOURG (FR),NaN,MASSY (FR) / STRASBOURG (FR),FRANCE,SNCF,09/20/2018,09/20/2018,FR,NIKE,CONVERSE
1924,13511768,F-9240002514,MPFRAD,7026,FR,09/25/2018,5,F,151.094239,Eartha|KITT,STRASBOURG / NICE - MARSEILLE / STRASBOURG,Economy,STRASBOURG / NICE,FRANCE,VOLOTEA,09/25/2018,09/27/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1751,13256626,F-9240001204,SISX8G,7026,FR,09/03/2018,1,F,6.209182,Edwin|HAWKIN,FLEURY LES AUBRAIS (FR) / PARIS (FR),NaN,FLEURY LES AUBRAIS (FR) / PARIS (FR),FRANCE,SNCF,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1752,13256627,F-9240001204,SISX8G,7026,FR,09/03/2018,1,F,14.964129,Edwin|HAWKIN,PARIS (FR) / FLEURY LES AUBRAIS (FR),NaN,PARIS (FR) / FLEURY LES AUBRAIS (FR),FRANCE,SNCF,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1756,13257832,F-9240001214,SOAE35,7026,FR,09/03/2018,1,F,6.209182,Edwin|HAWKIN,FLEURY LES AUBRAIS (FR) / PARIS (FR),NaN,FLEURY LES AUBRAIS (FR) / PARIS (FR),FRANCE,SNCF,09/07/2018,09/07/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1761,13258722,F-9240001224,O6MQCU,7026,FR,09/04/2018,4,F,118.496033,Ella|FITZGERALD,Location Voiture AVIS PARIS,ORLY (FR),ORLY (FR) / ORLY (FR),FRANCE,AVIS,08/29/2018,08/31/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1771,13266936,F-9240001255,SO549K,7026,FR,09/04/2018,5,F,240.202213,Evelyn|LEAR,PARIS / BREMEN AR,Premium,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1806,13348654,A-9240000122,SO549K,7026,FR,09/11/2018,5,A,-240.202213,Evelyn|LEAR,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1810,13348818,F-9240001210,SO549K,7026,FR,09/05/2018,4,F,0.000000,Evelyn|LEAR,TAXI CDG-ORE,PARIS,PARIS / ORLEANS,ALLEMAGNE,TAXI,09/27/2018,09/27/2019,FR,NIKE,CONVERSE
1811,13348819,F-9240001210,SO549K,7026,FR,09/05/2018,4,F,0.000000,Evelyn|LEAR,TAXI ORE-CDG,ORLEANS,ORLEANS / PARIS,ALLEMAGNE,TAXI,09/24/2018,09/24/2019,FR,NIKE,CONVERSE
1815,13348823,F-9240001569,SO549K,7026,FR,09/11/2018,5,F,310.601920,Evelyn|LEAR,PARIS / BREMEN AR,Premium,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1887,13462772,F-9240002246,VCPN7I,7026,FR,09/21/2018,6,F,0.0,FRAIS ABONNEMENT FER OFFLINE,Emission FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,FRAIS ABONNEMENT FER OFFLINE,09/21/2018,09/20/2019,FR,NIKE,CONVERSE
1892,13466403,F-9240002291,VPOUSV,7026,FR,09/21/2018,6,F,0.0,FRAIS ABONNEMENT FER OFFLINE,Emission FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,FRAIS ABONNEMENT FER OFFLINE,11/18/2018,11/18/2018,FR,NIKE,CONVERSE
1893,13466404,F-9240002291,VPOUSV,7026,FR,09/21/2018,6,F,0.0,FRAIS ABONNEMENT FER OFFLINE,Emission FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,FRAIS ABONNEMENT FER OFFLINE,11/18/2018,11/18/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1767,13262377,A-9240000092,VN2NEU,7026,FR,09/04/2018,6,A,0.0,FRAIS D ANNULATION FER OFFLINE,Remboursement Remboursement STRASBOURG (FR) / ...,NaN,STRASBOURG (FR) / PARIS (FR),FRANCE,FRAIS D ANNULATION FER OFFLINE,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1768,13262378,A-9240000092,VN2NEU,7026,FR,09/04/2018,6,A,0.0,FRAIS D ANNULATION FER OFFLINE,Remboursement Remboursement PARIS (FR) / FLEUR...,NaN,PARIS (FR) / FLEURY LES AUBRAIS (FR),FRANCE,FRAIS D ANNULATION FER OFFLINE,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1844,13388228,A-9240000152,UGJTQA,7026,FR,09/14/2018,6,A,0.0,FRAIS D ANNULATION FER OFFLINE,Remboursement BRUXELLES (BE) / PARIS (FR),NaN,BRUXELLES (BE) / PARIS (FR),BELGIQUE,FRAIS D ANNULATION FER OFFLINE,08/31/2018,08/31/2018,FR,NIKE,CONVERSE
1889,13465316,A-9240000195,VCPN7I,7026,FR,09/21/2018,6,A,0.0,FRAIS D ANNULATION FER OFFLINE,Remboursement Annulation FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,FRAIS D ANNULATION FER OFFLINE,09/21/2018,09/20/2019,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3683,13402083,A-9240000159,KF3LI5,7024,FR,09/17/2018,6,A,0.0,FRAIS D ANNULATION FER ONLINE,Remboursement Remboursement VALENCE (FR) / PAR...,NaN,VALENCE (FR) / PARIS (FR),FRANCE,FRAIS D ANNULATION FER ONLINE,09/17/2018,09/17/2018,FR,NIKE,NIKE
3688,13430584,A-9240000159,JSCKE4,7024,FR,09/19/2018,6,A,0.0,FRAIS D ANNULATION FER ONLINE,Remboursement Remboursement PARIS (FR) / LYON ...,NaN,PARIS (FR) / LYON (FR),FRANCE,FRAIS D ANNULATION FER ONLINE,09/19/2018,09/19/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1812,13348820,F-9240001210,SO549K,7026,FR,09/05/2018,6,F,1.490204,FRAIS DE SERVICES OFFLINE,Emission TAXI ORE-CDG,NaN,ORLEANS / PARIS,ALLEMAGNE,FRAIS DE SERVICES OFFLINE,09/24/2018,09/24/2019,FR,NIKE,CONVERSE
1813,13348821,F-9240001210,SO549K,7026,FR,09/05/2018,6,F,1.490204,FRAIS DE SERVICES OFFLINE,Emission TAXI CDG-ORE,NaN,PARIS / ORLEANS,ALLEMAGNE,FRAIS DE SERVICES OFFLINE,09/27/2018,09/27/2019,FR,NIKE,CONVERSE
1921,13505598,F-9240002602,MRX4OE,7026,FR,09/25/2018,6,F,1.490204,FRAIS DE SERVICES OFFLINE,Emission TAXI SXB-SXB,NaN,STRASBOURG / STRASBOURG,FRANCE,FRAIS DE SERVICES OFFLINE,09/13/2018,09/13/2019,FR,NIKE,CONVERSE
1923,13505878,F-9240002609,KRDH4F,7026,FR,09/25/2018,6,F,0.745102,FRAIS DE SERVICES OFFLINE,Emission TAXI CDG-ORE,NaN,PARIS / ORLEANS,DANEMARK,FRAIS DE SERVICES OFFLINE,09/20/2018,09/20/2019,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1772,13266937,F-9240001255,SO549K,7026,FR,09/04/2018,6,F,10.686003,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,Emission PARIS / BREMEN AR,NaN,PARIS / BREMEN,ALLEMAGNE,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1776,13268416,F-9240001245,VSO76B,7026,FR,09/04/2018,6,F,10.686003,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,Emission ZURICH / VARSOVIE,NaN,ZURICH / VARSOVIE,POLOGNE,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,10/08/2018,10/08/2018,FR,NIKE,CONVERSE
1778,13268418,F-9240001246,VSO76B,7026,FR,09/04/2018,6,F,10.686003,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,Emission VARSOVIE / ZURICH,NaN,VARSOVIE / ZURICH,POLOGNE,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,10/11/2018,10/11/2018,FR,NIKE,CONVERSE
1795,13313700,F-9240001429,ODWCJA,7026,FR,09/07/2018,6,F,10.686003,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,Emission POZNAN / VARSOVIE / VIENNE / VARSOVIE...,NaN,POZNAN / VIENNE,AUTRICHE,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,09/17/2018,09/18/2018,FR,NIKE,CONVERSE
1807,13348655,A-9240000122,SO549K,7026,FR,09/11/2018,6,A,-10.686003,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,Emission PARIS / BREMEN AR,NaN,PARIS / BREMEN,ALLEMAGNE,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1816,13348824,F-9240001569,SO549K,7026,FR,09/11/2018,6,F,2.918316,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,Emission PARIS / BREMEN AR,NaN,PARIS / BREMEN,ALLEMAGNE,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,09/24/2018,09/27/2018,FR,NIKE,CONVERSE
1861,13417777,F-9240002025,SJQ9BO,7026,FR,09/18/2018,6,F,0.000000,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,Modification Modification PARIS / VARSOVIE AR,NaN,PARIS / VARSOVIE,POLOGNE,FRAIS EMIS AERIEN MOYEN COURRIER OFFLINE,10/08/2018,10/11/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1785,13283399,F-9240001245,LCBROF,7026,FR,09/06/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission PARIS / BREMEN AR,NaN,PARIS / BREMEN,ALLEMAGNE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,10/16/2018,10/18/2018,FR,NIKE,CONVERSE
1820,13348828,F-9240001554,KRDH4F,7026,FR,09/11/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission PARIS / COPENHAGEN AR,NaN,PARIS / COPENHAGEN,DANEMARK,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1878,13446886,F-9240002222,UBD6NO,7026,FR,09/20/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission PARIS / COPENHAGEN - OSLO / PARIS,NaN,PARIS / COPENHAGEN,NORVEGE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,10/22/2018,01/22/2019,FR,NIKE,CONVERSE
1879,13446887,F-9240002222,SPWTUR,7026,FR,09/20/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission GOTHENBURG / PARIS / OSLO,NaN,GOTHENBURG / OSLO,NORVEGE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,10/24/2018,01/24/2019,FR,NIKE,CONVERSE
1908,13491538,F-9240002511,QU7WDA,7026,FR,09/25/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission LONDRES / BASEL,NaN,LONDRES / BASEL,SUISSE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,10/03/2018,10/03/2018,FR,NIKE,CONVERSE
1936,13537720,F-9240002525,IWWTBW,7026,FR,09/27/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission PARIS / BREMEN AR,NaN,PARIS / BREMEN,ALLEMAGNE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,11/12/2018,11/16/2018,FR,NIKE,CONVERSE
3659,13361618,F-9240001664,NBBIDX,7024,FR,09/12/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission BERLIN / PARIS,NaN,BERLIN / PARIS,FRANCE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,12/19/2018,12/19/2018,FR,NIKE,NIKE
3664,13362235,A-9240000140,NBBIDX,7024,FR,09/12/2018,6,A,-2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission BERLIN / PARIS,NaN,BERLIN / PARIS,FRANCE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,12/19/2018,12/19/2018,FR,NIKE,NIKE
3675,13394524,F-9240001452,S9YGPH,7024,FR,09/14/2018,6,F,2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission BRUXELLES / AMSTERDAM / PARIS,NaN,BRUXELLES / PARIS,FRANCE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,01/17/2019,01/17/2019,FR,NIKE,NIKE
3680,13395113,A-9240000156,S9YGPH,7024,FR,09/14/2018,6,A,-2.905897,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,Emission BRUXELLES / AMSTERDAM / PARIS,NaN,BRUXELLES / PARIS,FRANCE,FRAIS EMIS AERIEN MOYEN COURRIER ONLINE,01/17/2019,01/17/2019,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1782,13275687,F-9240001222,V374P5,7026,FR,09/05/2018,6,F,6.755590,FRAIS EMIS AERIEN NATIONAL OFFLINE,Emission BORDEAUX / PARIS AR,NaN,BORDEAUX / PARIS,FRANCE,FRAIS EMIS AERIEN NATIONAL OFFLINE,10/10/2018,10/12/2018,FR,NIKE,CONVERSE
1925,13511769,F-9240002514,MPFRAD,7026,FR,09/25/2018,6,F,5.265386,FRAIS EMIS AERIEN NATIONAL OFFLINE,Emission STRASBOURG / NICE - MARSEILLE / STRAS...,NaN,STRASBOURG / NICE,FRANCE,FRAIS EMIS AERIEN NATIONAL OFFLINE,09/25/2018,09/27/2018,FR,NIKE,CONVERSE
3692,13467320,F-9240002402,VS7KVJ,7024,FR,09/21/2018,6,F,6.755590,FRAIS EMIS AERIEN NATIONAL OFFLINE,Emission PARIS / MONTPELLIER AR,NaN,PARIS / MONTPELLIER,FRANCE,FRAIS EMIS AERIEN NATIONAL OFFLINE,09/26/2018,09/27/2018,FR,NIKE,NIKE
3696,13538254,F-9240002525,J4JFCD,7024,FR,09/27/2018,6,F,6.755590,FRAIS EMIS AERIEN NATIONAL OFFLINE,Emission MARSEILLE / PARIS / MARSEILLE,NaN,MARSEILLE / PARIS,FRANCE,FRAIS EMIS AERIEN NATIONAL OFFLINE,10/02/2018,10/03/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3657,13361598,F-9240001662,NBBKG5,7024,FR,09/12/2018,6,F,2.905897,FRAIS EMIS AERIEN NATIONAL ONLINE,Emission PARIS / MARSEILLE,NaN,PARIS / MARSEILLE,FRANCE,FRAIS EMIS AERIEN NATIONAL ONLINE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3661,13362232,A-9240000129,NBBKG5,7024,FR,09/12/2018,6,A,-2.905897,FRAIS EMIS AERIEN NATIONAL ONLINE,Emission PARIS / MARSEILLE,NaN,PARIS / MARSEILLE,FRANCE,FRAIS EMIS AERIEN NATIONAL ONLINE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3673,13391534,F-9240001420,S4BP6M,7024,FR,09/14/2018,6,F,2.905897,FRAIS EMIS AERIEN NATIONAL ONLINE,Emission PARIS / MARSEILLE,NaN,PARIS / MARSEILLE,FRANCE,FRAIS EMIS AERIEN NATIONAL ONLINE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3677,13395110,A-9240000155,S4BP6M,7024,FR,09/14/2018,6,A,-2.905897,FRAIS EMIS AERIEN NATIONAL ONLINE,Emission PARIS / MARSEILLE,NaN,PARIS / MARSEILLE,FRANCE,FRAIS EMIS AERIEN NATIONAL ONLINE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3686,13429821,F-9240002120,NLJ46G,7024,FR,09/19/2018,6,F,0.000000,FRAIS EMIS AERIEN NATIONAL ONLINE,Modification Modification PARIS / MARSEILLE,NaN,PARIS / MARSEILLE,FRANCE,FRAIS EMIS AERIEN NATIONAL ONLINE,09/19/2018,09/19/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1732,13251346,F-9240001169,RRO5R6,7026,FR,09/03/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission MASSY (FR) / STRASBOURG (FR),NaN,MASSY (FR) / STRASBOURG (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/06/2018,09/06/2018,FR,NIKE,CONVERSE
1733,13251347,F-9240001169,RRO5R6,7026,FR,09/03/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission STRASBOURG (FR) / MASSY (FR),NaN,STRASBOURG (FR) / MASSY (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/03/2018,09/03/2018,FR,NIKE,CONVERSE
1734,13251348,F-9240001169,RRO5R6,7026,FR,09/03/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission STRASBOURG (FR) / HAGUENAU (FR),NaN,STRASBOURG (FR) / HAGUENAU (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/06/2018,09/06/2018,FR,NIKE,CONVERSE
1735,13251349,F-9240001169,RRO5R6,7026,FR,09/03/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission HAGUENAU (FR) / STRASBOURG (FR),NaN,HAGUENAU (FR) / STRASBOURG (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/03/2018,09/03/2018,FR,NIKE,CONVERSE
1749,13255588,F-9240001202,PFTKKI,7026,FR,09/03/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission HAGUENAU (FR) / STRASBOURG (FR) / MAS...,NaN,HAGUENAU (FR) / MASSY (FR),FRANCE,FRAIS EMIS FER OFFLINE,08/27/2018,08/27/2018,FR,NIKE,CONVERSE
1750,13255589,F-9240001202,PFTKKI,7026,FR,09/03/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission MASSY (FR) / STRASBOURG (FR) / HAGUEN...,NaN,MASSY (FR) / HAGUENAU (FR),FRANCE,FRAIS EMIS FER OFFLINE,08/30/2018,08/30/2018,FR,NIKE,CONVERSE
1770,13266931,F-9240001254,VN2NEU,7026,FR,09/04/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission STRASBOURG (FR) / PARIS (FR) / FLEURY...,NaN,STRASBOURG (FR) / FLEURY LES AUBRAIS (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/06/2018,09/06/2018,FR,NIKE,CONVERSE
1789,13290921,F-9240001266,L8LY7X,7026,FR,09/06/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission NIMES (FR) / STRASBOURG (FR),NaN,NIMES (FR) / STRASBOURG (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/12/2018,09/12/2018,FR,NIKE,CONVERSE
1832,13361614,F-9240001665,KSAE53,7026,FR,09/12/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission STRASBOURG (FR) / MASSY (FR),NaN,STRASBOURG (FR) / MASSY (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/17/2018,09/17/2018,FR,NIKE,CONVERSE
1833,13361615,F-9240001665,KSAE53,7026,FR,09/12/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission MASSY (FR) / PARIS (FR) / STRASBOURG ...,NaN,MASSY (FR) / STRASBOURG (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/20/2018,09/20/2018,FR,NIKE,CONVERSE
1840,13379362,F-9240001545,PGOUGE,7026,FR,09/13/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission FLEURY LES AUBRAIS (FR) / PARIS (FR) ...,NaN,FLEURY LES AUBRAIS (FR) / STRASBOURG (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/17/2018,09/17/2018,FR,NIKE,CONVERSE
1841,13379363,F-9240001545,PGOUGE,7026,FR,09/13/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission STRASBOURG (FR) / PARIS (FR) / FLEURY...,NaN,STRASBOURG (FR) / FLEURY LES AUBRAIS (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/20/2018,09/20/2018,FR,NIKE,CONVERSE
1865,13427137,F-9240002040,O9GEOI,7026,FR,09/18/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission PARIS (FR) / BORDEAUX (FR),NaN,PARIS (FR) / BORDEAUX (FR),FRANCE,FRAIS EMIS FER OFFLINE,10/02/2018,10/02/2018,FR,NIKE,CONVERSE
1866,13427138,F-9240002040,O9GEOI,7026,FR,09/18/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission BORDEAUX (FR) / PARIS (FR),NaN,BORDEAUX (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER OFFLINE,10/02/2018,10/02/2018,FR,NIKE,CONVERSE
1897,13468317,F-9240002411,VTANPK,7026,FR,09/21/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission FLEURY LES AUBRAIS (FR) / PARIS (FR),NaN,FLEURY LES AUBRAIS (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER OFFLINE,10/08/2018,10/08/2018,FR,NIKE,CONVERSE
1898,13468318,F-9240002411,VTANPK,7026,FR,09/21/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission PARIS (FR) / FLEURY LES AUBRAIS (FR),NaN,PARIS (FR) / FLEURY LES AUBRAIS (FR),FRANCE,FRAIS EMIS FER OFFLINE,10/09/2018,10/09/2018,FR,NIKE,CONVERSE
1904,13471665,A-9240000201,KRGOLB,7026,FR,09/23/2018,6,A,-4.470611,FRAIS EMIS FER OFFLINE,Emission LILLE (FR) / PARIS (FR),NaN,LILLE (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/12/2018,09/12/2018,FR,NIKE,CONVERSE
1905,13471666,A-9240000201,KRGOLB,7026,FR,09/23/2018,6,A,-4.470611,FRAIS EMIS FER OFFLINE,Emission PARIS (FR) / LILLE (FR),NaN,PARIS (FR) / LILLE (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/12/2018,09/12/2018,FR,NIKE,CONVERSE
1912,13494909,F-9240002522,RCWHYG,7026,FR,09/25/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission LYON (FR) / PARIS (FR),NaN,LYON (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER OFFLINE,10/01/2018,10/01/2018,FR,NIKE,CONVERSE
3671,13386763,F-9240001561,PDRSDA,7024,FR,09/13/2018,6,F,4.470611,FRAIS EMIS FER OFFLINE,Emission PARIS (FR) / LYON (FR),NaN,PARIS (FR) / LYON (FR),FRANCE,FRAIS EMIS FER OFFLINE,09/13/2018,09/13/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1741,13253303,F-9240001146,S8TFH9,7026,FR,09/03/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission BRUXELLES (BE) / PARIS (FR),NaN,BRUXELLES (BE) / PARIS (FR),BELGIQUE,FRAIS EMIS FER ONLINE,09/13/2018,09/13/2018,FR,NIKE,CONVERSE
1742,13253304,F-9240001146,S8TFH9,7026,FR,09/03/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission PARIS (FR) / BRUXELLES (BE),NaN,PARIS (FR) / BRUXELLES (BE),BELGIQUE,FRAIS EMIS FER ONLINE,09/11/2018,09/11/2018,FR,NIKE,CONVERSE
1753,13256628,F-9240001204,SISX8G,7026,FR,09/03/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission PARIS (FR) / FLEURY LES AUBRAIS (FR),NaN,PARIS (FR) / FLEURY LES AUBRAIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1754,13256629,F-9240001204,SISX8G,7026,FR,09/03/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission FLEURY LES AUBRAIS (FR) / PARIS (FR),NaN,FLEURY LES AUBRAIS (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1757,13257833,F-9240001214,SOAE35,7026,FR,09/03/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission FLEURY LES AUBRAIS (FR) / PARIS (FR),NaN,FLEURY LES AUBRAIS (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1805,13341516,F-9240001544,VRDG5W,7026,FR,09/11/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission LONDRES (GB) / PARIS (FR),NaN,LONDRES (GB) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1915,13495603,F-9240002525,RE3DYA,7026,FR,09/25/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission STRASBOURG (FR) / MASSY (FR),NaN,STRASBOURG (FR) / MASSY (FR),FRANCE,FRAIS EMIS FER ONLINE,10/02/2018,10/02/2018,FR,NIKE,CONVERSE
1928,13513102,F-9240002652,U6QB3U,7026,FR,09/26/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission STRASBOURG (FR) / PARIS (FR) / FLEURY...,NaN,STRASBOURG (FR) / FLEURY LES AUBRAIS (FR),FRANCE,FRAIS EMIS FER ONLINE,10/04/2018,10/04/2018,FR,NIKE,CONVERSE
1929,13513103,F-9240002652,U6QB3U,7026,FR,09/26/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission FLEURY LES AUBRAIS (FR) / PARIS (FR) ...,NaN,FLEURY LES AUBRAIS (FR) / STRASBOURG (FR),FRANCE,FRAIS EMIS FER ONLINE,10/01/2018,10/01/2018,FR,NIKE,CONVERSE
3646,13320595,F-9240001465,VFE9RX,7024,FR,09/10/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission PARIS (FR) / STRASBOURG (FR),NaN,PARIS (FR) / STRASBOURG (FR),FRANCE,FRAIS EMIS FER ONLINE,09/17/2018,09/17/2018,FR,NIKE,NIKE
3647,13320596,F-9240001465,VFE9RX,7024,FR,09/10/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission STRASBOURG (FR) / PARIS (FR),NaN,STRASBOURG (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/17/2018,09/17/2018,FR,NIKE,NIKE
3650,13336575,F-9240001520,JSCKE4,7024,FR,09/11/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission LYON (FR) / PARIS (FR),NaN,LYON (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/17/2018,09/17/2018,FR,NIKE,NIKE
3651,13336576,F-9240001520,JSCKE4,7024,FR,09/11/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission PARIS (FR) / LYON (FR),NaN,PARIS (FR) / LYON (FR),FRANCE,FRAIS EMIS FER ONLINE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3653,13342636,F-9240001551,KER3AF,7024,FR,09/11/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission LYON (FR) / PARIS (FR),NaN,LYON (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/13/2018,09/13/2018,FR,NIKE,NIKE
3655,13342899,F-9240001552,KF3LI5,7024,FR,09/11/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission VALENCE (FR) / PARIS (FR),NaN,VALENCE (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/17/2018,09/17/2018,FR,NIKE,NIKE
3667,13364490,F-9240001646,OT5HU3,7024,FR,09/13/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission PARIS (FR) / LYON (FR) / VALENCE (FR),NaN,PARIS (FR) / VALENCE (FR),FRANCE,FRAIS EMIS FER ONLINE,09/19/2018,09/19/2018,FR,NIKE,NIKE
3669,13371857,F-9240001519,OW6GLA,7024,FR,09/13/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission VALENCE (FR) / PARIS (FR),NaN,VALENCE (FR) / PARIS (FR),FRANCE,FRAIS EMIS FER ONLINE,09/17/2018,09/17/2018,FR,NIKE,NIKE
3690,13430830,F-9240002124,JSCKE4,7024,FR,09/19/2018,6,F,0.0,FRAIS EMIS FER ONLINE,Emission PARIS (FR) / LYON (FR),NaN,PARIS (FR) / LYON (FR),FRANCE,FRAIS EMIS FER ONLINE,09/19/2018,09/19/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1847,13396556,F-9240001450,RMD4XU,7026,FR,09/14/2018,6,F,6.75559,FRAIS EMIS LOWCOST MOYEN COURRIER OFFLINE,Emission BASEL / BORDEAUX AR,NaN,BASEL / BORDEAUX,FRANCE,FRAIS EMIS LOWCOST MOYEN COURRIER OFFLINE,10/01/2018,10/03/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1916,13501428,F-9240002556,QTFRBE,7026,FR,09/25/2018,6,F,2.905897,FRAIS EMIS LOWCOST MOYEN COURRIER ONLINE,Emission KARLSRUHE / LONDRES,NaN,KARLSRUHE / LONDRES,ROYAUME-UNI,FRAIS EMIS LOWCOST MOYEN COURRIER ONLINE,10/02/2018,10/02/2018,FR,NIKE,CONVERSE
1933,13535631,F-9240002520,QASBP4,7026,FR,09/27/2018,6,F,2.905897,FRAIS EMIS LOWCOST MOYEN COURRIER ONLINE,CDG BHX CDG,NaN,FRANCE / BIRMINGHAM,ROYAUME-UNI,FRAIS EMIS LOWCOST MOYEN COURRIER ONLINE,08/28/2018,08/29/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1848,13396576,F-9240001456,ROIH9A,7026,FR,09/14/2018,6,F,6.75559,FRAIS EMIS LOWCOST NATIONAL OFFLINE,Emission LYON / BORDEAUX AR,NaN,LYON / BORDEAUX,FRANCE,FRAIS EMIS LOWCOST NATIONAL OFFLINE,10/01/2018,10/03/2018,FR,NIKE,CONVERSE
1849,13397174,F-9240001444,RNU7D2,7026,FR,09/14/2018,6,F,6.75559,FRAIS EMIS LOWCOST NATIONAL OFFLINE,Emission LYON / BORDEAUX AR,NaN,LYON / BORDEAUX,FRANCE,FRAIS EMIS LOWCOST NATIONAL OFFLINE,10/01/2018,10/03/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1738,13252008,F-9240001155,RRO5R6,7026,FR,09/03/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS PARIS,NaN,PARIS / PARIS,FRANCE,FRAIS REFACT VOITURE OFFLINE,09/03/2018,09/06/2018,FR,NIKE,CONVERSE
1745,13254096,A-9240000090,RRO5R6,7026,FR,09/03/2018,6,A,-1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS PARIS,NaN,PARIS / PARIS,FRANCE,FRAIS REFACT VOITURE OFFLINE,09/03/2018,09/06/2018,FR,NIKE,CONVERSE
1760,13258393,F-9240001222,PFTKKI,7026,FR,09/04/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS PARIS,NaN,PARIS / PARIS,FRANCE,FRAIS REFACT VOITURE OFFLINE,08/27/2018,08/30/2018,FR,NIKE,CONVERSE
1762,13258723,F-9240001224,O6MQCU,7026,FR,09/04/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS PARIS,NaN,PARIS / PARIS,FRANCE,FRAIS REFACT VOITURE OFFLINE,08/29/2018,08/31/2018,FR,NIKE,CONVERSE
1792,13292141,F-9240001250,SGDK22,7026,FR,09/06/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS STRASBOURG,NaN,STRASBOURG / HAGUENAU (FR),FRANCE,FRAIS REFACT VOITURE OFFLINE,08/24/2018,09/01/2018,FR,NIKE,CONVERSE
1797,13319572,F-9240001460,RY3IFA,7026,FR,09/10/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS ORLEANS,NaN,ORLEANS / ORLEANS,FRANCE,FRAIS REFACT VOITURE OFFLINE,09/04/2018,09/04/2018,FR,NIKE,CONVERSE
1801,13323926,F-9240001440,RRO5R6,7026,FR,09/10/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS PARIS,NaN,PARIS / PARIS,FRANCE,FRAIS REFACT VOITURE OFFLINE,09/03/2018,09/06/2018,FR,NIKE,CONVERSE
1803,13325171,F-9240001491,31847584,7026,FR,09/10/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Reservation Voiture AVIS MARSEILLE (FR),NaN,MARSEILLE (FR) / MARSEILLE (FR),FRANCE,FRAIS REFACT VOITURE OFFLINE,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1846,13389833,F-9240001425,L8LY7X,7026,FR,09/14/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS NIMES,NaN,NIMES / NIMES,FRANCE,FRAIS REFACT VOITURE OFFLINE,09/10/2018,09/12/2018,FR,NIKE,CONVERSE
1873,13443992,F-9240002219,NAE42H,7026,FR,09/20/2018,6,F,0.000000,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS AJACCIO *,NaN,AJACCIO / AJACCIO,FRANCE,FRAIS REFACT VOITURE OFFLINE,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1875,13444006,F-9240002224,OCCHNH,7026,FR,09/20/2018,6,F,1.490204,FRAIS REFACT VOITURE OFFLINE,Emission Location Voiture AVIS LILLE,NaN,LILLE / LILLE,FRANCE,FRAIS REFACT VOITURE OFFLINE,08/28/2018,09/13/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1764,13258731,F-9240001221,QY37QG,7026,FR,09/04/2018,6,F,0.745102,FRAIS REFACT VOITURE ONLINE,Emission Location Voiture AVIS STAVANGER,NaN,STAVANGER / STAVANGER,NORVEGE,FRAIS REFACT VOITURE ONLINE,08/28/2018,08/31/2018,FR,NIKE,CONVERSE
1799,13319574,F-9240001461,VF6HQW,7026,FR,09/10/2018,6,F,0.745102,FRAIS REFACT VOITURE ONLINE,Emission Location Voiture AVIS STRASBOURG,NaN,STRASBOURG / STRASBOURG,FRANCE,FRAIS REFACT VOITURE ONLINE,09/04/2018,09/06/2018,FR,NIKE,CONVERSE
1871,13443988,F-9240002215,SEVFIC,7026,FR,09/20/2018,6,F,0.745102,FRAIS REFACT VOITURE ONLINE,Emission Location Voiture AVIS BREMEN,NaN,BREMEN / BREMEN,ALLEMAGNE,FRAIS REFACT VOITURE ONLINE,09/10/2018,09/13/2018,FR,NIKE,CONVERSE
3643,13319566,F-9240001454,L92G8M,7024,FR,09/10/2018,6,F,0.745102,FRAIS REFACT VOITURE ONLINE,Emission Location Voiture AVIS PARIS,NaN,PARIS / PARIS,FRANCE,FRAIS REFACT VOITURE ONLINE,09/05/2018,09/06/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1824,13349838,F-9240001590,S9H68S,7026,FR,09/11/2018,6,F,1.490204,FRAIS RESA HOTEL OFFLINE,Emission Reservation MERCURE LONDON PADDINGTON,NaN,London(England) / London(England),ROYAUME-UNI,FRAIS RESA HOTEL OFFLINE,09/04/2018,09/06/2018,FR,NIKE,CONVERSE
1826,13350082,F-9240001595,L8LY7X,7026,FR,09/11/2018,6,F,1.490204,FRAIS RESA HOTEL OFFLINE,Emission Reservation MERCURE GRANDE MOTTE PORT 3*,NaN,MONTPELLIER / MONTPELLIER,FRANCE,FRAIS RESA HOTEL OFFLINE,09/10/2018,09/12/2018,FR,NIKE,CONVERSE
1855,13404233,F-9240001924,ODWCJA,7026,FR,09/17/2018,6,F,0.000000,FRAIS RESA HOTEL OFFLINE,Emission Reservation HARRYSHOME HTL WIEN *,NaN,VIENNE / VIENNE,AUTRICHE,FRAIS RESA HOTEL OFFLINE,09/17/2018,09/18/2018,FR,NIKE,CONVERSE
1868,13439158,F-9240002142,MRX4OE,7026,FR,09/19/2018,6,F,1.490204,FRAIS RESA HOTEL OFFLINE,Emission Reservation IBIS STRASBOURG CTR PETIT...,NaN,STRASBOURG / STRASBOURG,FRANCE,FRAIS RESA HOTEL OFFLINE,09/12/2018,09/14/2018,FR,NIKE,CONVERSE
1899,13468319,F-9240002411,VTANPK,7026,FR,09/21/2018,6,F,1.490204,FRAIS RESA HOTEL OFFLINE,Emission Reservation IBIS PARIS ALESIA MONTPAR...,NaN,PARIS / PARIS,FRANCE,FRAIS RESA HOTEL OFFLINE,10/08/2018,10/09/2018,FR,NIKE,CONVERSE
3694,13467326,F-9240002405,VS7KVJ,7024,FR,09/21/2018,6,F,0.000000,FRAIS RESA HOTEL OFFLINE,Emission Reservation MERCURE GRANDE MOTTE PORT...,NaN,MONTPELLIER / MONTPELLIER,FRANCE,FRAIS RESA HOTEL OFFLINE,09/26/2018,09/27/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1780,13274111,F-9240001212,OJDQN2,7026,FR,09/05/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation PENTAHOTEL AIRPORT BRUSSELS,NaN,BRUXELLES / BRUXELLES,BELGIQUE,FRAIS RESA HOTEL ONLINE,09/11/2018,09/13/2018,FR,NIKE,CONVERSE
1829,13360885,F-9240001645,VJSKVH,7026,FR,09/12/2018,6,F,0.000000,FRAIS RESA HOTEL ONLINE,Emission Reservation INTERCONTINENTAL WARSZAWA *,NaN,VARSOVIE / VARSOVIE,POLOGNE,FRAIS RESA HOTEL ONLINE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1836,13363192,F-9240001654,NBO8MW,7026,FR,09/12/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation IBIS STRASBOURG NORD HAGU...,NaN,STRASBOURG / STRASBOURG,FRANCE,FRAIS RESA HOTEL ONLINE,09/19/2018,09/21/2018,FR,NIKE,CONVERSE
1852,13402934,F-9240001912,SBJBB8,7026,FR,09/17/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation IBIS BORDEAUX PESSAC,NaN,BORDEAUX / BORDEAUX,FRANCE,FRAIS RESA HOTEL ONLINE,09/10/2018,09/11/2018,FR,NIKE,CONVERSE
1857,13415340,F-9240002022,UW5K6M,7026,FR,09/18/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation BEST WESTERN SAINT LOUIS,NaN,PARIS / PARIS,FRANCE,FRAIS RESA HOTEL ONLINE,10/04/2018,10/05/2018,FR,NIKE,CONVERSE
1884,13454976,F-9240002299,MKLY8N,7026,FR,09/20/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation GRAND HOTEL,NaN,COPENHAGEN / COPENHAGEN,DANEMARK,FRAIS RESA HOTEL ONLINE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1919,13503492,F-9240002552,RE3DYA,7026,FR,09/25/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation NOVOTEL ORLEANS CHARBONNIERE,NaN,ORLEANS / ORLEANS,FRANCE,FRAIS RESA HOTEL ONLINE,10/02/2018,10/05/2018,FR,NIKE,CONVERSE
1932,13535630,F-9240002520,NaN,7026,FR,09/27/2018,6,F,0.000000,FRAIS RESA HOTEL ONLINE,Emission Location,NaN,/ BIRMINGHAM,ROYAUME-UNI,FRAIS RESA HOTEL ONLINE,08/28/2018,08/29/2018,FR,NIKE,CONVERSE
1940,13550057,F-9240002402,SOIBD6,7026,FR,09/28/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation OLD HUNSTANTON LE STRANGE...,NaN,NORWICH / NORWICH,ROYAUME-UNI,FRAIS RESA HOTEL ONLINE,10/02/2018,10/03/2018,FR,NIKE,CONVERSE
3698,13548137,F-9240002554,L64R5Y,7024,FR,09/28/2018,6,F,0.745102,FRAIS RESA HOTEL ONLINE,Emission Reservation HOLIDAY INN PARIS CDG AIR...,NaN,PARIS / PARIS,FRANCE,FRAIS RESA HOTEL ONLINE,10/02/2018,10/03/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1793,13305058,F-9240001292,VRDG5W,7026,FR,09/07/2018,6,F,14.902037,FRAIS TRAVEL 24,EMISSION : Reference : WSEH5X : jeudi 6 septem...,NaN,ROYAUME-UNI / FRANCE,FRANCE,FRAIS TRAVEL 24,09/06/2018,09/06/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1863,13427135,F-9240002040,O9GEOI,7026,FR,09/18/2018,1,F,76.062482,Gilbert|MONTAGNÃ‰,BORDEAUX (FR) / PARIS (FR),NaN,BORDEAUX (FR) / PARIS (FR),FRANCE,SNCF,10/02/2018,10/02/2018,FR,NIKE,CONVERSE
1864,13427136,F-9240002040,O9GEOI,7026,FR,09/18/2018,1,F,76.062482,Gilbert|MONTAGNÃ‰,PARIS (FR) / BORDEAUX (FR),NaN,PARIS (FR) / BORDEAUX (FR),FRANCE,SNCF,10/02/2018,10/02/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1775,13268415,F-9240001245,VSO76B,7026,FR,09/04/2018,5,F,97.167492,Gil|SCOTT|HERON,ZURICH / VARSOVIE,Economy,ZURICH / VARSOVIE,POLOGNE,SWISS,10/08/2018,10/08/2018,FR,NIKE,CONVERSE
1777,13268417,F-9240001246,VSO76B,7026,FR,09/04/2018,5,F,75.832742,Gil|SCOTT|HERON,VARSOVIE / ZURICH,Economy,VARSOVIE / ZURICH,POLOGNE,LOT POLISH AIRLINES,10/11/2018,10/11/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1781,13275686,F-9240001222,V374P5,7026,FR,09/05/2018,5,F,92.131845,Janis|JOPLIN,BORDEAUX / PARIS AR,Economy,BORDEAUX / PARIS,FRANCE,AIR FRANCE,10/10/2018,10/12/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1784,13283398,F-9240001245,LCBROF,7026,FR,09/06/2018,5,F,300.43128,Jimmy|RUFFIN,PARIS / BREMEN AR,Economy,PARIS / BREMEN,ALLEMAGNE,AIR FRANCE,10/16/2018,10/18/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1788,13290920,F-9240001266,L8LY7X,7026,FR,09/06/2018,1,F,60.849985,Jimmy|WOPO,NIMES (FR) / STRASBOURG (FR),NaN,NIMES (FR) / STRASBOURG (FR),FRANCE,SNCF,09/12/2018,09/12/2018,FR,NIKE,CONVERSE
1825,13350081,F-9240001595,L8LY7X,7026,FR,09/11/2018,2,F,61.980057,Jimmy|WOPO,Reservation MERCURE GRANDE MOTTE PORT 3*,MONTPELLIER,MONTPELLIER / MONTPELLIER,FRANCE,ACCOR HOTELS,09/10/2018,09/12/2018,FR,NIKE,CONVERSE
1845,13389832,F-9240001425,L8LY7X,7026,FR,09/14/2018,4,F,106.437801,Jimmy|WOPO,Location Voiture AVIS NIMES,NIMES (FR),NIMES (FR) / NIMES (FR),FRANCE,AVIS,09/10/2018,09/12/2018,FR,NIKE,CONVERSE
1867,13439157,F-9240002142,MRX4OE,7026,FR,09/19/2018,2,F,44.749576,Jimmy|WOPO,Reservation IBIS STRASBOURG CTR PETITE F.,STRASBOURG,STRASBOURG / STRASBOURG,FRANCE,ACCOR HOTELS,09/12/2018,09/14/2018,FR,NIKE,CONVERSE
1920,13505597,F-9240002602,MRX4OE,7026,FR,09/25/2018,4,F,0.000000,Jimmy|WOPO,TAXI SXB-SXB,STRASBOURG,STRASBOURG / STRASBOURG,FRANCE,TAXI,09/13/2018,09/13/2019,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1791,13292140,F-9240001250,SGDK22,7026,FR,09/06/2018,4,F,426.136173,Joe|SOUTH,Location Voiture AVIS STRASBOURG,HAGUENAU (FR),HAGUENAU (FR) / HAGUENAU (FR),FRANCE,AVIS,08/24/2018,09/01/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1794,13313699,F-9240001429,ODWCJA,7026,FR,09/07/2018,5,F,356.512613,Johnny|WINTER,POZNAN / VARSOVIE / VIENNE / VARSOVIE / POZNAN,Economy,POZNAN / VIENNE,AUTRICHE,LOT POLISH AIRLINES,09/17/2018,09/18/2018,FR,NIKE,CONVERSE
1854,13404232,F-9240001924,ODWCJA,7026,FR,09/17/2018,2,F,86.810576,Johnny|WINTER,Reservation HARRYSHOME HTL WIEN,VIENNE,VIENNE / VIENNE,AUTRICHE,HARRYSHOME HTL WIEN,09/17/2018,09/18/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3644,13320593,F-9240001465,VFE9RX,7024,FR,09/10/2018,1,F,71.405595,Joni|SLEDGE,PARIS (FR) / STRASBOURG (FR),NaN,PARIS (FR) / STRASBOURG (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,NIKE
3645,13320594,F-9240001465,VFE9RX,7024,FR,09/10/2018,1,F,71.405595,Joni|SLEDGE,STRASBOURG (FR) / PARIS (FR),NaN,STRASBOURG (FR) / PARIS (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1802,13325170,F-9240001491,31847584,7026,FR,09/10/2018,4,F,82.135062,Layne|STALEY,Reservation Voiture AVIS MARSEILLE (FR),MARSEILLE (FR),MARSEILLE (FR) / MARSEILLE (FR),FRANCE,AVIS,09/07/2018,09/07/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1746,13254097,A-9240000090,NaN,7026,FR,09/03/2018,11,A,68.549371,Lettrage,.,NaN,NaN,FRANCE,Lettrage,09/03/2018,0000-00-00,FR,NIKE,CONVERSE
3662,13362233,A-9240000129,NaN,7024,FR,09/12/2018,11,A,192.639877,Lettrage,.,NaN,NaN,FRANCE,Lettrage,09/12/2018,0000-00-00,FR,NIKE,NIKE
3665,13362236,A-9240000140,NaN,7024,FR,09/12/2018,11,A,76.565426,Lettrage,.,NaN,NaN,FRANCE,Lettrage,09/12/2018,0000-00-00,FR,NIKE,NIKE
3678,13395111,A-9240000155,NaN,7024,FR,09/14/2018,11,A,192.639877,Lettrage,.,NaN,NaN,FRANCE,Lettrage,09/14/2018,0000-00-00,FR,NIKE,NIKE
3681,13395114,A-9240000156,NaN,7024,FR,09/14/2018,11,A,129.256546,Lettrage,.,NaN,NaN,FRANCE,Lettrage,09/14/2018,0000-00-00,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3648,13336573,F-9240001520,JSCKE4,7024,FR,09/11/2018,1,F,65.196413,Lisa|LOPES,PARIS (FR) / LYON (FR),NaN,PARIS (FR) / LYON (FR),FRANCE,SNCF,09/19/2018,09/19/2018,FR,NIKE,NIKE
3649,13336574,F-9240001520,JSCKE4,7024,FR,09/11/2018,1,F,54.019885,Lisa|LOPES,LYON (FR) / PARIS (FR),NaN,LYON (FR) / PARIS (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,NIKE
3687,13430583,A-9240000159,JSCKE4,7024,FR,09/19/2018,1,A,-65.196413,Lisa|LOPES,Remboursement PARIS (FR) / LYON (FR),NaN,PARIS (FR) / LYON (FR),FRANCE,SNCF,09/19/2018,09/19/2018,FR,NIKE,NIKE
3689,13430829,F-9240002124,JSCKE4,7024,FR,09/19/2018,1,F,65.196413,Lisa|LOPES,PARIS (FR) / LYON (FR),NaN,PARIS (FR) / LYON (FR),FRANCE,SNCF,09/19/2018,09/19/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3654,13342898,F-9240001552,KF3LI5,7024,FR,09/11/2018,1,F,59.608149,Louisiana|RED,VALENCE (FR) / PARIS (FR),NaN,VALENCE (FR) / PARIS (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,NIKE
3666,13364489,F-9240001646,OT5HU3,7024,FR,09/13/2018,1,F,67.121259,Louisiana|RED,PARIS (FR) / LYON (FR) / VALENCE (FR),NaN,PARIS (FR) / VALENCE (FR),FRANCE,SNCF,09/19/2018,09/19/2018,FR,NIKE,NIKE
3668,13371856,F-9240001519,OW6GLA,7024,FR,09/13/2018,1,F,63.333658,Louisiana|RED,VALENCE (FR) / PARIS (FR),NaN,VALENCE (FR) / PARIS (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,NIKE
3682,13402082,A-9240000159,KF3LI5,7024,FR,09/17/2018,1,A,-50.294376,Louisiana|RED,Remboursement VALENCE (FR) / PARIS (FR),NaN,VALENCE (FR) / PARIS (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1819,13348827,F-9240001554,KRDH4F,7026,FR,09/11/2018,5,F,267.684053,Lynn|ANDERSON,PARIS / COPENHAGEN AR,Economy,PARIS / COPENHAGEN,DANEMARK,SCANDINAVIAN AIRLINE,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1883,13454975,F-9240002299,MKLY8N,7026,FR,09/20/2018,2,F,45.413958,Lynn|ANDERSON,Reservation GRAND HOTEL,COPENHAGEN,COPENHAGEN / COPENHAGEN,DANEMARK,CHATEAUX&hOTELS COLL,09/18/2018,09/20/2018,FR,NIKE,CONVERSE
1922,13505877,F-9240002609,KRDH4F,7026,FR,09/25/2018,4,F,0.000000,Lynn|ANDERSON,TAXI CDG-ORE,PARIS,PARIS / ORLEANS,DANEMARK,TAXI,09/20/2018,09/20/2019,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3656,13361597,F-9240001662,NBBKG5,7024,FR,09/12/2018,5,F,189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3658,13361617,F-9240001664,NBBIDX,7024,FR,09/12/2018,5,F,73.659528,Marni|NIXON,BERLIN / PARIS,First,BERLIN / PARIS,BOLIVIE,AIR FRANCE,12/19/2018,12/19/2018,FR,NIKE,NIKE
3660,13362231,A-9240000129,NBBKG5,7024,FR,09/12/2018,5,A,-189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/12/2018,12/12/2018,FR,NIKE,NIKE
3663,13362234,A-9240000140,NBBIDX,7024,FR,09/12/2018,5,A,-73.659528,Marni|NIXON,BERLIN / PARIS,Economy,BERLIN / PARIS,FRANCE,AIR FRANCE,12/19/2018,12/19/2018,FR,NIKE,NIKE
3672,13391533,F-9240001420,S4BP6M,7024,FR,09/14/2018,5,F,189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3674,13394523,F-9240001452,S9YGPH,7024,FR,09/14/2018,5,F,126.350648,Marni|NIXON,BRUXELLES / AMSTERDAM / PARIS,Economy,BRUXELLES / PARIS,FRANCE,AIR FRANCE,01/17/2019,01/17/2019,FR,NIKE,NIKE
3676,13395109,A-9240000155,S4BP6M,7024,FR,09/14/2018,5,A,-189.733980,Marni|NIXON,PARIS / MARSEILLE,Economy,PARIS / MARSEILLE,FRANCE,AIR FRANCE,12/13/2018,12/13/2018,FR,NIKE,NIKE
3679,13395112,A-9240000156,S9YGPH,7024,FR,09/14/2018,5,A,-126.350648,Marni|NIXON,BRUXELLES / AMSTERDAM / PARIS,Economy,BRUXELLES / PARIS,FRANCE,AIR FRANCE,01/17/2019,01/17/2019,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1835,13363191,F-9240001654,NBO8MW,7026,FR,09/12/2018,2,F,43.824408,Marty|BALIN,Reservation IBIS STRASBOURG NORD HAGUENAU,STRASBOURG,STRASBOURG / STRASBOURG,FRANCE,IBIS STRASBOURG NORD HAGUENAU,09/19/2018,09/21/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1872,13443991,F-9240002219,NAE42H,7026,FR,09/20/2018,4,F,91.274978,Michel|FUGAIN,Location Voiture AVIS AJACCIO,AJACCIO (FR),AJACCIO (FR) / AJACCIO (FR),FRANCE,AVIS,09/11/2018,09/13/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1765,13262375,A-9240000092,VN2NEU,7026,FR,09/04/2018,1,A,-13.101374,Patrick|BRUEL,Remboursement PARIS (FR) / FLEURY LES AUBRAIS ...,NaN,PARIS (FR) / FLEURY LES AUBRAIS (FR),FRANCE,SNCF,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1766,13262376,A-9240000092,VN2NEU,7026,FR,09/04/2018,1,A,-35.392338,Patrick|BRUEL,Remboursement STRASBOURG (FR) / PARIS (FR),NaN,STRASBOURG (FR) / PARIS (FR),FRANCE,SNCF,09/07/2018,09/07/2018,FR,NIKE,CONVERSE
1769,13266930,F-9240001254,VN2NEU,7026,FR,09/04/2018,1,F,67.369627,Patrick|BRUEL,STRASBOURG (FR) / PARIS (FR) / FLEURY LES AUBR...,NaN,STRASBOURG (FR) / FLEURY LES AUBRAIS (FR),FRANCE,SNCF,09/06/2018,09/06/2018,FR,NIKE,CONVERSE
1798,13319573,F-9240001461,VF6HQW,7026,FR,09/10/2018,4,F,136.018345,Patrick|BRUEL,Location Voiture AVIS STRASBOURG,STRASBOURG (FR),STRASBOURG (FR) / STRASBOURG (FR),FRANCE,AVIS,09/04/2018,09/06/2018,FR,NIKE,CONVERSE
1838,13379360,F-9240001545,PGOUGE,7026,FR,09/13/2018,1,F,53.585242,Patrick|BRUEL,STRASBOURG (FR) / PARIS (FR) / FLEURY LES AUBR...,NaN,STRASBOURG (FR) / FLEURY LES AUBRAIS (FR),FRANCE,SNCF,09/20/2018,09/20/2018,FR,NIKE,CONVERSE
1839,13379361,F-9240001545,PGOUGE,7026,FR,09/13/2018,1,F,53.585242,Patrick|BRUEL,FLEURY LES AUBRAIS (FR) / PARIS (FR) / STRASBO...,NaN,FLEURY LES AUBRAIS (FR) / STRASBOURG (FR),FRANCE,SNCF,09/17/2018,09/17/2018,FR,NIKE,CONVERSE
1886,13462771,F-9240002246,VCPN7I,7026,FR,09/21/2018,1,F,434.021835,Patrick|BRUEL,FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,SNCF,09/21/2018,09/20/2019,FR,NIKE,CONVERSE
1888,13465315,A-9240000195,VCPN7I,7026,FR,09/21/2018,1,A,-434.021835,Patrick|BRUEL,Annulation FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,SNCF,09/21/2018,09/20/2019,FR,NIKE,CONVERSE
1890,13466401,F-9240002291,VPOUSV,7026,FR,09/21/2018,1,F,434.021835,Patrick|BRUEL,FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,SNCF,11/18/2018,11/18/2018,FR,NIKE,CONVERSE
1891,13466402,F-9240002291,VPOUSV,7026,FR,09/21/2018,1,F,0.000000,Patrick|BRUEL,FRANCE_ENTIERE 1 An,NaN,PARIS (FR) / PARIS (FR),FRANCE,SNCF,11/18/2018,11/18/2018,FR,NIKE,CONVERSE
1926,13513100,F-9240002652,U6QB3U,7026,FR,09/26/2018,1,F,53.585242,Patrick|BRUEL,STRASBOURG (FR) / PARIS (FR) / FLEURY LES AUBR...,NaN,STRASBOURG (FR) / FLEURY LES AUBRAIS (FR),FRANCE,SNCF,10/04/2018,10/04/2018,FR,NIKE,CONVERSE
1927,13513101,F-9240002652,U6QB3U,7026,FR,09/26/2018,1,F,53.585242,Patrick|BRUEL,FLEURY LES AUBRAIS (FR) / PARIS (FR) / STRASBO...,NaN,FLEURY LES AUBRAIS (FR) / STRASBOURG (FR),FRANCE,SNCF,10/01/2018,10/01/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1851,13402933,F-9240001912,SBJBB8,7026,FR,09/17/2018,2,F,62.507837,Phife|DAWG,Reservation IBIS BORDEAUX PESSAC,BORDEAUX,BORDEAUX / BORDEAUX,FRANCE,ACCOR HOTELS,09/10/2018,09/11/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1870,13443987,F-9240002215,SEVFIC,7026,FR,09/20/2018,4,F,93.361263,Pierre|BACHELET,Location Voiture AVIS BREMEN,BREMEN (DE),BREMEN (DE) / BREMEN (DE),ALLEMAGNE,AVIS,09/10/2018,09/13/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1856,13415339,F-9240002022,UW5K6M,7026,FR,09/18/2018,2,F,102.935822,Richard|COWAN,Reservation BEST WESTERN SAINT LOUIS,PARIS,PARIS / PARIS,FRANCE,BEST WESTERN SAINT LOUIS,10/04/2018,10/05/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1876,13446884,F-9240002222,SPWTUR,7026,FR,09/20/2018,5,F,70.436963,Roy|ORBISON,GOTHENBURG / PARIS / OSLO,Economy,GOTHENBURG / OSLO,NORVEGE,AIR FRANCE,10/24/2018,01/24/2019,FR,NIKE,CONVERSE
1877,13446885,F-9240002222,UBD6NO,7026,FR,09/20/2018,5,F,337.233103,Roy|ORBISON,PARIS / COPENHAGEN - OSLO / PARIS,Premium,PARIS / COPENHAGEN,NORVEGE,AIR FRANCE,10/22/2018,01/22/2019,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
3691,13467319,F-9240002402,VS7KVJ,7024,FR,09/21/2018,5,F,358.580271,Savannah|CHURCHILL,PARIS / MONTPELLIER AR,Economy,PARIS / MONTPELLIER,FRANCE,AIR FRANCE,09/26/2018,09/27/2018,FR,NIKE,NIKE
3693,13467325,F-9240002405,VS7KVJ,7024,FR,09/21/2018,2,F,123.531680,Savannah|CHURCHILL,Reservation MERCURE GRANDE MOTTE PORT 3*,MONTPELLIER,MONTPELLIER / MONTPELLIER,FRANCE,ACCOR HOTELS,09/26/2018,09/27/2018,FR,NIKE,NIKE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1894,13468314,F-9240002411,VTANPK,7026,FR,09/21/2018,1,F,8.692855,Scott|MCKENZIE,PARIS (FR) / FLEURY LES AUBRAIS (FR),NaN,PARIS (FR) / FLEURY LES AUBRAIS (FR),FRANCE,SNCF,10/09/2018,10/09/2018,FR,NIKE,CONVERSE
1895,13468315,F-9240002411,VTANPK,7026,FR,09/21/2018,2,F,96.801150,Scott|MCKENZIE,Reservation IBIS PARIS ALESIA MONTPARNASSE,PARIS,PARIS / PARIS,FRANCE,ACCOR HOTELS,10/08/2018,10/09/2018,FR,NIKE,CONVERSE
1896,13468316,F-9240002411,VTANPK,7026,FR,09/21/2018,1,F,8.692855,Scott|MCKENZIE,FLEURY LES AUBRAIS (FR) / PARIS (FR),NaN,FLEURY LES AUBRAIS (FR) / PARIS (FR),FRANCE,SNCF,10/08/2018,10/08/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1911,13494908,F-9240002522,RCWHYG,7026,FR,09/25/2018,1,F,60.229067,Tammy|GRIMES,LYON (FR) / PARIS (FR),NaN,LYON (FR) / PARIS (FR),FRANCE,SNCF,10/01/2018,10/01/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1914,13495602,F-9240002525,RE3DYA,7026,FR,09/25/2018,1,F,58.987231,Teena|MARIE,STRASBOURG (FR) / MASSY (FR),NaN,STRASBOURG (FR) / MASSY (FR),FRANCE,SNCF,10/02/2018,10/02/2018,FR,NIKE,CONVERSE
1918,13503491,F-9240002552,RE3DYA,7026,FR,09/25/2018,2,F,39.384843,Teena|MARIE,Reservation NOVOTEL ORLEANS CHARBONNIERE,ORLEANS,ORLEANS / ORLEANS,FRANCE,ACCOR HOTELS,10/02/2018,10/05/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1931,13535628,F-9240002520,NaN,7026,FR,09/27/2018,2,F,115.068564,Troy|GENTRY,Location,BIRMINGHAM,/ BIRMINGHAM,ROYAUME-UNI,HILTON PARIS CDG,08/28/2018,08/29/2018,FR,NIKE,CONVERSE

,id,numero_facture,pnr,client_id,pays_x,date_facturation,activite,type,montant_vente,nom_voyageur,description,description_2,trajet_origine_destination,pays_destination,prestataire,date_depart,date_retour,pays_y,nom_groupe,nom_entite
1779,13274110,F-9240001212,OJDQN2,7026,FR,09/05/2018,2,F,33.150824,Yannick|NOAH,Reservation PENTAHOTEL AIRPORT BRUSSELS,BRUXELLES,BRUXELLES / BRUXELLES,BELGIQUE,PENTAHOTEL AIRPORT BRUSSELS,09/11/2018,09/13/2018,FR,NIKE,CONVERSE

KeyError: 'nom_voyageur'

### Potential Saving:

In [106]:
# SQL query:
saving = pd.read_sql_query("select case when f.trajet_origine_destination = 'ZURICH / STOCKHOLM' then round(sum(f.montant_vente * 3), 2) else round(sum(f.montant_vente), 2) end as expenses from facturation_test f inner join algo_test a on f.numero_client = a.id where a.nom_groupe = 'AFFLELOU'", engine)
saving

    expenses
0  251934.51

In [111]:
py_destination = merged.query('nom_groupe == "AFFLELOU" and trajet_origine_destination == "ZURICH / STOCKHOLM"')
py_destination_sum = py_destination['montant_vente'].sum()
round(py_destination_sum, 2)

4906.25