In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.billboard.com/charts/hot-100/'
results = requests.get(url, headers = {"Accept-Language": "en-US"})

In [4]:
results.status_code    # all good so far

200

In [5]:
soup = BeautifulSoup(results.text, 'html.parser')

In [1]:
# print(soup.prettify())

In [68]:
# getting the song title from the top position:

soup.select('h3.c-title.a-no-trucate')[0].get_text(strip = True)

"We Don't Talk About Bruno"

In [69]:
# getting the artist/band from the top position:

soup.select('span.c-label.a-no-trucate')[0].get_text(strip = True)

'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast'

In [70]:
# Creating a FOR loop to collect the song title and the artist:

song = []
artist = []
len_songs = len(soup.select('h3.c-title.a-no-trucate'))

In [71]:
len_songs

100

In [72]:
for i in range(len_songs):
    song.append(soup.select('h3.c-title.a-no-trucate')[i].get_text(strip = True))
    artist.append(soup.select('span.c-label.a-no-trucate')[i].get_text(strip = True))

In [73]:
import pandas as pd

In [74]:
songs = pd.DataFrame({"song": song, "artist": artist})

In [75]:
songs

,song,artist
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz..."
1,Heat Waves,Glass Animals
2,Easy On Me,Adele
3,abcdefu,GAYLE
4,Stay,The Kid LAROI & Justin Bieber
...,...,...
95,All Too Well (Taylor's Version),Taylor Swift
96,Come Back As A Country Boy,Blake Shelton
97,Iffy,Chris Brown
98,Home Sweet,Russell Dickerson
99,Too Easy,Gunna & Future

In [76]:
songs['song_rank'] = np.arange(len(songs)) + 1

In [77]:
songs

,song,artist,song_rank
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1
1,Heat Waves,Glass Animals,2
2,Easy On Me,Adele,3
3,abcdefu,GAYLE,4
4,Stay,The Kid LAROI & Justin Bieber,5
...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,96
96,Come Back As A Country Boy,Blake Shelton,97
97,Iffy,Chris Brown,98
98,Home Sweet,Russell Dickerson,99
99,Too Easy,Gunna & Future,100

In [79]:
col_names = ['song_rank', 'song', 'artist']
songs = songs.reindex(columns=col_names)

In [80]:
songs

,song_rank,song,artist
0,1,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz..."
1,2,Heat Waves,Glass Animals
2,3,Easy On Me,Adele
3,4,abcdefu,GAYLE
4,5,Stay,The Kid LAROI & Justin Bieber
...,...,...,...
95,96,All Too Well (Taylor's Version),Taylor Swift
96,97,Come Back As A Country Boy,Blake Shelton
97,98,Iffy,Chris Brown
98,99,Home Sweet,Russell Dickerson
99,100,Too Easy,Gunna & Future